@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.quote-body {
	border-left: px-to-rem(5px) solid $primary;
	padding-left: px-to-rem( 20px );
}

.quote-text {
	font-style: italic;
	color: $secondary;
}

.quote-author-name {
	font-family: inherit;
}
.quote-author-position {
	font-size: $font-size-sm;
}



// Spacing
* + .quote {
	margin-top: px-to-rem( 30px );
}

* + .quote-author {
	margin-top: px-to-rem( 25px );
}


// Quote boxed
.quote-boxed {
	text-align: left;
	padding: px-to-rem( 30px );
	border-radius: 0;
	background-color: $white;
  	box-shadow: 0px 18px 20px rgba(41, 48, 67, 0.1);
}

.quote-boxed-1 {
	margin-top: px-to-rem( 60px );
}

.quote-boxed-2 {
	margin-top: px-to-rem( 40px );
}

.quote-boxed-text {
	display: inline-block;

	&::before {
		display: inline-block;
		padding-top: px-to-rem( 8px );
		font-size: px-to-rem( 40px );
		line-height: .8;
		color: $secondary;
	}
}

// Simple
.quote-simple {
  background-color: $white;
  .quote-icon {
	position: absolute;
	top: px-to-rem(-17px);
	left: px-to-rem(43px);
	transform: translateX(50%);

  }
  .quote-body {
	border: none;
	padding: px-to-rem(54px, 43px);
  }
  .quote-text {
	quotes: none;
	font-size: $font-size-sm;
	font-weight: normal;
	font-style: normal;
	color: $third;
  }

  .quote-author {
	margin-top: px-to-rem(23px);
	font-style: italic;
	color: $secondary;
  }
}

// Media
@include media-breakpoint-up(xxl) {
	.quote-boxed {
		padding: px-to-rem( 40px, 50px, 50px );
	}

	.quote-boxed-text::before {
		font-size: px-to-rem( 60px );
	}

	* + .quote {
		margin-top: px-to-rem( 40px );
	}
}
