// Base
.card-default {
	text-align: left;
	border-bottom: $border-width solid $border-color;

	&:last-child {
		border-bottom-color: transparent;
	}

	.card-title a {
		position: relative;
		z-index: 1;
		padding: $accordion-default-header-padding;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: -0.02em;
		color: $accordion-default-color;
		transition: $transition-base;

		&:hover {
			color: $primary;
		}

		// Open state
		.card-arrow {
			color: $gray-700;

			&:before {
				content: '\f239';
			}
		}

		// Collapsed state
		&.collapsed {
			.card-arrow {
				color: rgba($gray-700, .4);

				&:before {
					content: '\f236';
				}
			}
		}
	}

	// Panel arrow
	.card-arrow {
		position: absolute;
		display: inline-flex;
		display: none;
		align-items: center;
		justify-content: center;
		top: 0;
		bottom: 0;
		right: 0;
		width: px-to-rem( 52px );
		transition: .3s ease;
		z-index: 2;

		&::before {
			position: absolute;
			top: 50%;
			z-index: 4;
			transform: translateY(-50%);
			font-family: 'Material Design Icons';
		}
	}

	.collapse {
		position: relative;
		z-index: 1;
		color: $accordion-default-content-color;
	}

	.card-body {
		padding: $accordion-default-content-padding;
		background: transparent;
	}
}


// Media
@include media-breakpoint-up( xxl ) {
	.card-default {
		.card-title a {
			font-size: px-to-rem( 28px );
		}
	}
}