//
// Custom utilities
// --------------------------------------------------

// Helpers
// -------------------------
.relative {
  position: relative;
}

.static {
  position: static;
}

.block-top-level {
  position: relative;
  z-index: 3;
}

.height-fill {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(stretch);

  > * {
    @include flex-grow(1);
  }
}

.centered {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}

.align-bottom {
  @include align-self(flex-end);
}

.block-centered {
  margin-left: auto;
  margin-right: auto;
}

.responsive-centered {
  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: auto;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.page .white-space-normal {
  white-space: normal;
}

// Main Layout
// -------------------------
* + h1,
* + .h1 {
  margin-top: 10px;
}

* + h2,
* + .h2 {
  margin-top: 15px;
}

* + h3,
* + .h3 {
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    margin-top: 27px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 34px;
  }
}

* + h4,
* + .h4 {
  margin-top: 20px;
}

* + h5,
* + .h5 {
  margin-top: 17px;
}

* + h6,
* + .h6 {
  margin-top: 15px;
}

h1 + *,
.h1 + * {
  margin-top: 20px;
}

h2 + *,
.h2 + * {
  margin-top: 15px;
}

h2 + h5 {
	margin-top: 30px;
	@include media-breakpoint-up(xl) {
		margin-top: 60px;
	}
}

h2 + .row-sm {
	margin-top: 30px;
	@include media-breakpoint-up(md) {
		margin-top: 40px;
	}
}

h3 + *,
.h3 + * {
  margin-top: 30px;
}

h4 + *,
.h4 + * {
  margin-top: 25px;
}

h5 + *,
.h5 + * {
  margin-top: 15px;
	@include media-breakpoint-up(md) {
		margin-top: 20px;
	}
}

h5 + p {
	margin-top: 30px;
	@include media-breakpoint-up(md) {
		margin-top: 40px;
	}
}

.footer-default h5 + .list-xs, .h5 + .list-xs {
	margin-top: 40px;
}

h6 + *,
.h6 + * {
  margin-top: 10px;
}

* + p,
* + .p {
  margin-top: 14px;
}

hr + * {
  margin-top: 18px;
  @include media-breakpoint-up(xl) {
    margin-top: 26px;
  }
}

.divider-xl {
	margin-top: 70px;
	@include media-breakpoint-up(md) {
		margin-top: 100px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 120px;
	}
	@include media-breakpoint-up(xl) {
		margin-top: 140px;
	}
	@include media-breakpoint-up(xxl) {
		margin-top: 180px;
	}
}

p + p {
  margin-top: 20px;
}
@include media-breakpoint-up(md) {
	p + p {
		margin-top: 30px;
	}
}

* + .big {
  margin-top: 6px;
}

* + .text-large {
  margin-top: 10px;
}

* + .text-bigger {
  margin-top: 28px;
}

* + .btn {
  margin-top: 30px;

  @include media-breakpoint-up(xl) {
    margin-top: 60px;
  }
}

* + .link {
  margin-top: 18px;
}

* + .contact-info {
  margin-top: 16px;
}

* + .list-inline {
  margin-top: 32px;
}

* + .list-terms {
  margin-top: 42px;

  @include media-breakpoint-up(xl) {
    margin-top: 62px;
  }
}

* + .list-marked,
* + .list-ordered {
  margin-top: 22px;
}
* + .list-marked-variant-2 {
	margin-top: 20px
}

@include media-breakpoint-up(md) {
	* + .list-marked-variant-2 {
		margin-top: 30px
	}
}

* + .link-wrap {
  margin-top: 8px;
}

* + .link-iconed {
  margin-top: 2px;
}
* + .footer-list {
	margin-top: 40px;
	@include media-breakpoint-up(md) {
		margin-top: 60px;
	}
}

// Misc
// -------------------------
.contact-info {
  color: $gray-400;
  vertical-align: baseline;

  a {
    display: inline-block;
  }

  dl {
    dt, dd {
      display: inline-block;
    }

    dt:after {
      content: ':';
      display: inline-block;
      text-align: center;
    }
  }

  .dl-inline {
    dt {
      padding-right: 0;
    }
  }
}

.grid-system {
  p {
    color: $primary;
  }
  @include media-breakpoint-down(xl) {
    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.object-inline,
.object-inline-baseline {
  white-space: nowrap;
  > * + * {
    margin-top: 0;
    margin-left: 5px;
  }
}

.object-inline {
  vertical-align: middle;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.object-inline-baseline {
  vertical-align: baseline;

  > * {
    display: inline-block;
    vertical-align: baseline;
  }
}

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;

  [class*='col'] {
    padding: 0;
  }
}

.text-width-1 {
  max-width: 400px;
  @include media-breakpoint-up(lg) {
    max-width: 310px;
  }
}

.min-width-1 {
  min-width: 100%;
  @include media-breakpoint-up(sm) {
    min-width: 270px;
  }
}

.img-shadow {
  box-shadow: -3px 2px 4px 0px rgba($black, 0.58);
  @include media-breakpoint-up(md) {
    box-shadow: -5px 4px 8px 0px rgba($black, 0.58);
  }
}

.row + .row-sm {
	margin-top: 30px;
}
.row + .row-xs {
	margin-top: 0;
}


@include media-breakpoint-up(xl) {
	p + .row {
		margin-top: 70px;
	}

	h1 + .row {
		margin-top: 60px;
	}
	.row + .row {
		margin-top: 60px;
	}
	.row + .row-xs {
		margin-top: 0;
	}
	.row + .row-sm {
		margin-top: 30px;
	}
	.row + .row-xl {
		margin-top: 60px;
	}
	.row + .row-xxl {
		margin-top: 70px;
	}
	.row + .row-xxxl {
		margin-top: 90px;
	}
	.row + .row-4xl {
		margin-top: 150px;
	}
}

@include media-breakpoint-up(xxl) {
	.row + .row-xl {
		margin-top: 90px;
	}
	.row + .row-xxl {
		margin-top: 120px;
	}
	.row + .row-xxxl {
		margin-top: 140px;
	}
	.row + .row-4xl {
		margin-top: 190px;
	}
}