@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.footer {
	padding: 60px 0;
	background-position: 50% 100%;
	background-size: contain;
	background-image: url(../../images/bg-02.jpg);
	background-repeat: repeat-x;

	@include media-breakpoint-up(md) {
		padding: 100px 0;
	}

	@include media-breakpoint-up(xl) {
		padding: 220px 0 150px;
		font-size: 18px;
	}

	.logo + * {
		margin-top: 35px;
	}

	a {
		color: inherit;

		&:hover {
			opacity: .7;
		}
	}

	.logo-link {
		&:hover {
			opacity: 1;
		}
	}
}

.footer-contacts {
	& + & {
		margin-top: 31px;
	}
}

.footer-nav-list {
	li + li {
		margin-top: 12px;
	}
}
