@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.thumbnail {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $border-radius;

	&::after {
	  position: absolute;
	  content: '';
		width: px-to-rem( 70px );
		height: px-to-rem( 70px );
		background: $primary;
		border-radius: 50%;
		transition: $transition-base;
		opacity: .5;
	}
}

.thumbnail-image {
	width: 100%;
	border-radius: inherit;
}

.thumbnail-icon {
	position: absolute;
	font-size: px-to-rem( 40px );
	line-height: 1;
	color: $white;
	transition: $transition-base;
	z-index: 1;
}


// Contexts
.desktop {
	.thumbnail {
		&::after {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: auto;
			height: auto;
			border-radius: inherit;
		  opacity: 0;
		}
	}

	.thumbnail-icon {
		transform: rotate( -60deg ) scale( .5 );
		opacity: 0;
	}

	.thumbnail:hover {
		&::after {
			opacity: .5;
		}

		.thumbnail-icon {
			transform: none;
			opacity: 1;
		}
	}
}
