//
// Custom utilities
// --------------------------------------------------

// Helpers
// -------------------------
.relative {
  position: relative;
}

.static {
  position: static;
}

.block-top-level {
  position: relative;
  z-index: 3;
}

.height-fill {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > * {
    flex-grow: 1;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-bottom {
  @include align-self(flex-end);
}

.block-centered {
  margin-left: auto;
  margin-right: auto;
}

.responsive-centered {
  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: auto;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.page .white-space-normal {
  white-space: normal;
}



// Misc
// -------------------------
.contact-info {
  color: $black;
  vertical-align: baseline;

  a {
    display: inline-block;
  }

  dl {
    dt, dd {
      display: inline-block;
    }

    dt:after {
      content: ':';
      display: inline-block;
      text-align: center;
    }
  }

  .dl-inline {
    dt {
      padding-right: 0;
    }
  }
}

.grid-system {
  p {
    color: $black;
  }
  @include media-breakpoint-down(xl) {
    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.object-inline,
.object-inline-baseline {
  white-space: nowrap;
  > * + * {
    margin-top: 0;
    margin-left: 5px;
  }
}

.object-inline {
  vertical-align: middle;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.object-inline-baseline {
  vertical-align: baseline;

  > * {
    display: inline-block;
    vertical-align: baseline;
  }
}

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;

  [class*='col'] {
    padding: 0;
  }
}

.text-width-1 {
  max-width: 400px;
  @include media-breakpoint-up(lg) {
    max-width: 310px;
  }
}

.min-width-1 {
  min-width: 100%;
  @include media-breakpoint-up(sm) {
    min-width: 270px;
  }
}

.img-shadow {
  box-shadow: -3px 2px 4px 0px rgba($black, 0.58);
  @include media-breakpoint-up(md) {
    box-shadow: -5px 4px 8px 0px rgba($black, 0.58);
  }
}

.shadow-panel {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.image-wrap-default {
  border: 1px solid $porcelain;
  padding: 16px;
}

.video-wrap {
  position: relative;
  box-shadow: 0 10px 18px 0 rgba($tuatara, .35);
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: rgba($tuatara, .5);
  }
  
  .link-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .link-circle.link-white {
    &:hover {
      color: $white;
      box-shadow: 0 0 30px rgba($white, .8);
    }
  }
}

html .page {
  .border-radius-0 {
    border-radius: 0;
  }
}

.container-fullwidth {
  max-width: 100%;
}

.container + .container { margin-top: 30px; }