@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/modal";

.modal-content {
  border-radius: $border-radius;
}
.form-modal {
  margin-top: px-to-rem(10px);
}

.modal-body {
  padding: px-to-rem(25px,12px,25px,12px);
  @include media-breakpoint-up(md) {
	padding: px-to-rem(35px,22px,35px,22px);
  }
}

.modal-header {
	padding: px-to-rem(20px);
  border-radius: $border-radius $border-radius 0 0;
  background: $primary;
  > * {color: $white};
}

.modal-content {
  border: 0;
}

.btn-close:hover{
	color: $secondary;
}