@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
p.rights {


	* + & {
		margin-top: 40px;

		@include media-breakpoint-up(md) {
			margin-top: 60px;
		}

		@include media-breakpoint-up(xl) {
			margin-top: 85px;
		}

		@include media-breakpoint-up(xxl) {
			margin-top: 150px;
		}
	}
}

.footer-info {

}
