// Element-groups

@mixin element-groups-custom($offset, $translate-offset) {
  margin-bottom: -$translate-offset;
  margin-left: -$translate-offset;

  > * {
    display: inline-block;
    margin-top: 0;
    margin-bottom: $offset;
    margin-left: $offset;
  }
}