<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chapter & Verse e book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.min.js"></script>
    <script src="components/base/script.js"></script>
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap bg-primary">
          <nav class="rd-navbar rd-navbar-primary" data-rd-navbar="{&quot;responsive&quot;:{&quot;1200&quot;:{&quot;autoHeight&quot;:false}}}">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap rd-navbar-main-element-1">
                        <ul class="rd-navbar-nav">
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#about">About</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#author">Author</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#reviews">Reviews</a>
                          </li>
                        </ul>
                </div>
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                          <!-- Logo-->
                          <div class="logo"><a class="logo-link" href="index.html"><img class="logo-image-default" src="images/logo-default-292x106.png" alt="Chapter & Verse" width="146" height="53"/><img class="logo-image-inverse" src="images/logo-inverse-292x106.png" alt="Chapter & Verse" width="146" height="53"/></a></div>
                  </div>
                </div>
                <div class="rd-navbar-collapse rd-navbar-main-element-1 text-lg-right">
                  <button class="btn btn-round btn-nuka text-primary" data-modal-trigger='{"target":"#modal"}'>Download<span class="btn-overlay"></span></button>
                </div>
              </div>
            </div>
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
          </nav>
        </div>
      </header>
      <!-- Intro-->
      <section class="section section-md bg-100 text-center text-md-left position-relative pb-1">
        <div class="bg-layer bg-primary" style="bottom: 16%"></div>
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-md-between">
            <div class="col-md-6 mt-xl-5 context-dark" style="z-index: 1" data-animate='{"class":"fadeInUp"}'>
              <h4 class="text-uppercase">Adam Smith</h4>
              <h1>Chapter & Verse: the art of corporate success</h1>
              <p class="lead">Discover the success formula of modern businesses through the stories told by popular CEOs and compiled together by Adam Smith.</p>
              <div class="offset-sm d-md-none d-lg-block">
                <h4>This book is useful for:</h4>
                <p class="lead">young entrepreneurs, business management experts & enthusiasts.</p>
              </div>
              <div class="offset-md">
                <button class="btn btn-round btn-dark btn-nuka" data-modal-trigger='{"target":"#modal"}'>Download The Book<span class="btn-overlay"></span></button>
              </div>
            </div>
            <div class="col-8 col-xs-6 col-md-5 d-flex align-items-center justify-content-center" data-animate='{"class":"fadeInUp"}'><img class="flex-shrink-0" src="images/products/product-01-943x869.png" alt="" width="943" height="869" style="max-width: 191%;"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Learn how to-->
      <section class="section section-lg bg-100 pt-5" id="about" style="padding-bottom: 13%;">
        <div class="container">
          <div class="row row-30 row-lg-40">
            <div class="col-12" data-animate='{"class":"fadeInUp"}'>
              <h2>Learn how to:</h2>
            </div>
            <div class="col-lg-5 col-xl-4" data-animate='{"class":"fadeInUp"}'>
              <h4 class="text-primary">Manage a company and get better understanding of every aspect involved in it, from hiring people to strategical planning and investment management.</h4>
            </div>
            <div class="col-lg-7 col-xl-8" data-animate='{"class":"fadeInUp"}'>
              <div class="row row-30 row-xl-50">
                <div class="col-xs-6">
                        <svg class="lin lin-icon lin-check icon icon-lg icon-primary" width="43" height="36" viewBox="0 0 43 36" fill="none">
                          <path d="M43 3.13043L41.5667 0C38.9688 1.20652 36.4156 2.6413 33.9073 4.30435C31.4288 5.93478 29.0399 7.71196 26.7406 9.63587C24.4413 11.5272 22.2465 13.5163 20.1562 15.6033C18.066 17.6902 16.125 19.7935 14.3333 21.913L4.3 14.087L0 18.7826L14.3333 36C15.9757 32.837 17.7674 29.7065 19.7083 26.6087C21.6493 23.5109 23.7844 20.5435 26.1135 17.7065C28.4726 14.8696 31.0406 12.212 33.8177 9.7337C36.6247 7.25543 39.6854 5.05435 43 3.13043Z" fill="#E71B3D"></path>
                        </svg>
                  <p class="lead mt-3">Use the management techniques that will help you run your company efficiently.</p>
                </div>
                <div class="col-xs-6">
                        <svg class="lin lin-icon lin-check icon icon-lg icon-primary" width="43" height="36" viewBox="0 0 43 36" fill="none">
                          <path d="M43 3.13043L41.5667 0C38.9688 1.20652 36.4156 2.6413 33.9073 4.30435C31.4288 5.93478 29.0399 7.71196 26.7406 9.63587C24.4413 11.5272 22.2465 13.5163 20.1562 15.6033C18.066 17.6902 16.125 19.7935 14.3333 21.913L4.3 14.087L0 18.7826L14.3333 36C15.9757 32.837 17.7674 29.7065 19.7083 26.6087C21.6493 23.5109 23.7844 20.5435 26.1135 17.7065C28.4726 14.8696 31.0406 12.212 33.8177 9.7337C36.6247 7.25543 39.6854 5.05435 43 3.13043Z" fill="#E71B3D"></path>
                        </svg>
                  <p class="lead mt-3">Develop a marketing strategy to attract more potential customers.</p>
                </div>
                <div class="col-xs-6">
                        <svg class="lin lin-icon lin-check icon icon-lg icon-primary" width="43" height="36" viewBox="0 0 43 36" fill="none">
                          <path d="M43 3.13043L41.5667 0C38.9688 1.20652 36.4156 2.6413 33.9073 4.30435C31.4288 5.93478 29.0399 7.71196 26.7406 9.63587C24.4413 11.5272 22.2465 13.5163 20.1562 15.6033C18.066 17.6902 16.125 19.7935 14.3333 21.913L4.3 14.087L0 18.7826L14.3333 36C15.9757 32.837 17.7674 29.7065 19.7083 26.6087C21.6493 23.5109 23.7844 20.5435 26.1135 17.7065C28.4726 14.8696 31.0406 12.212 33.8177 9.7337C36.6247 7.25543 39.6854 5.05435 43 3.13043Z" fill="#E71B3D"></path>
                        </svg>
                  <p class="lead mt-3">Analyze your business efficiency with the methods used by leading experts.</p>
                </div>
                <div class="col-xs-6">
                        <svg class="lin lin-icon lin-check icon icon-lg icon-primary" width="43" height="36" viewBox="0 0 43 36" fill="none">
                          <path d="M43 3.13043L41.5667 0C38.9688 1.20652 36.4156 2.6413 33.9073 4.30435C31.4288 5.93478 29.0399 7.71196 26.7406 9.63587C24.4413 11.5272 22.2465 13.5163 20.1562 15.6033C18.066 17.6902 16.125 19.7935 14.3333 21.913L4.3 14.087L0 18.7826L14.3333 36C15.9757 32.837 17.7674 29.7065 19.7083 26.6087C21.6493 23.5109 23.7844 20.5435 26.1135 17.7065C28.4726 14.8696 31.0406 12.212 33.8177 9.7337C36.6247 7.25543 39.6854 5.05435 43 3.13043Z" fill="#E71B3D"></path>
                        </svg>
                  <p class="lead mt-3">Build your business brand to effectively connect with your target customers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Author-->
      <section class="section section-lg bg-transparent" id="author" style="padding-top: 7.4%;">
        <div class="container">
          <div class="row row-50 justify-content-between">
            <div class="col-8 col-xs-6 col-md-4 col-lg-5">
              <div class="author block block-lg block-center" style="margin-top: -13.4vw" data-animate='{"class":"fadeInUp"}'><img class="author-image" src="images/persons/person-01-420x470.jpg" alt="" width="420" height="470"/><img class="author-signature mt-0" src="images/image-01-294x167.png" alt="" width="294" height="167"/>
              </div>
            </div>
            <div class="col-md-7 col-lg-6" data-animate='{"class":"fadeInUp"}'>
              <h1>Adam Smith</h1>
              <p class="lead">Adam Smith was born in Boston, MA in 1985 to a family of an English teacher and car mechanic. Since his childhood, he’s been obsessed with reading books. He received the BA in Journalism in 1995 and had worked as a journalist in business magazines.</p>
              <p class="lead">His professional background proved to be useful when he decided to write his first book about the world of modern business, “Chapter & Verse”.</p>
              <div class="offset-md group-30 d-flex flex-wrap align-items-center">
                <h4 class="text-primary">Awards:</h4>
                <div>
                  <div class="group-30"><img src="images/awards/award-01-83x97.png" alt="" width="83" height="97"/><img src="images/awards/award-02-83x97.png" alt="" width="83" height="97"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- CTA-->
      <section class="section section-lg context-dark position-relative pb-1">
        <div class="bg-layer bg-primary" style="bottom: 15%"></div>
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-lg-7" style="z-index: 1" data-animate='{"class":"fadeInUp"}'>
              <h2>#1 eBook For Your Business</h2>
              <h4>It’s time  to improve your business practice. Download Chapter & Verse for free today and discover what your business needs.</h4>
              <div class="offset-md">
                <button class="btn btn-round btn-nuka text-primary" data-modal-trigger='{"target":"#modal"}'>Download The Book<span class="btn-overlay"></span></button>
              </div>
            </div>
            <div class="col-8 col-xs-6 col-lg-5 d-flex align-items-center justify-content-center mr-5 mt-lg-5 mr-lg-0" data-animate='{"class":"fadeInUp"}'><img src="images/products/product-02-904x386.png" alt="" width="904" height="386" style="max-width: 181%;"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonials-->
      <section class="section section-lg bg-transparent text-center" id="reviews">
        <div class="container">
          <div data-animate='{"class":"fadeInUp"}'>
                  <!-- Counter default-->
                  <article class="counter-default">
                    <div class="counter-default-main h1 text-primary"><span class="counter" data-counter="">2000</span><span class="counter-postfix">+</span>
                    </div>
                  </article>
            <h2 class="mt-3">Happy readers</h2>
          </div>
          <div class="row row-offset-md justify-content-center">
            <div class="col-xl-10">
              <div class="mx-3">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-style-5" data-owl="{&quot;items&quot;:1,&quot;margin&quot;:20,&quot;slideTransition&quot;:&quot;linear&quot;,&quot;autoplayTimeout&quot;:4500,&quot;autoplaySpeed&quot;:4500,&quot;responsive&quot;:{&quot;768&quot;:{&quot;items&quot;:2}}}">
                        <!-- Quote boxed-->
                        <article class="quote quote-boxed novi-bg quote-boxed-2">
                          <div class="quote-boxed-body">
                            <q class="quote-boxed-text h5">The tools and insights you share in your books have been instrumental in elevating my leadership and results.</q>
                          </div>
                                <!-- Quote author-->
                                <div class="quote-author">
                                  <div class="media media-xs align-items-center">
                                    <div class="media-left"><img class="quote-author-image rounded-circle" src="images/persons/person-02-60x60.jpg" alt="" width="60" height="60"/>
                                    </div>
                                    <div class="media-body">
                                      <div class="quote-author-name h6">Roy Sanders</div>
                                      <div class="quote-author-position">Regular Reader</div>
                                    </div>
                                  </div>
                                </div>
                        </article>
                        <!-- Quote boxed-->
                        <article class="quote quote-boxed novi-bg quote-boxed-1">
                          <div class="quote-boxed-body">
                            <q class="quote-boxed-text h5">I’ve heard great things on your books. I have to follow trends and be on top of all of it or my business will surely sink. Your books have been a great help in learning how I can stay in the know with the tech sides of running by business.</q>
                          </div>
                                <!-- Quote author-->
                                <div class="quote-author">
                                  <div class="media media-xs align-items-center">
                                    <div class="media-left"><img class="quote-author-image rounded-circle" src="images/persons/person-03-60x60.jpg" alt="" width="60" height="60"/>
                                    </div>
                                    <div class="media-body">
                                      <div class="quote-author-name h6">Anna Robinson</div>
                                      <div class="quote-author-position">Regular Reader</div>
                                    </div>
                                  </div>
                                </div>
                        </article>
                        <!-- Quote boxed-->
                        <article class="quote quote-boxed novi-bg">
                          <div class="quote-boxed-body">
                            <q class="quote-boxed-text h5">Your book highlights the importance of communication and planning but without any complex terms. Thank you!</q>
                          </div>
                                <!-- Quote author-->
                                <div class="quote-author">
                                  <div class="media media-xs align-items-center">
                                    <div class="media-left"><img class="quote-author-image rounded-circle" src="images/persons/person-04-60x60.jpg" alt="" width="60" height="60"/>
                                    </div>
                                    <div class="media-body">
                                      <div class="quote-author-name h6">Craig Edwards</div>
                                      <div class="quote-author-position">Regular Reader</div>
                                    </div>
                                  </div>
                                </div>
                        </article>
                        <!-- Quote boxed-->
                        <article class="quote quote-boxed novi-bg quote-boxed-1">
                          <div class="quote-boxed-body">
                            <q class="quote-boxed-text h5">It’s required reading for any leader looking to play to his or her strengths and inspire others to win.</q>
                          </div>
                                <!-- Quote author-->
                                <div class="quote-author">
                                  <div class="media media-xs align-items-center">
                                    <div class="media-left"><img class="quote-author-image rounded-circle" src="images/persons/person-05-60x60.jpg" alt="" width="60" height="60"/>
                                    </div>
                                    <div class="media-body">
                                      <div class="quote-author-name h6">Judith Bell</div>
                                      <div class="quote-author-position">Regular Reader</div>
                                    </div>
                                  </div>
                                </div>
                        </article>
                        <!-- Quote boxed-->
                        <article class="quote quote-boxed novi-bg quote-boxed-2">
                          <div class="quote-boxed-body">
                            <q class="quote-boxed-text h5">Adam’s perspective on leadership and his methodologies have really made a difference in my organization.</q>
                          </div>
                                <!-- Quote author-->
                                <div class="quote-author">
                                  <div class="media media-xs align-items-center">
                                    <div class="media-left"><img class="quote-author-image rounded-circle" src="images/persons/person-06-60x60.jpg" alt="" width="60" height="60"/>
                                    </div>
                                    <div class="media-body">
                                      <div class="quote-author-name h6">Matthew Wood</div>
                                      <div class="quote-author-position">Regular Reader</div>
                                    </div>
                                  </div>
                                </div>
                        </article>
                        <!-- Quote boxed-->
                        <article class="quote quote-boxed novi-bg quote-boxed-1">
                          <div class="quote-boxed-body">
                            <q class="quote-boxed-text h5">Adam Smith takes the common sense of great business practices and provides the tools, techniques, and motivation to help every business leader — from supervisor to CEO – to make it common, understandable, and easy-to-use.</q>
                          </div>
                                <!-- Quote author-->
                                <div class="quote-author">
                                  <div class="media media-xs align-items-center">
                                    <div class="media-left"><img class="quote-author-image rounded-circle" src="images/persons/person-07-60x60.jpg" alt="" width="60" height="60"/>
                                    </div>
                                    <div class="media-body">
                                      <div class="quote-author-name h6">Denise Sanders</div>
                                      <div class="quote-author-position">Regular Reader</div>
                                    </div>
                                  </div>
                                </div>
                        </article>
                        <!-- Quote boxed-->
                        <article class="quote quote-boxed novi-bg">
                          <div class="quote-boxed-body">
                            <q class="quote-boxed-text h5">Adam’s words not only engage and inspire leaders at a visionary level, but he also provides a host of pragmatic strategies.</q>
                          </div>
                                <!-- Quote author-->
                                <div class="quote-author">
                                  <div class="media media-xs align-items-center">
                                    <div class="media-left"><img class="quote-author-image rounded-circle" src="images/persons/person-08-60x60.jpg" alt="" width="60" height="60"/>
                                    </div>
                                    <div class="media-body">
                                      <div class="quote-author-name h6">Peter Morris</div>
                                      <div class="quote-author-position">Regular Reader</div>
                                    </div>
                                  </div>
                                </div>
                        </article>
                        <!-- Quote boxed-->
                        <article class="quote quote-boxed novi-bg quote-boxed-1">
                          <div class="quote-boxed-body">
                            <q class="quote-boxed-text h5">This book is a wise read for all entrepreneurs as it synthesizes the complexities of running business.</q>
                          </div>
                                <!-- Quote author-->
                                <div class="quote-author">
                                  <div class="media media-xs align-items-center">
                                    <div class="media-left"><img class="quote-author-image rounded-circle" src="images/persons/person-09-60x60.jpg" alt="" width="60" height="60"/>
                                    </div>
                                    <div class="media-body">
                                      <div class="quote-author-name h6">Janice Allen</div>
                                      <div class="quote-author-position">Regular Reader</div>
                                    </div>
                                  </div>
                                </div>
                        </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Product-->
      <section class="section section-lg bg-transparent text-center position-relative">
        <div class="bg-layer bg-100" style="top: 40%"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xs-8 col-lg-7"><img src="images/products/product-01-639x598.png" alt="" width="639" height="598" data-animate='{"class":"fadeInUp"}'/>
              <h1 class="mt-3" data-animate='{"class":"fadeInUp"}'>Chapter & Verse: your #1 business guide</h1>
              <div class="offset-md" data-animate='{"class":"fadeInUp"}'>
                <button class="btn btn-round btn-primary btn-nuka" data-modal-trigger='{"target":"#modal"}'>Download The Book<span class="btn-overlay"></span></button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer-->
      <footer class="section footer footer-sm bg-100 pt-0 pb-5">
        <div class="container">
          <hr class="divider divider-sm footer-divider">
          <div class="footer-panel">
            <div class="group-x-30 group-y-10 d-flex flex-wrap align-items-center justify-content-center justify-content-xs-between">
                    <!-- Copyright-->
                    <p class="rights"><span>&copy; 2020.&nbsp;</span><span>Chapter & Verse</span><span>. All rights reserved</span></p>
              <div>
                      <!-- List social-->
                      <ul class="list list-social text-500">
                        <li class="list-social-item"><a class="icon icon-social fa-youtube-play icon-sm" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-social fa-facebook-f icon-sm" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-social fa-instagram icon-sm" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-social fa-twitter icon-sm" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-social fa-linkedin icon-sm" href="#"></a></li>
                      </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Modal-->
      <div class="modal fade fadeInUp" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content text-center">
            <div class="modal-body"><img src="images/products/product-01-207x191.png" alt="" width="207" height="191"/>
              <h3>Chapter & Verse: your #1<br>landing page</h3>
              <p class="lead">Improve your business practice today. Enter your e-mail in the form below to download Chapter & Verse and discover what your business needs.</p>
              <div class="offset-xs block block-1 block-center">
                <form class="rd-mailform form-inline justify-content-center group-10" data-form-output="form-output-subscribe" data-form-type="subscribe" method="post" action="components/rd-mailform/rd-mailform.php">
                  <div class="form-inline-group">
                    <input class="form-control form-control-round" type="email" name="email" placeholder="Your email address *" data-constraints="@Email @Required">
                  </div>
                  <button class="btn btn-round btn-primary btn-nuka" type="submit">Download<span class="btn-overlay"></span></button>
                </form>
              </div>
              <div class="offset-sm">
                <p class="rights">
                  By clicking the button you agree to the
                  <a class="link link-primary" href="#">Privacy Policy</a> and
                  <a class="link link-primary" href="#">Terms and Conditions</a>
                </p>
              </div>
            </div>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        </div>
      </div>
      <div class="form-output snackbar snackbar-secondary" id="form-output-subscribe"></div>
    </div>
    <div class="to-top fa-angle-up"></div>
  </body>
</html>