/** @section Backgrounds */

.context-dark {
	@extend %context-dark;
}

%context-dark {
	// Logo
	.brand {
		.brand-logo-dark {
			display: none;
		}

		.brand-logo-light {
			display: block;
		}
	}
}

%context-light {
	// Logo
	.brand {
		.brand-logo-dark {
			display: block;
		}

		.brand-logo-light {
			display: none;
		}
	}
}


// Light Backgrounds
.bg-default {
	@include bg-behaviour($body-bg);
}

.bg-gray-100 {
	@include bg-behaviour($gray-100);
}


// Dark Backgrounds
.bg-gray-700 {
	@extend %context-dark;
	@include bg-behaviour($gray-700);
}


// Accent Backgrounds
.bg-primary {
	@extend %context-dark;
	@include bg-behaviour($primary);
}

.bg-sky-blue {
	@include bg-behaviour($sky-blue);
}


// Background Image
.bg-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


// Desktop only
html:not(.tablet):not(.mobile) {
	.bg-fixed {
		@include media-breakpoint-up(lg) {
			background-attachment: fixed;
		}
	}
}

// Background Overlays
[class*='bg-overlay'] {
	position: relative;

	> * {
		position: relative;
		z-index: 1;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.bg-overlay-1 {
	&::after {
		opacity: .4;
		background: $white;
	}
}

.bg-overlay-2 {
	&::after {
		opacity: .7;
		background: $white;
	}
	@include media-breakpoint-up(md) {
		&::after {
			opacity: 0;
		}
	}
}

.bg-overlay-3 {
	@extend %context-dark;
	&::after {
		opacity: .5;
		background: $black;
	}
}
