<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.min.js"></script>
    <script src="components/base/script.js"></script>
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-dark rd-navbar-absolute" data-rd-navbar="{&quot;responsive&quot;:{&quot;1200&quot;:{&quot;autoHeight&quot;:false}}}">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                          <!-- Logo-->
                          <div class="logo"><a class="logo-link" href="index.html"><img class="logo-image-default" src="images/logo-default-landing-386x106.png" alt="Vantage" width="193" height="53"/><img class="logo-image-inverse" src="images/logo-inverse-landing-386x106.png" alt="Vantage" width="193" height="53"/></a></div>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#layouts">Layouts</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#features">Features</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#updates">Updates</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#support">Support</a>
                          </li>
                        </ul>
                </div>
                <div class="rd-navbar-collapse"><a class="btn btn-round btn-secondary btn-nuka" href="https://www.templatemonster.com/landing-page-template/all-in-one-landing-page-vantage/" target="_blank">Purchase Template<span class="btn-overlay"></span></a></div>
              </div>
            </div>
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
          </nav>
        </div>
      </header>
      <!-- Intro-->
      <section class="section section-lg bg-gradient-dark-violet context-dark text-center position-relative" style="padding: 12.5% 0 17.5%">
              <!-- Wave dark-->
              <svg class="wave-dark" width="1920" height="713" viewBox="0 0 1920 713" fill="none">
                <path class="wave-path wave-path-2" d="M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z" fill="white"></path>
                <path class="wave-path wave-path-3" d="M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 46.2454 309.796C417.632 304.67 679.852 211.113 912.389 128.146C1129.43 50.7068 1320.62 -17.5061 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z" fill="white"></path>
                <path class="wave-path wave-path-1" d="M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 414.308 0.154556 414.299C59.8232 467.769 270.664 573.445 636.676 568.392C873.316 565.126 1040.4 505.514 1188.57 452.65C1326.86 403.309 1448.68 359.846 1595.21 373.565C1727.41 385.944 1837.94 423.471 1920 463.314Z" fill="white"></path>
              </svg>
        <div class="container" data-animate='{"class":"fadeInUp"}'><a class="brand" href="index.html"><img src="images/logo-inverse-461x100.png" alt="" width="230" height="50" style="max-width: 50%;"/></a>
          <h2>
            Vantage is a robust, responsive multi-purpose<br class="d-none d-xl-block">
            HTML5 Bootstrap based template
          </h2>
          <p class="lead">A variety of impressive landing pages and dozens of useful features and plugins!</p><a class="btn btn-round btn-primary btn-nuka" href="#">Discover now<span class="btn-overlay"></span></a>
        </div>
      </section>
      <!-- Parallax scene-->
      <section class="section image-group image-group-2 parallax-js">
        <div class="image-group-item-1">
          <div class="layer" data-depth=".1"><img src="images/landing/screens/screen-01-237x150.jpg" alt="" width="237" height="150"/>
          </div>
        </div>
        <div class="image-group-item-2">
          <div class="layer" data-depth=".2"><img src="images/landing/screens/screen-02-176x131.jpg" alt="" width="176" height="131"/>
          </div>
        </div>
        <div class="image-group-item-3">
          <div class="layer" data-depth=".15"><img src="images/landing/screens/screen-03-278x231.jpg" alt="" width="278" height="231"/>
          </div>
        </div>
        <div class="image-group-item-4">
          <div class="layer" data-depth=".25"><img src="images/landing/screens/screen-04-170x198.jpg" alt="" width="170" height="198"/>
          </div>
        </div>
        <div class="image-group-item-5">
          <div class="layer" data-depth=".1"><img src="images/landing/screens/screen-05-366x325.jpg" alt="" width="366" height="325"/>
          </div>
        </div>
        <div class="image-group-item-6">
          <div class="layer" data-depth=".2"><img src="images/landing/screens/screen-06-264x165.jpg" alt="" width="264" height="165"/>
          </div>
        </div>
        <div class="image-group-item-7">
          <div class="layer" data-depth=".3"><img src="images/landing/screens/screen-07-168x90.jpg" alt="" width="168" height="90"/>
          </div>
        </div>
        <div class="image-group-item-8">
          <div class="layer" data-depth=".15"><img src="images/landing/screens/screen-08-327x146.jpg" alt="" width="327" height="146"/>
          </div>
        </div>
        <div class="image-group-item-9">
          <div class="layer" data-depth=".25"><img src="images/landing/screens/screen-09-223x131.jpg" alt="" width="223" height="131"/>
          </div>
        </div>
        <div class="image-group-item-10">
          <div class="layer" data-depth=".3"><img src="images/landing/screens/screen-10-206x123.jpg" alt="" width="206" height="123"/>
          </div>
        </div>
        <div class="image-group-item-11">
          <div class="layer" data-depth=".25"><img src="images/landing/screens/screen-11-252x153.jpg" alt="" width="252" height="153"/>
          </div>
        </div>
        <div class="image-group-item-12">
          <div class="layer" data-depth=".2"><img src="images/landing/screens/screen-12-214x163.jpg" alt="" width="214" height="163"/>
          </div>
        </div>
        <div class="image-group-item-13">
          <div class="layer" data-depth=".15"><img src="images/landing/screens/screen-13-281x199.jpg" alt="" width="281" height="199"/>
          </div>
        </div>
        <div class="image-group-item-14">
          <div class="layer" data-depth=".3"><img src="images/landing/screens/screen-14-153x93.jpg" alt="" width="153" height="93"/>
          </div>
        </div>
      </section>
      <!-- Template layouts-->
      <section class="section section-lg bg-transparent text-center position-relative" id="layouts">
              <svg class="wave-light" width="1920" height="1060" viewBox="0 0 1920 1060" fill="none" style="top: 75%;">
                <path class="wave-path" d="M1270.8 218.376C1568.83 102.736 1850.63 180.948 2030.21 307.382C2032.51 308.998 2034.48 310.988 2036.1 313.28L2244.6 608.07C2253.3 620.368 2249.27 637.477 2235.62 643.849C2136.91 689.931 1934.93 754.715 1745.59 720.317C1486.28 673.211 1150.28 423.428 797.391 434.116C526.793 442.311 106.516 537.961 -92.8574 590.62C-106.447 594.21 -120.226 585.95 -123.559 572.295L-211.97 210.086C-214.872 198.199 -208.784 185.922 -197.319 181.649C-86.282 140.272 153.264 93.3374 366.435 189.479C649.935 317.339 970.87 334.757 1270.8 218.376Z" fill="#4D4468"></path>
                <path class="wave-path" d="M772.48 255.118C380.165 103.024 9.24323 206.281 -226.745 372.767C-229.039 374.385 -231.01 376.373 -232.632 378.664L-512.582 774.127C-521.29 786.427 -517.274 803.55 -503.683 810.064C-377.112 870.73 -105.683 960.41 148.442 914.284C489.263 852.422 930.89 524.399 1394.72 538.435C1753.87 549.303 2313.64 677.282 2572.46 745.98C2586.04 749.585 2599.94 741.362 2603.28 727.711L2722.96 237.787C2725.87 225.895 2719.88 213.66 2708.45 209.275C2565.44 154.399 2245.45 89.0608 1961.15 217.17C1588.53 385.08 1166.7 407.953 772.48 255.118Z" fill="#4D4468"></path>
                <path class="wave-path" d="M1447.25 805.997C1794.64 1025.39 2182.35 991.059 2453.13 870.614C2455.6 869.515 2457.81 868.064 2459.73 866.318L2833.15 525.603C2842.65 516.93 2842.3 503.238 2831.92 495.349C2724.31 413.548 2478 274.243 2215.74 273.626C1867.52 272.805 1356.87 514.147 906.52 416.969C558.455 341.862 42.8667 116.692 -194.437 2.73577C-207.328 -3.45464 -223.54 1.25043 -229.521 12.9186L-466.827 475.879C-471.469 484.935 -468.544 495.538 -459.301 501.375C-333.611 580.741 -34.896 703.74 275.402 629.247C680.162 532.076 1098.27 585.601 1447.25 805.997Z" fill="#4D4468"></path>
              </svg>
        <div class="container">
          <div data-animate='{"class":"fadeInUp"}'>
            <h1 class="h1-mod text-primary">33</h1>
            <h3>Perfectly designed templates</h3>
          </div>
          <div class="row row-offset-md row-30 row-xl-50">
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="landing-corporate.html"><img src="images/landing/layouts/layout-01-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="landing-corporate.html">Corporate</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="landing-app.html"><img src="images/landing/layouts/layout-02-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="landing-app.html">Application</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="landing-digital-agency.html"><img src="images/landing/layouts/layout-03-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="landing-digital-agency.html">Digital Agency</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="landing-promotion.html"><img src="images/landing/layouts/layout-04-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="landing-promotion.html">Promotion</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="landing-seo.html"><img src="images/landing/layouts/layout-05-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="landing-seo.html">SEO</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="landing-one-product.html"><img src="images/landing/layouts/layout-06-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="landing-one-product.html">One Product</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-course/index.html"><img src="images/landing/layouts/layout-07-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-course/index.html">Course</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-e-book/index.html"><img src="images/landing/layouts/layout-08-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-e-book/index.html">E-book</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-doctor/index.html"><img src="images/landing/layouts/layout-09-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-doctor/index.html">Doctor</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-clinic/index.html"><img src="images/landing/layouts/layout-10-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-clinic/index.html">Clinic</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-hosting/index.html"><img src="images/landing/layouts/layout-11-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-hosting/index.html">Hosting</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-real-estate/index.html"><img src="images/landing/layouts/layout-12-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-real-estate/index.html">Real Estate</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-christmas-event/index.html"><img src="images/landing/layouts/layout-13-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-christmas-event/index.html">Christmas Event</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-christmas-day/index.html"><img src="images/landing/layouts/layout-15-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-christmas-day/index.html">Christmas Day</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-delivery/index.html"><img src="images/landing/layouts/layout-14-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-delivery/index.html">Delivery</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-travel/index.html"><img src="images/landing/layouts/layout-17-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-travel/index.html">Travel</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-personal-page/index.html"><img src="images/landing/layouts/layout-18-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-personal-page/index.html">Personal Page</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-advertising-agency/index.html"><img src="images/landing/layouts/layout-19-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-advertising-agency/index.html">Advertising Agency</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-recruitment-agency/index.html"><img src="images/landing/layouts/layout-20-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-recruitment-agency/index.html">Recruitment Agency</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-insurance-agency/index.html"><img src="images/landing/layouts/layout-21-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-insurance-agency/index.html">Insurance Agency</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-financial-adviser/index.html"><img src="images/landing/layouts/layout-22-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-financial-adviser/index.html">Financial Adviser</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-charity/index.html"><img src="images/landing/layouts/layout-23-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-charity/index.html">Charity and Donation</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-repair-services/index.html"><img src="images/landing/layouts/layout-24-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-repair-services/index.html">Repair Services</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-event/index.html"><img src="images/landing/layouts/layout-25-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-event/index.html">Event</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-law-consulting/index.html"><img src="images/landing/layouts/layout-26-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-law-consulting/index.html">Law consulting</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-photographer-portfolio/index.html"><img src="images/landing/layouts/layout-27-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-photographer-portfolio/index.html">Photographer Portfolio</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-basketball/index.html"><img src="images/landing/layouts/layout-28-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-basketball/index.html">Basketball</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-fortune-teller/index.html"><img src="images/landing/layouts/layout-29-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-fortune-teller/index.html">Fortune Teller</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-catholic-church/index.html"><img src="images/landing/layouts/layout-30-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-catholic-church/index.html">Catholic Church</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-mobile-repair/index.html"><img src="images/landing/layouts/layout-31-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-mobile-repair/index.html">Mobile Repair Service</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-fitness/index.html"><img src="images/landing/layouts/layout-32-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-fitness/index.html">Fitness</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-business-consulting/index.html"><img src="images/landing/layouts/layout-33-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-business-consulting/index.html">Business Consulting</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-construction/index.html"><img src="images/landing/layouts/layout-34-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-construction/index.html">Construction Company</a></div>
                    </article>
            </div>
          </div>
          <div class="offset-lg">
            <h4 data-animate='{"class":"fadeInUp"}'><i style="color: #D2D4D7">Coming Soon</i></h4>
          </div>
        </div>
      </section>
      <!-- Template layouts-->
      <section class="section section-lg bg-transparent text-center position-relative">
        <div class="container">
          <div data-animate='{"class":"fadeInUp"}'>
            <h1 class="h1-mod text-primary">6</h1>
            <h3>Perfectly designed popup sets</h3>
          </div>
          <div class="row row-offset-md row-30 row-xl-50">
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="corporate-popup-set.html"><img src="images/popup-sets/popup-set-01-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="corporate-popup-set.html">Corporate</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="product-popup-set.html"><img src="images/popup-sets/popup-set-02-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="product-popup-set.html">Product</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-course/course-popup-set.html"><img src="images/popup-sets/popup-set-03-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-course/course-popup-set.html">Course</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-clinic/clinic-popup-set.html"><img src="images/popup-sets/popup-set-04-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-clinic/clinic-popup-set.html">Clinic</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-delivery/delivery-popup-set.html"><img src="images/popup-sets/popup-set-05-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-delivery/delivery-popup-set.html">Delivery</a></div>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
                    <!-- Layout-->
                    <article class="layout block block-center block-md"><a class="layout-figure" href="../vantage-real-estate/real-estate-popup-set.html"><img src="images/popup-sets/popup-set-06-390x318.jpg" alt="" width="390" height="318"/></a>
                      <div class="layout-title h6"><a href="../vantage-real-estate/real-estate-popup-set.html">Real Estate</a></div>
                    </article>
            </div>
          </div>
        </div>
      </section>
      <!-- CTA-->
      <section class="section section-lg section-inset-xxl-190 bg-primary-violet context-dark text-center position-relative overflow-hidden">
              <!-- Wave dark-->
              <svg class="wave-dark wave-dark-1 wave-reverse-x" width="1920" height="713" viewBox="0 0 1920 713" fill="none" style="bottom: -16vw;">
                <path class="wave-path wave-path-2" d="M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z" fill="white"></path>
                <path class="wave-path wave-path-3" d="M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 46.2454 309.796C417.632 304.67 679.852 211.113 912.389 128.146C1129.43 50.7068 1320.62 -17.5061 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z" fill="white"></path>
                <path class="wave-path wave-path-1" d="M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 414.308 0.154556 414.299C59.8232 467.769 270.664 573.445 636.676 568.392C873.316 565.126 1040.4 505.514 1188.57 452.65C1326.86 403.309 1448.68 359.846 1595.21 373.565C1727.41 385.944 1837.94 423.471 1920 463.314Z" fill="white"></path>
              </svg>
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-lg-10 col-xl-9" data-animate='{"class":"fadeInUp"}'>
              <h2>Vantage can give your business or startup a boost it needs to succeed online.</h2><a class="btn btn-round btn-secondary btn-nuka" href="https://www.templatemonster.com/landing-page-template/all-in-one-landing-page-vantage/" target="_blank">Purchase Template<span class="btn-overlay"></span></a>
            </div>
          </div>
        </div>
      </section>
      <!-- SEO-->
      <section class="section section-lg bg-transparent" id="features">
        <div class="container">
          <div class="row row-30 align-items-center justify-content-center">
            <div class="col-xs-10 col-sm-9 col-md-6" data-animate='{"class":"fadeInUp"}'><img src="images/landing/blurs/blur-01-610x376.png" alt="" width="610" height="376"/>
            </div>
            <div class="col-xs-10 col-sm-9 col-md-6">
              <div class="block block-center block-2" data-animate='{"class":"fadeInUp"}'>
                <h3>Complete SEO optimization with incredible speed & performance</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Novi-->
      <section class="section section-lg bg-transparent">
        <div class="container">
          <div class="row row-40 align-items-center justify-content-center flex-md-row-reverse">
            <div class="col-xs-10 col-sm-9 col-md-6" data-animate='{"class":"fadeInUp"}'><img class="shadow-sm" src="images/landing/image-01-730x456.gif" alt="" width="730" height="456"/>
            </div>
            <div class="col-xs-10 col-sm-9 col-md-6" data-animate='{"class":"fadeInUp"}'>
              <div class="block block-center block-2">
                <div class="logo-novi"><img src="images/landing/logo-novi-285x53.png" alt="" width="142" height="26"/>
                </div>
                <h3>Novi Visual HTML page builder included</h3>
                <p class="lead">Create your stunning HTML website quickly and easily with Novi Builder, which is a perfect match for both non-techies planning to launch their own websites and coding experts delivering quality web products.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Advantages-->
      <section class="section position-relative section-image-group-3" id="updates">
              <svg class="wave-light" width="1920" height="1060" viewBox="0 0 1920 1060" fill="none">
                <path class="wave-path" d="M1270.8 218.376C1568.83 102.736 1850.63 180.948 2030.21 307.382C2032.51 308.998 2034.48 310.988 2036.1 313.28L2244.6 608.07C2253.3 620.368 2249.27 637.477 2235.62 643.849C2136.91 689.931 1934.93 754.715 1745.59 720.317C1486.28 673.211 1150.28 423.428 797.391 434.116C526.793 442.311 106.516 537.961 -92.8574 590.62C-106.447 594.21 -120.226 585.95 -123.559 572.295L-211.97 210.086C-214.872 198.199 -208.784 185.922 -197.319 181.649C-86.282 140.272 153.264 93.3374 366.435 189.479C649.935 317.339 970.87 334.757 1270.8 218.376Z" fill="#4D4468"></path>
                <path class="wave-path" d="M772.48 255.118C380.165 103.024 9.24323 206.281 -226.745 372.767C-229.039 374.385 -231.01 376.373 -232.632 378.664L-512.582 774.127C-521.29 786.427 -517.274 803.55 -503.683 810.064C-377.112 870.73 -105.683 960.41 148.442 914.284C489.263 852.422 930.89 524.399 1394.72 538.435C1753.87 549.303 2313.64 677.282 2572.46 745.98C2586.04 749.585 2599.94 741.362 2603.28 727.711L2722.96 237.787C2725.87 225.895 2719.88 213.66 2708.45 209.275C2565.44 154.399 2245.45 89.0608 1961.15 217.17C1588.53 385.08 1166.7 407.953 772.48 255.118Z" fill="#4D4468"></path>
                <path class="wave-path" d="M1447.25 805.997C1794.64 1025.39 2182.35 991.059 2453.13 870.614C2455.6 869.515 2457.81 868.064 2459.73 866.318L2833.15 525.603C2842.65 516.93 2842.3 503.238 2831.92 495.349C2724.31 413.548 2478 274.243 2215.74 273.626C1867.52 272.805 1356.87 514.147 906.52 416.969C558.455 341.862 42.8667 116.692 -194.437 2.73577C-207.328 -3.45464 -223.54 1.25043 -229.521 12.9186L-466.827 475.879C-471.469 484.935 -468.544 495.538 -459.301 501.375C-333.611 580.741 -34.896 703.74 275.402 629.247C680.162 532.076 1098.27 585.601 1447.25 805.997Z" fill="#4D4468"></path>
              </svg>
        <div class="image-group image-group-3 parallax-js">
          <div class="image-group-item-1">
            <div class="layer" data-depth=".1"><img src="images/landing/screens/screen-15-204x99.jpg" alt="" width="204" height="99"/>
            </div>
          </div>
          <div class="image-group-item-2">
            <div class="layer" data-depth=".2"><img src="images/landing/screens/screen-16-172x124.jpg" alt="" width="172" height="124"/>
            </div>
          </div>
          <div class="image-group-item-3">
            <div class="layer" data-depth=".15"><img src="images/landing/screens/screen-17-208x126.jpg" alt="" width="208" height="126"/>
            </div>
          </div>
          <div class="image-group-item-4">
            <div class="layer" data-depth=".25"><img src="images/landing/screens/screen-18-111x82.jpg" alt="" width="111" height="82"/>
            </div>
          </div>
          <div class="image-group-item-5">
            <div class="layer" data-depth=".1"><img src="images/landing/screens/screen-19-138x142.jpg" alt="" width="138" height="142"/>
            </div>
          </div>
          <div class="image-group-item-6">
            <div class="layer" data-depth=".2"><img src="images/landing/screens/screen-20-121x65.jpg" alt="" width="121" height="65"/>
            </div>
          </div>
          <div class="image-group-item-7">
            <div class="layer" data-depth=".3"><img src="images/landing/screens/screen-21-173x148.jpg" alt="" width="173" height="148"/>
            </div>
          </div>
          <div class="image-group-item-8">
            <div class="layer" data-depth=".15"><img src="images/landing/screens/screen-22-242x199.jpg" alt="" width="242" height="199"/>
            </div>
          </div>
          <div class="image-group-item-9">
            <div class="layer" data-depth=".25"><img src="images/landing/screens/screen-23-275x207.jpg" alt="" width="275" height="207"/>
            </div>
          </div>
          <div class="image-group-item-10">
            <div class="layer" data-depth=".3"><img src="images/landing/screens/screen-24-193x83.jpg" alt="" width="193" height="83"/>
            </div>
          </div>
          <div class="image-group-item-11">
            <div class="layer" data-depth=".15"><img src="images/landing/screens/screen-25-163x121.jpg" alt="" width="163" height="121"/>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row row-30 justify-content-center justify-content-md-end">
            <div class="col-xs-10 col-sm-9 col-md-6" data-animate='{"class":"fadeInUp"}'>
              <div class="block block-center block-2">
                <h3>Get regular template updates every fortnight!</h3>
                <p class="lead">The updates include new skins (niche themes), functional and technical features, and script version updates (if necessary).</p>
                <p class="text-italic00">Our team of web designers & developers will do everything possible to increase the convenience of working with Vantage and skyrocket the lead generation and profit of your Landing Page Website.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Technologies-->
      <section class="section section-lg bg-transparent">
        <div class="container">
          <div class="row row-30 align-items-center justify-content-center flex-md-row-reverse">
            <div class="col-xs-10 col-sm-9 col-md-7 col-xl-6" data-animate='{"class":"fadeInUp"}'>
              <div class="group-20 d-flex flex-wrap">
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-01-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-02-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-03-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-04-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-05-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-06-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-07-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-08-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-09-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-10-116x116.png" alt="" width="116" height="116"/>
                </div>
                <div class="brand brand-default"><img class="brand-default-image" src="images/landing/logos/logo-11-116x116.png" alt="" width="116" height="116"/>
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-sm-9 col-md-5 col-xl-6" data-animate='{"class":"fadeInUp"}'>
              <div class="block block-center block-2">
                <h3>Cutting-edge technologies & useful plugins</h3>
                <p class="lead">Vantage is built using the best technologies and innovative web development practices to make your website look exceptional.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Support-->
      <section class="section section-lg bg-transparent text-center pb-0" id="support">
        <div class="container">
          <div data-animate='{"class":"fadeInUp"}'>
            <h3>Dedicated 24/7 support</h3>
            <p class="lead">
              Our Support Service is always available 24 hours a day, 7 days a week to help you create your<br class="d-none d-lg-block">
              own business solution.
            </p>
          </div>
          <div style="margin-top: 7%" data-animate='{"class":"fadeInUp"}'><img src="images/landing/blurs/blur-02-600x228.png" alt="" width="600" height="228" style="max-width: 80%;"/>
          </div>
        </div>
      </section>
      <!-- Footer-->
      <footer class="section footer bg-primary-violet context-dark text-center position-relative overflow-hidden">
              <!-- Wave dark-->
              <svg class="wave-dark wave-dark-2" width="1920" height="713" viewBox="0 0 1920 713" fill="none">
                <path class="wave-path wave-path-2" d="M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z" fill="white"></path>
                <path class="wave-path wave-path-3" d="M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 46.2454 309.796C417.632 304.67 679.852 211.113 912.389 128.146C1129.43 50.7068 1320.62 -17.5061 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z" fill="white"></path>
                <path class="wave-path wave-path-1" d="M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 414.308 0.154556 414.299C59.8232 467.769 270.664 573.445 636.676 568.392C873.316 565.126 1040.4 505.514 1188.57 452.65C1326.86 403.309 1448.68 359.846 1595.21 373.565C1727.41 385.944 1837.94 423.471 1920 463.314Z" fill="white"></path>
              </svg>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9" data-animate='{"class":"fadeInUp"}'>
              <h2>Increase your sales and attract more customers with Vantage landing page template</h2><a class="btn btn-round btn-secondary btn-nuka" href="https://www.templatemonster.com/landing-page-template/all-in-one-landing-page-vantage/" target="_blank">Purchase Template<span class="btn-overlay"></span></a>
            </div>
          </div>
                <!-- Copyright-->
                <p class="rights"><span>&copy; 2020.&nbsp;</span><span>Vantage</span><span>. All rights reserved</span></p>
        </div>
      </footer>
    </div>
    <div class="to-top fa-angle-up"></div>
  </body>
  <!-- coded by ragnar-->
</html>