<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lintense Promotion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.min.js"></script>
    <script src="components/base/script.js"></script>
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-fullwidth rd-navbar-absolute" data-rd-navbar='{"responsive":{"1200":{"autoHeight":false}}}'>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                          <!-- Logo-->
                          <div class="logo"><a class="logo-link" href="index.html"><img class="logo-image-default" src="images/logo-default-promotion-314x106.png" alt="Lintense" width="157" height="53"/><img class="logo-image-inverse" src="images/logo-inverse-promotion-314x106.png" alt="Lintense" width="157" height="53"/></a></div>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                          <ul class="rd-navbar-nav">
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#about">About</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#portfolio">Portfolio</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#why-choose-us">Why Choose Us</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#what-we-do">What We Do</a>
                            </li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Intro-->
            <section class="section parallax-container context-dark text-center" data-parallax-img="images/image-31-1920x1400.jpg">
              <div class="parallax-content section-one-screen section-lg">
                <div class="container" data-animate='{"class":"fadeInUp"}'>
                  <h1>At Lintense, we provide uniquely designed furniture for any type of interior and exterior.</h1>
                </div>
              </div>
            </section>
      <!-- Welcome to Lintense-->
      <section class="section section-lg bg-transparent text-center section-image-group-1" id="about">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8" data-animate='{"class":"fadeInUp"}'>
              <h2>Welcome to Lintense</h2>
              <p class="lead">Founded in 1999, Lintense has been a leading provider of custom-designed furniture for over 20 years. We specialize in highly creative furniture, sculptures and art, woodworking and fabrication for all regions across the country.</p>
            </div>
          </div>
        </div>
        <div class="image-group image-group-1"><img class="image-group-item-1" src="images/image-27-480x660.jpg" alt="" width="480" height="660" data-animate='{"class":"fadeInUp"}'/><img class="image-group-item-2 shadow-sm" src="images/image-28-660x480.jpg" alt="" width="660" height="480" data-animate='{"class":"fadeInUp"}'/>
        </div>
      </section>
      <!-- CTA-->
            <section class="section parallax-container context-dark text-center section-lg" data-parallax-img="images/image-35-1920x1400.jpg">
              <div class="parallax-content">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-10 col-xl-8" data-animate='{"class":"fadeInUp"}'>
                      <h1>Transform your home with our custom furniture</h1>
                      <p class="lead">Discover our handcrafted sofas and chairs and find the perfect finishing touches with our collections of footstools, cushions, and rugs. We are sure you’ll love our furniture.</p>
                      <button class="btn btn-round btn-secondary btn-nuka" data-modal-trigger='{"target":"#modal"}'>Contact Us<span class="btn-overlay"></span></button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
      <!-- Modal-->
      <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h6>Contact Our Team</h6>
              <h2>Get in touch with us</h2>
              <p class="lead">If you have a question or a testimonial for us, feel free to contact us using the form below.</p>
              <!--RD Mailform-->
              <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="components/rd-mailform/rd-mailform.php">
                <div class="row row-20 gutters-20">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <input class="form-control" type="text" name="name" placeholder="Your name *" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <input class="form-control" type="email" name="email" placeholder="Your e-mail address *" data-constraints="@Email @Required">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <textarea class="form-control" name="question" placeholder="Your question" rows="5" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                </div>
                <div class="offset-xs">
                  <button class="btn btn-round btn-secondary btn-nuka" type="submit">Send<span class="btn-overlay"></span></button>
                </div>
              </form>
            </div>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        </div>
      </div>
      <div class="form-output snackbar snackbar-secondary" id="form-output-global"></div>
      <!-- Unique Design-->
      <section class="section section-lg bg-transparent">
        <div class="container">
          <div class="row row-30 flex-sm-row-reverse align-items-center">
            <div class="col-6" data-animate='{"class":"fadeInUp"}'>
              <div class="d-inline-block"><img class="offset-negative-1" src="images/image-29-480x660.jpg" alt="" width="480" height="660"/>
              </div>
            </div>
            <div class="col-sm-6 col-xl-5" data-animate='{"class":"fadeInUp"}'>
              <h2>Unique design and outstanding functionality</h2>
              <p class="lead">Our furniture balances both form and function, while bringing artistry and joy to your life. Each product we sell is unique, i.e. handcrafted by our team.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Carousel-->
      <section class="section section-lg bg-transparent" id="portfolio">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10 col-xs-8">
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-visible" data-owl='{"margin":10,"loop":false,"dots":true,"autoplayTimeout":"2000","smartSpeed":"1000"}' data-lightgallery>
                      <!-- Thumbnail--><a class="thumbnail lightgallery-item" href="images/image-30-800x1200.jpg"><img class="thumbnail-image" src="images/image-30-830x604.jpg" alt="" width="830" height="604"/><span class="thumbnail-icon">+</span></a>
                      <!-- Thumbnail--><a class="thumbnail lightgallery-item" href="images/image-27-800x1200.jpg"><img class="thumbnail-image" src="images/image-27-830x604.jpg" alt="" width="830" height="604"/><span class="thumbnail-icon">+</span></a>
                      <!-- Thumbnail--><a class="thumbnail lightgallery-item" href="images/image-31-800x1200.jpg"><img class="thumbnail-image" src="images/image-31-830x604.jpg" alt="" width="830" height="604"/><span class="thumbnail-icon">+</span></a>
                      <!-- Thumbnail--><a class="thumbnail lightgallery-item" href="images/image-32-1200x800.jpg"><img class="thumbnail-image" src="images/image-32-830x604.jpg" alt="" width="830" height="604"/><span class="thumbnail-icon">+</span></a>
                      <!-- Thumbnail--><a class="thumbnail lightgallery-item" href="images/image-33-1200x800.jpg"><img class="thumbnail-image" src="images/image-33-830x604.jpg" alt="" width="830" height="604"/><span class="thumbnail-icon">+</span></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Creating Furniture-->
      <section class="section section-lg bg-transparent" id="why-choose-us">
        <div class="container">
          <div class="row row-30" data-animate='{"class":"fadeInUp"}'>
            <div class="col-md-6 col-lg-5">
              <h2>Creating furniture for your daily life</h2>
              <p class="lead">For over 20 years, we have been designing and creating one-of-a-kind furniture that shapes the lives of our clients and partners all over the USA.</p>
              <p class="lead">Whether you have distinct taste, or a unique space that needs a custom designed piece, our certified custom-made furniture makers will help you get anything made. On our website, you can find ideas including: custom upholstery, custom tables, custom chairs, custom bedroom sets, custom shelves, and more.</p>
            </div>
            <div class="col-md-6 col-lg-5 offset-lg-1">
              <h2>Why people choose our furniture</h2>
              <p class="lead">Our clients value our furniture not only for its quality and creativity. Here are some other reasons to choose us.</p>
              <div class="row row-30 row-lg-40">
                <div class="col-12">
                  <h4>01. Contemporary design</h4>
                  <p>Lintense is constantly expanding its product range with unique designs that will suit any living space and even offices.</p>
                </div>
                <div class="col-12">
                  <h4>02. Extended warranty</h4>
                  <p>Our furniture comes with an extended 10 year structural warranty, so you can rest easy knowing that we will be there to assist.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- CTA 2-->
            <section class="section parallax-container context-dark text-center" data-parallax-img="images/image-36-1920x1400.jpg" id="what-we-do">
              <div class="parallax-content section-one-screen section-lg">
                <div class="container" data-animate='{"class":"fadeInUp"}'>
                  <h1>We use high-quality natural materials for furniture manufacturing</h1>
                  <p class="lead">
                    All of our upholstered furniture is handmade in our workshop using only the finest quality<br class="d-none d-lg-block">
                    materials. We maintain a steadfast commitment to quality that is evident in our every product.
                  </p><a class="btn btn-round btn-secondary btn-nuka" href="#">Order Now<span class="btn-overlay"></span></a>
                </div>
              </div>
            </section>
      <!-- Top-quality-->
      <section class="section section-lg bg-transparent">
        <div class="container">
          <div class="row row-30 align-items-center" data-animate='{"class":"fadeInUp"}'>
            <div class="col-8 col-sm-5 col-md-6 col-lg-7"><img src="images/image-34-660x480.jpg" alt="" width="660" height="480"/>
            </div>
            <div class="col-sm-7 col-md-6 col-lg-5">
              <h2>Top-quality wood for minimal impact</h2>
              <p class="lead">Our company works with the best suppliers of high-quality wood that has over 15 years of guarantee and minimal influence on ecology.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Section divider-->
      <section class="section">
        <hr class="divider divider-sm">
      </section>
      <!-- Footer-->
      <footer class="section footer footer-sm bg-transparent pb-4">
        <div class="container">
          <div class="row row-30 justify-content-md-between">
            <div class="col-xs-6 col-md-4">
                    <!-- Logo-->
                    <div class="logo"><a class="logo-link" href="index.html"><img class="logo-image-default" src="images/logo-default-promotion-314x106.png" alt="Lintense" width="157" height="53"/><img class="logo-image-inverse" src="images/logo-inverse-promotion-314x106.png" alt="Lintense" width="157" height="53"/></a></div>
              <ul class="list footer-contact-list">
                <li class="list-item"><a class="link-inherit" href="#">
                    178 West 27th Street, Suite 527<br>
                    New York NY 10012</a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-3 col-md-2">
              <ul class="list list-lg">
                <li class="list-item"><a class="list-link" href="#">About Us</a></li>
                <li class="list-item"><a class="list-link" href="#">What We Do</a></li>
                <li class="list-item"><a class="list-link" href="#">Portfolio</a></li>
                <li class="list-item"><a class="list-link" href="#">Contacts</a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-3 col-md-2">
              <ul class="list list-lg">
                <li class="list-item"><a class="list-link" href="#">Facebook</a></li>
                <li class="list-item"><a class="list-link" href="#">Instagram</a></li>
                <li class="list-item"><a class="list-link" href="#">Twitter</a></li>
              </ul>
            </div>
            <div class="col-md-3 offset-lg-1">
              <ul class="list footer-contact-list">
                <li class="list-item h4"><a href="tel:#">+1 234 567 8901</a></li>
                <li class="list-item">
                  <u><a class="link-inherit" href="mailto:#">info@demolink.org</a></u>
                </li>
              </ul>
            </div>
          </div>
                <!-- Copyright-->
                <p class="rights"><span>&copy; 2020.&nbsp;</span><span>Lintense</span><span>. All rights reserved</span></p>
        </div>
      </footer>
    </div>
    <div class="to-top fa-angle-up"></div>
  </body>
</html>