//
// Custom Thumbnails
// --------------------------------------------------

.thumbnail {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;

	.caption {
		padding: 0;
	}
}

.figure-light {
	* + & {
		margin-top: 30px;
	}

	// Large ≥992px
	@include media-breakpoint-up(lg) {
		* + & {
			margin-top: 40px;
		}
	}
}

.img-thumbnail,
.thumbnail {
	box-shadow: none;
}

// Variant 1
.thumbnail-variant-1 {
	background-color: transparent;
	text-align: center;

	.thumbnail-image {
		position: relative;
		display: inline-block;
		overflow: hidden;
		pointer-events: none;

		&,
		> img {
			border-radius: 600px;
		}

		> img {
			width: auto;
			pointer-events: auto;
		}

		&-inner {
			position: absolute;
			top: 0;
			right: 1px;
			bottom: 0;
			left: 1px;
			z-index: 2;
			@include display-flex;
			@include flex-direction(row);
			@include flex-wrap(nowrap);
			@include align-items(center);
			@include justify-content(center);
			padding: 20px 5px 5px;
			background: rgba($black, .4);
			border-radius: 600px;

			* {
				pointer-events: auto;
			}

			> * + * {
				margin-top: 0;
				margin-left: 20px;
			}
		}
	}

	.header {
		line-height: 1.2;
	}

	// Offsets
	* + p {
		margin-top: 0;
	}

	* + .thumbnail-caption {
		margin-top: 18px;
	}

	.desktop & {
		@include media-breakpoint-up(lg) {
			.thumbnail-image-inner {
				opacity: 0;
				visibility: hidden;
				transform: rotate3d(0, 1, 0, 60deg);
				transition: .55s all ease;
				background: rgba($black, .6);
			}

			.thumbnail-image:hover {
				.thumbnail-image-inner {
					opacity: 1;
					visibility: visible;
					transform: rotate3d(0, 1, 0, 0deg);
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
		* + .thumbnail-caption {
			margin-top: 30px;
		}
	}
}

// Variant 2
.thumbnail-variant-2 {
	min-height: 300px;
	padding: 30px 0 0;
	overflow: visible;
	text-align: center;
	@include display-flex;
	@include flex-direction(column);
	@include flex-wrap(nowrap);
	@include align-items(center);
	@include justify-content(flex-end);
	pointer-events: none;

	> * {
		pointer-events: auto;
	}

	&-wrap {
		padding-bottom: 25px;
	}

	.thumbnail-image,
	.thumbnail-inner {
		pointer-events: none;

		* {
			pointer-events: auto;
		}
	}

	.thumbnail-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;

		> img {
			position: absolute;
			top: 20%;
			left: 50%;
			transform: translate(-50%, -20%);
			width: auto;
			min-width: 101%;
			max-width: none;
			height: auto;
			min-height: 100%;
			max-height: none;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background: rgba($cello, .45);
	}

	.thumbnail-inner {
		position: relative;
		z-index: 2;
		padding: 30px 10px;

		a {
			font-weight: 700;
		}
	}

	.thumbnail-caption {
		position: relative;
		z-index: 3;
		width: calc(100% - 34px);
		padding: 17px 8px 25px;
		margin: 31px 17px -25px 17px;
		background: $cod-gray;

		* {
			color: $white;
		}

		a {
			@include link($white, $body-color);
		}
	}

	.text-header {
		font-size: 18px;
		font-weight: 700;
		a {
			@include link($white, $primary-light)
		}
	}

	.text-caption {
		font-style: italic;
		line-height: 1.3;
		@include media-breakpoint-up(md) {
			font-size: 16px;
		}
	}

	// Offsets
	* + .divider {
		margin-top: 8px;
	}

	.divider + * {
		margin-top: 8px;
	}

	.desktop & {
		@include media-breakpoint-up(lg) {
			&:before {
				top: 40px;
			}

			.thumbnail-inner {
				> * {
					position: relative;
					transform: translateY(14px);
					transition: .4s all ease-in-out;
				}
			}

			&:before,
			.thumbnail-inner {
				opacity: 0;
				visibility: hidden;
				transition: .33s all ease-out;
			}

			&:hover {
				&:before {
					top: 0;
					left: 0;
					right: 0;
				}

				.thumbnail-inner {
					> * {
						transform: translateY(0);
					}
				}

				&:before,
				.thumbnail-inner {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.thumbnail-caption {
			width: calc(100% - 16px);
			margin: 31px 8px -25px 8px;
		}
	}

	@include media-breakpoint-up(xl) {
		width: calc(100% - 22px);
		margin: 0 11px 0;
		.thumbnail-caption {
			width: calc(100% - 34px);
			margin: 31px 17px -25px 17px;
		}
	}
}

// Context
.ie-10,
.ie-11,
.ie-edge {
	// Variant 2
	.thumbnail-variant-2 {
		height: 300px;
	}
}

// Variant 3
.thumbnail-variant-3 {
	width: 100.025%;
	text-align: center;
	$transition: .28s cubic-bezier(.79, .14, .15, .86);

	img {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: auto;
		max-width: none;
		min-width: 100.5%;
	}

	.link-original {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@include display-flex;
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include align-items(center);
		@include justify-content(center);

		&,
		&:active,
		&:focus,
		&:hover {
			color: $white;
		}

		&:before {
			content: '\e8ff';
			position: relative;
			z-index: 3;
			font-family: 'Material Icons';
			font-size: 80px;
			line-height: 1;
			opacity: .2;
			transition: .33s all ease;
		}
	}

	.caption {
		position: absolute;
		top: -2px;
		right: 0;
		bottom: -2px;
		left: 0;
		padding: 15px;
		transition: .33s all ease-in-out;
		background: rgba($black, .6);
	}

	.desktop & {
		@include media-breakpoint-up(lg) {
			figure {
				img {
					will-change: transform;
					transition: .4s ease-out;
				}
			}
			.caption,
			.link-external {
				opacity: 0;
				visibility: hidden;
			}

			.link-external {
				right: -50px;
				top: -50px;
			}

			&:hover {
				.caption,
				.link-external {
					opacity: 1;
					visibility: visible;
				}

				figure {
					img {
						transform: translateX(-50%) scale(1.08);
					}
				}

				.link-external {
					right: -30px;
					top: -30px;

					&:hover {
						top: -20px;
						right: -20px;
					}
				}
			}
		}
	}

	> * + * {
		margin-top: 0;
	}
}

// Variant 4
.thumbnail-variant-4 {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	box-shadow: 0 0 13px 0 rgba(#010304, 0.15);

	// Small <576px
	@include media-breakpoint-down(sm) {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.thumbnail-figure {
		background: $black;
	}

	.thumbnail-image-wrap {
		opacity: .96;
	}

	.caption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 16px 15px;
		text-align: center;
		color: $black;
		background: $white;
	}

	.thumbnail-text-light {
		color: lighten($headings-color, 5%);
	}
}

html:not(.tablet):not(.mobile) {
	.thumbnail-variant-4 {
		@include media-breakpoint-up(lg) {
			.thumbnail-image-wrap {
				position: relative;
				will-change: transform;
				opacity: 1;
				transition: opacity .7s, transform .7s;
				transform: scale3d(1.001, 1.001, 1);
			}

			.caption,
			.caption-header {
				transition: transform 0.55s;
				transform: translate3d(0, 200%, 0);
			}

			.caption-header {
				transition-delay: 0.05s;
			}

			&:hover {
				.thumbnail-image-wrap {
					opacity: .9;
					transform: scale3d(1.07, 1.07, 1);
				}

				.caption,
				.caption-header {
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.thumbnail-variant-4 {
		h4 {
			font-size: 22px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.thumbnail-variant-4 {
		.caption {
			padding: 17px 15px;
		}
	}
}

.thumbnail-placeholder {
	box-shadow: 0 0 13px 0 rgba(#010304, 0.15);
	text-align: center;

	.thumbnail-inner {
		position: relative;
		overflow: hidden;
		padding-bottom: 76.22%;
	}

	.caption-header {
		position: absolute;
		top: 50%;
		width: 100%;
		padding: 0 10px;
		transform: translate3d(0, -50%, 0);
	}

	.thumbnail-text-light {
		color: lighten($headings-color, 5%);
	}

	// Medium ≥768px
	@include media-breakpoint-up(md) {
		h4 {
			font-size: 22px;
		}
	}
}

.thumbnail-variant-4.thumbnail-sm {
	.thumbnail-image-wrap {
		padding-bottom: (250 / 300) * 100%;
	}

	p.caption-header {
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		color: $headings-color;
		font-size: 15px;
		line-height: 1.4;

		> * {
			margin-right: .25em;
		}
	}

	.caption {
		padding: 10px 20px;
	}

	img {
		position: absolute !important;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		max-width: none;

		@supports (object-fit: cover) {
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			transform: none;
			object-fit: cover;
			object-position: center top;
		}
	}
}

// Thumbnail profile
.thumbnail-profile {
	.thumbnail-image {
		img {
			width: 100%;
		}
	}

	.thumbnail-caption {
		padding: 20px;
		background: $gallery;
	}

	.thumbnail-caption-inner {
		margin-bottom: -12px;
		@include align-items(flex-end);
		transform: translateY(-12px);
		text-align: center;

		> * {
			display: inline-block;
			margin-top: 12px;
			@include flex-shrink(0);
		}

		&, > ul {
			width: 100%;
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(row);
			@include flex-wrap(wrap);
		}

		ul {
			position: relative;
			margin-bottom: -3px;
			transform: translateY(-3px);
			@include flex-grow(2);

			> li {
				display: inline-block;
				margin-top: 3px;
				padding: 0 7px;
			}
		}

		.btn-wrap {
			@include flex-grow(1);
		}

		@include media-breakpoint-up(sm) {
			&, ul {
				@include justify-content(center);
			}
		}

		@include media-breakpoint-up(lg) {
			ul {
				@include justify-content(space-around);
			}
		}

		@include media-breakpoint-up(xl) {
			text-align: left;
			@include justify-content(space-between);

			.btn-wrap {
				text-align: right;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.thumbnail-variant-2 {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.thumbnail-variant-3,
	.thumbnail-profile {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}

// Make thumbnails to fit entire container width
.thumbnail-block {
	display: block;

	> img,
	a > img {
		width: 100%;
		height: auto;
	}
}

// Thumbnail modern
.thumbnail-modern {
	position: relative;
	overflow: hidden;
	will-change: transform;
	cursor: pointer;
}


.thumbnail-modern-figure {
	display: block;

	img {
		width: 100%;
		transition: all .3s ease;
		//will-change: transform;
	}
}

.thumbnail-modern-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: start;
	padding: 20px;
	background: rgba(45, 82, 144, .7);
	color: $white;
}

.thumbnail-modern-author {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
}

.thumbnail-modern-text {
	margin-top: 10px;
	line-height: 1.4;
}

@include media-breakpoint-down(sm) {
	.thumbnail-modern{
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-up(sm) {
	.thumbnail-modern {
		max-width: 100%;
	}
}

@include media-breakpoint-up(xl) {
	.thumbnail-modern-text {
		margin-top: 10px;
	}
}
@include media-breakpoint-up(xxl) {
	.thumbnail-modern-caption {
		padding: 40px;
	}
	.thumbnail-modern-text {
		margin-top: 20px;
		font-size: 24px;
	}
}

@media (min-width: 1850px) {
	.thumbnail-modern-text {
		margin-top: 40px;
	}
}

.desktop {
	// Large ≥992px
	@include media-breakpoint-up(lg) {

		.thumbnail-modern-figure img {
			transform: none;
		}

		.thumbnail-modern-caption {
			visibility: hidden;
			transition: all .3s linear;
			background-color: $primary;
		}

		.thumbnail-modern-text {
			margin-top: 40px;
		}

		.thumbnail-modern:hover {

			.thumbnail-modern-figure img {
				transform: scale(1.2);
			}

			.thumbnail-modern-caption {
				opacity: 1;
				visibility: visible;
			}
		}

		.hoverdir-item .thumbnail-modern-caption {
			opacity: 1;
			visibility: visible;
			transform: translate(-100%, 0);
			will-change: transform;
			pointer-events: none;

			> * {
				pointer-events: auto;
			}
		}

		&[data-x-mode='true'] {
			.hoverdir-item .thumbnail-modern-caption {
				opacity: 0;
				visibility: hidden;
				transform: none;
			}

			.thumbnail-modern:hover {
				.thumbnail-modern-caption {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}