<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>FAQ</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Exo:400,400i,700,700i%7CHind:300,300italic,400,400italic,700,900%7CPlayfair+Display:700italic,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
		
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  <body>
    <div class="page">
      <div class="page-loader page-loader-variant-1">
        <div class="page-loader-body">
          <div class="cube-wrapper">
            <div class="cube-folding"><span class="leaf1"></span><span class="leaf2"></span><span class="leaf3"></span><span class="leaf4"></span></div>
          </div>
        </div>
      </div>
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate-light" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="53px" data-lg-stick-up-offset="53px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside-wrap">
                <div class="rd-navbar-aside">
                  <div class="rd-navbar-aside-toggle" data-rd-navbar-toggle=".rd-navbar-aside"><span></span></div>
                  <div class="rd-navbar-aside-content">
                    <ul class="rd-navbar-aside-group list-units">
                      <li> 
                        <div class="unit flex-row unit-spacing-xs align-items-center">
                          <div class="unit-left unit-icon-left"><span class="icon icon-xxs icon-secondary material-icons-phone"></span></div>
                          <div class="unit-body"><a class="link-gray-base" href="tel:#">+1 (232) 349–8447</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row unit-spacing-xs align-items-center">
                          <div class="unit-left unit-icon-left"><span class="icon icon-xxs-small icon-secondary fa-envelope-o"></span></div>
                          <div class="unit-body"><a class="link-gray-base" href="mailto:#">info@demolink.org</a></div>
                        </div>
                      </li>
                    </ul>
                    <div class="rd-navbar-aside-group"> 
                      <ul class="list-inline list-inline-reset">
                        <li><a class="icon icon-square icon-whisper-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li>
                        <li><a class="icon icon-square icon-whisper-filled icon-xxs-smallest fa fa-x-twitter" href="#"></a></li>
                        <li><a class="icon icon-square icon-whisper-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="rd-navbar-search">
                  <form class="rd-search" action="search-results.html" method="GET" data-search-live="rd-search-results-live">
                    <div class="rd-search-inner">
                      <div class="form-wrap">
                        <label class="form-label" for="rd-search-form-input">Search...</label>
                        <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                      </div>
                      <button class="rd-search-submit" type="submit"></button>
                    </div>
                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                  </form>
                  <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-search-wrap"></button>
                </div>
              </div>
              <div class="rd-navbar-group">
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/brand.png" alt=""></a>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <div class="rd-navbar-btn-wrap"><a class="btn btn-smaller btn-tuatara-outline" href="#">Get a Quote</a></div>
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html">Home</a>
                      </li>
                      <li><a href="about-us.html">About Us</a>
                      </li>
                      <li><a href="services.html">Services</a>
                      </li>
                      <li><a href="#">Cases</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="grid-gallery.html">Grid gallery</a>
                          </li>
                          <li><a href="masonry-gallery.html">Masonry gallery</a>
                          </li>
                          <li><a href="cobbles-gallery.html">Cobbles gallery</a>
                          </li>
                          <li><a href="gallery-item.html">Gallery item</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Blog</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-classic.html">Classic blog</a>
                          </li>
                          <li><a href="grid-blog.html">Grid blog</a>
                          </li>
                          <li><a href="blog-line.html">Blog Line</a>
                          </li>
                          <li><a href="masonry-blog.html">Masonry Blog</a>
                          </li>
                          <li><a href="blog-post.html">Blog post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="active"><a href="#">Pages</a>
                        <ul class="rd-navbar-megamenu">
                          <li>
                            <h5 class="rd-megamenu-header">Cases</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="grid-gallery.html">Grid gallery</a></li>
                              <li><a href="masonry-gallery.html">Masonry gallery</a></li>
                              <li><a href="cobbles-gallery.html">Cobbles gallery</a></li>
                              <li><a href="gallery-item.html">Gallery item</a></li>
                            </ul>
                            <h5 class="rd-megamenu-header">Pages</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="about-us.html">About us</a></li>
                              <li><a href="services.html">Services</a></li>
                              <li><a href="extras.html">Extras</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Pages 2</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="appointment.html">Make an Appointment</a></li>
                              <li><a href="clients.html">Clients</a></li>
                              <li><a href="client-testimonials.html">Client testimonials</a></li>
                              <li><a href="our-team.html">Our team</a></li>
                              <li><a href="team-member-profile.html">Team member profile</a></li>
                              <li><a href="careers.html">Careers</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="faq.html">FAQ</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Extras</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="page-404.html">404</a></li>
                              <li><a href="page-503.html">503</a></li>
                              <li><a href="maintenance.html">Maintenance</a></li>
                              <li><a href="coming-soon.html">Coming soon</a></li>
                              <li><a href="login.html">Login</a></li>
                              <li><a href="register.html">Register</a></li>
                              <li><a href="search-results.html">Search results</a></li>
                              <li><a href="privacy.html">Terms of use</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Components</h5>
                            <ul class="rd-navbar-list">
                              <li><a href="accordion.html">Accordion</a></li>
                              <li><a href="buttons.html">Buttons</a></li>
                              <li><a href="grid.html">Grid</a></li>
                              <li><a href="forms.html">Forms</a></li>
                              <li><a href="icons.html">Icons</a></li>
                              <li><a href="icon-lists.html">Icon lists</a></li>
                              <li><a href="progress-bars.html">Progress bars</a></li>
                              <li><a href="tabs.html">Tabs</a></li>
                              <li><a href="table-styles.html">Table styles</a></li>
                              <li><a href="typography.html">Typography</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="contacts-us.html">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-8.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>FAQ</h2>
          </div>
        </div>
      </section>

      <section class="section-60 section-md-90 section-xl-bottom-120 bg-gray-lighter">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-12">
              <div class="row row-50">
                <div class="col-lg-6">
                  <h3>General Questions</h3>
                  <p>On this page we have collected the most popular questions.</p>
                  <div class="accordion accordion-group accordion-group-corporate" id="accordionOne">
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionOne-accordion-head-agipobhn">
                        <div class="accordion-title">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionOne-accordion-body-wgqamgtd" aria-controls="accordionOne-accordion-body-wgqamgtd" aria-expanded="true">What will happen when my policy is due for renewal?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse show" id="accordionOne-accordion-body-wgqamgtd" aria-labelledby="accordionOne-accordion-head-agipobhn" data-bs-parent="#accordionOne">
                        <div class="accordion-body">
                          <p>At renewal, we will transfer your policy over to our sister company ShieldGroup, which means that form your renewal date you will be insured through ShieldGroup. We will write to you prior to your renewal with details of your cover and your premium for the coming year.</p>
                        </div>
                      </div>
                    </article>
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionOne-accordion-head-xaanjbho">
                        <div class="accordion-title">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionOne-accordion-body-domlqixy" aria-controls="accordionOne-accordion-body-domlqixy" aria-expanded="false">Will I see any change in the level of service you provide?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse" id="accordionOne-accordion-body-domlqixy" aria-labelledby="accordionOne-accordion-head-xaanjbho" data-bs-parent="#accordionOne">
                        <div class="accordion-body">
                          <p>Absolutely not, we will continue to provide the high level of service you expect from us, by operating under the one brand it will allow us to continue to deliver competitive premiums and great service.</p>
                        </div>
                      </div>
                    </article>
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionOne-accordion-head-akxnarbv">
                        <div class="accordion-title">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionOne-accordion-body-wavykvdu" aria-controls="accordionOne-accordion-body-wavykvdu" aria-expanded="false">Will this affect my no-claims bonus?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse" id="accordionOne-accordion-body-wavykvdu" aria-labelledby="accordionOne-accordion-head-akxnarbv" data-bs-parent="#accordionOne">
                        <div class="accordion-body">
                          <p>We will transfer your no claims bonus along with the rest of your policy details to ShieldGroup before we send your renewal invitation.</p>
                        </div>
                      </div>
                    </article>
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionOne-accordion-head-hisktdtd">
                        <div class="accordion-title">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionOne-accordion-body-gsnppvwl" aria-controls="accordionOne-accordion-body-gsnppvwl" aria-expanded="false">Who are ShieldGroup?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse" id="accordionOne-accordion-body-gsnppvwl" aria-labelledby="accordionOne-accordion-head-hisktdtd" data-bs-parent="#accordionOne">
                        <div class="accordion-body">
                          <p>We launched in 1995 to provide insurance to customers of the renowned garages. We now have 20 years of experience in the insurance industry and have recently been awarded a 5 star defaqto rating for our comprehensive car insurance cover, full UK recovery breakdown cover and our platinum pet insurance cover.</p>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="col-lg-6">
                  <h3>Other Questions</h3>
                  <p>The answers on most common questions are described bellow.</p>
                  <div class="accordion accordion-group accordion-group-corporate" id="accordionTwo">
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionTwo-accordion-head-qlthplxt">
                        <div class="accordion-title">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionTwo-accordion-body-hemglske" aria-controls="accordionTwo-accordion-body-hemglske" aria-expanded="true">What if I am in the process of making a claim?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse show" id="accordionTwo-accordion-body-hemglske" aria-labelledby="accordionTwo-accordion-head-qlthplxt" data-bs-parent="#accordionTwo">
                        <div class="accordion-body">
                          <p>Absolutely not, we will continue to provide the high level of service you expect from us, by operating under the one brand it will allow us to continue to deliver competitive premiums and great service.</p>
                        </div>
                      </div>
                    </article>
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionTwo-accordion-head-qflmjipv">
                        <div class="accordion-title">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionTwo-accordion-body-moyjwdhf" aria-controls="accordionTwo-accordion-body-moyjwdhf" aria-expanded="false">What about your Agency Credentials?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse" id="accordionTwo-accordion-body-moyjwdhf" aria-labelledby="accordionTwo-accordion-head-qflmjipv" data-bs-parent="#accordionTwo">
                        <div class="accordion-body">
                          <p>We are very proud of our Agency Credentials and over the period 2007 to 2012, we offset car CO2 emissions, and are proud to have planted 2.5 million trees.  To mark the end of The Insurance Agency, we have donated £30,000 to Eco Schools – a programme launched in 1992 to provide children with a fun and engaging way to learn about protecting our environment.</p>
                        </div>
                      </div>
                    </article>
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionTwo-accordion-head-outdyjpv">
                        <div class="accordion-title">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionTwo-accordion-body-mgljidsd" aria-controls="accordionTwo-accordion-body-mgljidsd" aria-expanded="false">Will my payments change?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse" id="accordionTwo-accordion-body-mgljidsd" aria-labelledby="accordionTwo-accordion-head-outdyjpv" data-bs-parent="#accordionTwo">
                        <div class="accordion-body">
                          <p>No - Your payments will stay the same unless you make a change to your policy.</p>
                        </div>
                      </div>
                    </article>
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionTwo-accordion-head-mvwevxdt">
                        <div class="accordion-title">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionTwo-accordion-body-kswxyhom" aria-controls="accordionTwo-accordion-body-kswxyhom" aria-expanded="false">Will terms and conditions change my current policy?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse" id="accordionTwo-accordion-body-kswxyhom" aria-labelledby="accordionTwo-accordion-head-mvwevxdt" data-bs-parent="#accordionTwo">
                        <div class="accordion-body">
                          <p>No - Your current policy will continue to run as normal and all terms, conditions and policy details will stay exactly the same, unless you make a change to your policy.</p>
                        </div>
                      </div>
                    </article>
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionTwo-accordion-head-aunfadns">
                        <div class="accordion-title">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionTwo-accordion-body-iaaxfgmd" aria-controls="accordionTwo-accordion-body-iaaxfgmd" aria-expanded="false">Do you offer Life insurance?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse" id="accordionTwo-accordion-body-iaaxfgmd" aria-labelledby="accordionTwo-accordion-head-aunfadns" data-bs-parent="#accordionTwo">
                        <div class="accordion-body">
                          <p>No. We are a non life insurer.</p>
                        </div>
                      </div>
                    </article>
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionTwo-accordion-head-xamurwfa">
                        <div class="accordion-title">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionTwo-accordion-body-snqslnsb" aria-controls="accordionTwo-accordion-body-snqslnsb" aria-expanded="false">Do you offer home insurance or other personal products?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse" id="accordionTwo-accordion-body-snqslnsb" aria-labelledby="accordionTwo-accordion-head-xamurwfa" data-bs-parent="#accordionTwo">
                        <div class="accordion-body">
                          <p>Yes. We offer excellent cost effective covers for motor, home and personal accident insurance programs.</p>
                        </div>
                      </div>
                    </article>
                    <!--Bootstrap accordion-->
                    <article class="accordion-item accordion-custom accordion-corporate">
                      <div class="accordion-header" id="accordionTwo-accordion-head-kwcnncut">
                        <div class="accordion-title">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionTwo-accordion-body-qnhfidfb" aria-controls="accordionTwo-accordion-body-qnhfidfb" aria-expanded="false">Will you increase number of your branches and offices?<span class="accordion-arrow"></span>
                          </button>
                        </div>
                      </div>
                      <div class="accordion-collapse collapse" id="accordionTwo-accordion-body-qnhfidfb" aria-labelledby="accordionTwo-accordion-head-kwcnncut" data-bs-parent="#accordionTwo">
                        <div class="accordion-body">
                          <p>Yes. Indeed, we will expand our branch net work in years to come.</p>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-40 section-md-75 bg-tuatara footer-section">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="col-sm-9 col-md-11 col-xl-12">
              <div class="row row-50">
                <div class="col-md-6 col-lg-10 col-xl-3">
                  <div class="inset-xl-right-20" style="max-width: 510px;"><a class="brand brand-inverse" href="index.html"><img src="images/brand-inverse.png" alt=""></a>
                    <p class="text-spacing--30 text-star-dust">ShieldGroup has been a trusted name in insurance for more than 15 years. Today, we proudly serve more than 16 million customers nationwide.</p><a class="link link-group link-group-animated link-black link-white" href="#"><span>About Us</span><span class="icon icon-xxs icon-primary fa fa-angle-right"></span></a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <h6 class="h6 footer-title">Recent Posts</h6>
                        <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">
                            <div class="unit unit-horizontal unit-spacing-lg">
                              <div class="unit-left">
                                <figure class="post-image"><img src="images/post-preview-7-70x70.jpg" alt="" width="70" height="70"/>
                                </figure>
                              </div>
                              <div class="unit-body">
                                <div class="post-header">
                                  <p class="inset-lg-right-10">A Look into Nonprofit Risk Management</p>
                                </div>
                                <div class="post-meta">
                                  <ul class="list-meta">
                                    <li>
                                      <time datetime="2021-02-04">June 23, 2021 </time>
                                    </li>
                                    <li>3 Comments</li>
                                  </ul>
                                </div>
                              </div>
                            </div></a></article>
                        <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">
                            <div class="unit unit-horizontal unit-spacing-lg">
                              <div class="unit-left">
                                <figure class="post-image"><img src="images/post-preview-8-70x70.jpg" alt="" width="70" height="70"/>
                                </figure>
                              </div>
                              <div class="unit-body">
                                <div class="post-header">
                                  <p class="inset-lg-right-10">Workers’ Compensation: Combinability of Insureds</p>
                                </div>
                                <div class="post-meta">
                                  <ul class="list-meta">
                                    <li>
                                      <time datetime="2021-02-04">June 20, 2021</time>
                                    </li>
                                    <li>3 Comments</li>
                                  </ul>
                                </div>
                              </div>
                            </div></a></article>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <h6 class="h6 footer-title">Get a Quote</h6>
                  <form class="rd-mailform form-sm" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                    <div class="form-wrap">
                      <input class="form-input" id="footer-form-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="footer-form-email">Email</label>
                    </div>
                    <div class="form-wrap">
                      <textarea class="form-input" id="footer-form-message" name="message" data-constraints="@Required"></textarea>
                      <label class="form-label" for="footer-form-message">Message</label>
                    </div>
                    <div class="form-wrap">
                      <button class="btn btn-sm btn-primary btn-block" type="submit">Send</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <h6 class="h6 footer-title">Contact us</h6>
                  <address class="contact-info text-start">
                    <div class="unit unit-horizontal unit-spacing-xs align-items-center">
                      <div class="unit-left"><span class="icon icon-xs icon-primary material-icons-phone"></span></div>
                      <div class="unit-body"><a class="link-white" href="tel:#">+1 (409) 987–5874</a></div>
                    </div>
                    <div class="unit unit-horizontal unit-spacing-xs align-items-center">
                      <div class="unit-left"><span class="icon icon-xs icon-primary fa fa-envelope-o"></span></div>
                      <div class="unit-body"><a class="link-white" href="mailto:#">info@demolink.org</a></div>
                    </div>
                    <div class="unit unit-horizontal unit-spacing-xs">
                      <div class="unit-left"><span class="icon icon-xs icon-primary material-icons-place"></span></div>
                      <div class="unit-body"><a class="link-white d-inline" href="#">6036 Richmond hwy,<br>Alexandria, VA USA 22303</a></div>
                    </div>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="page-foot bg-tuatara">
        <div class="container">
          <hr class="divider-bismark-04">
        </div>
        <div class="section-35">
          <div class="container text-center">
            <div class="row flex-md-row-reverse justify-content-md-between align-items-md-center row-15">
              <div class="col-md-6 text-md-end">
                <div class="group-sm group-middle">
                  <p class="font-italic text-white">Follow Us:</p>
                  <ul class="list-inline list-inline-reset">
                    <li><a class="icon icon-square icon-secondary icon-xxs-smallest fa fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-square icon-secondary icon-xxs-smallest fa fa-x-twitter" href="#"></a></li>
                    <li><a class="icon icon-square icon-secondary icon-xxs-smallest fa fa-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 text-md-start">
                <p class="rights text-white"><span class="copyright-year"></span><span>&nbsp;&#169;&nbsp;</span><span>ShieldGroup.&nbsp;</span><a class="link-white-v2" href="privacy.html">Privacy Policy</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by retoyfer-->
  </body>
</html>