@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Default
.counter-default-main {
  color: $secondary;
  font-weight: 600;
  font-size: px-to-rem(35px);

  @include media-breakpoint-up(sm) {
	font-size: px-to-rem(40px);
  }
  @include media-breakpoint-up(lg) {
	font-size: px-to-rem(60px);
  }
}

.counter-default-title {
  margin-top: px-to-rem(5px);
  font-weight: 700;
  color: $secondary;
}

.context-dark {
  .counter-default-main,
  .counter-default-title {
	color: $white;
  }
}


// Layouts
@import "counter-boxed";
