@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";
@import "../bootstrap/scss/nav";


// Base
.nav {
	display: block;
	margin-right: px-to-rem( -25px );
	white-space: nowrap;
}

.nav-link {
	position: relative;
	white-space: nowrap;
	padding: px-to-rem( 18px, 25px );
	border-top-left-radius: px-to-rem( 40px );
	border-bottom-left-radius: px-to-rem( 40px );
	color: inherit;
	transition: $transition-base;

	&::before,
	&::after {
		position: absolute;
		content: '';
		right: 0;
		width: px-to-rem( 25px );
		height: px-to-rem( 25px );
		transform: translateX( 100% );
		opacity: 0;
		visibility: hidden;
		transition: inherit;
	}

	&::before {
		bottom: 100%;
	  background-image: str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25'%3E%3Cpath d='M0,25c13.807,0,25-11.193,25-25v25H0z' fill='#{$white}'%3E%3C/path%3E%3C/svg%3E"), "#", "%23");
		background-position: bottom right;
	}

	&::after {
		top: 100%;
		background-image: str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25'%3E%3Cpath d='M0,0c13.807,0,25,11.193,25,25V0H0z' fill='#{$white}'%3E%3C/path%3E%3C/svg%3E"), "#", "%23");
		background-position: top right;
	}


	svg {
		display: none;
	}

	&:hover {
		text-decoration: underline;
	}

	&.active {
		color: $gray-700;
		background: $white;
		text-decoration: none;

		&::before,
		&::after {
			transform: none;
			opacity: 1;
			visibility: visible;
		}
	}
}


// Spacing
* + .nav {
	margin-top: px-to-rem( 30px );
}

* + .nav-item {
	margin-top: px-to-rem( 12px );
}