// Base
.owl-style-3 {
	.owl-nav {
		display: none;
	}

	.owl-dots {
		display: block;

	  	span {
		  background: lighten($primary, 40%);
		}
	}

	.owl-stage-outer {

		padding: 30px 20px 55px;
		margin: -30px -20px -55px;
	}
}


// Media
@include media-breakpoint-up(xl) {
	.owl-style-3 {
		.owl-nav {
			display: block;
		}

		.owl-dots {
			display: none;
		}
	}
}
