<!DOCTYPE html>
<html class="wide wow-animation font-size-default" lang="en">
  <head>
    <title>404 page</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
		
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <section class="section section-single novi-background bg-gray-darker novi-background" style="background-image: url(images/bg-404.jpg);">
        <div class="section-single-inner">
          <header class="section-single-header">
            <div class="page-head-inner">
              <div class="container text-center"><a class="brand brand-md brand-inverse" href="index.html"><img src="images/logo-light-155x44.png" alt="" width="155" height="44"/></a></div>
            </div>
          </header>
          <div class="section-single-main">
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-9 col-lg-8">
                  <h5>Sorry, but page was not found</h5>
                  <div class="text-extra-large-bordered">
                    <p>404</p>
                  </div>
                  <p>You may have mistyped the address or the page may have moved.</p>
                  <div class="group-xl"><a class="btn btn-primary" href="index.html">Back to home</a><a class="btn btn-white-outline" href="contact-us.html">Contact us</a></div>
                </div>
              </div>
            </div>
          </div>
          <section class="page-foot">
            <div class="page-foot-inner">
              <div class="container text-center">
                <div class="row">
                  <div class="col-sm-12">
                    <p class="rights text-small text-light"><span>© 2021.</span><span>&nbsp;TitanCorps.&nbsp;</span><span id="copyright-year"></span><span>All Rights Reserved.</span><br class="d-md-none"><a class="link-primary-inverse" href="privacy-policy.html">Privacy Policy</a></p>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
      </section>
      <!-- Modal-->
      <div class="modal fade" id="appointment" tabindex="-1" role="dialog" aria-labelledby="appointment" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content bg-whisper">
            <div class="modal-header">
              <h3>Get in <span class="text-thin">Touch</span></h3>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-30">
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="feedback-2-first-name" type="text" name="first-name" data-constraints="@Required">
                      <label class="form-label" for="feedback-2-first-name">First Name</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="feedback-2-last-name" type="text" name="last-name" data-constraints="@Required">
                      <label class="form-label" for="feedback-2-last-name">Last Name</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="feedback-2-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="feedback-2-email">Email</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="feedback-2-phone" type="text" name="phone" data-constraints="@Numeric @Required">
                      <label class="form-label" for="feedback-2-phone">Phone</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="feedback-date" type="text" name="date" data-constraints="@Required" data-time-picker="date">
                      <label class="form-label" for="feedback-date">Date</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="feedback-time" type="text" name="time" data-constraints="@Required" data-time-picker="time">
                      <label class="form-label" for="feedback-time">Time Interval</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-wrap">
                      <textarea class="form-input" id="feedback-2-message" name="message" data-constraints="@Required"></textarea>
                      <label class="form-label" for="feedback-2-message">Message</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-primary-outline btn-block" type="submit">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal-->
      <div class="modal fade" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
          <div class="modal-content bg-whisper">
            <div class="modal-header">
              <p class="text-uppercase text-abbey fw-bold">Choose your plane</p>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="rd-mailform">
                <div class="block-inner">
                  <div class="form-wrap">
                    <input class="form-input" id="register-form-name" type="text" name="name" data-constraints="@Required">
                    <label class="form-label" for="register-form-name">Name</label>
                  </div>
                  <div class="form-wrap">
                    <input class="form-input" id="feedback-email" type="email" name="email" data-constraints="@Email @Required">
                    <label class="form-label" for="feedback-email">Email</label>
                  </div>
                  <div class="form-wrap">
                    <input class="form-input" id="feedback-phone" type="text" name="phone" data-constraints="@Numeric @Required">
                    <label class="form-label" for="feedback-phone">Phone</label>
                  </div>
                  <div class="form-wrap">
                    <textarea class="form-input" id="feedback-message" name="message" data-constraints="@Required"></textarea>
                    <label class="form-label" for="feedback-message">Message</label>
                  </div>
                  <div class="form-wrap">
                    <select class="form-input select-filter" data-placeholder="Select your plane" data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option value="Free">Free - 0$</option>
                      <option value="Starter">Starter - 59$</option>
                      <option value="Business">Business - 99$</option>
                      <option value="Ultimate">Ultimate - 199$</option>
                    </select>
                  </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by byte-->
  </body>
</html>