@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.counter-default {
	& + & {
		margin-top: 30px;

		@include media-breakpoint-up(xl) {
			margin-top: 55px;
		}
	}
}

.counter-default-title {
	text-transform: uppercase;
	font-weight: 700;
	max-width: 150px;
	margin-top: 4px;
}
