@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Variables
$icon-size: (
	( 'xxs', 36px, 22px ),
	( 'xs', 50px, 26px ),
	( 'sm', 60px, 30px ),
	( 'md', 70px, 34px ),
	( 'lg', 90px, 40px ),
	( 'xl', 110px, 50px )
);


// Base
.icon {
	font-weight: 400;
}

a.icon,
button.icon {
	transition: .25s;
}


// Modifiers
.icon-rect,
.icon-round,
.icon-circle {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 2em;
	height: 2em;
	line-height: 1;
	vertical-align: middle;
	background: $white;
	box-shadow: $box-shadow-sm;

	> span {
		color: inherit;
		line-height: inherit;
	}
}

.icon-round {
	border-radius: $border-radius;
}

.icon-circle {
	border-radius: 50%;
}

.page a.icon-social {
	color: inherit;

	&:hover {
		color: $primary;
	}
}


// Sizing
@each $postfix, $size, $font-size in $icon-size {
	.icon-#{$postfix} {
		font-size: px-to-rem( $font-size );

		&.icon-rect,
		&.icon-round,
		&.icon-circle {
			width: px-to-rem( $size );
			height: px-to-rem( $size );
		}
	}
}


// Theming
@each $color, $value in $theme-colors {
	.icon-#{$color} {
		color: $value;
	}

	.icon-#{$color}-filled {
		color: color-yiq($value);
		background-color: $value;
	}

	a,
	button {
		&.icon-#{$color} {
			&:hover {
				color: if( get-yiq( $value ) < 30, lighten( $value, 10% ), darken( $value, 10% ) );
			}
		}

		&.icon-#{$color}-filled {
			&:hover {
				background: if( get-yiq( $value ) < 30, lighten( $value, 10% ), darken( $value, 10% ) );
				color: $white;
			}
		}
	}
}


// Contexts
.page {
	.bg-primary {
		a.icon-social:hover {
			color: $secondary;
		}
	}
}