@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

.contacts {
	max-width: 230px;
}

.contacts-phone {
	font-weight: 700;

	* + & {
		margin-top: 23px;
	}
}
