@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.footer {
	padding: 60px 0;
	line-height: 1.2;

	@include media-breakpoint-up(md) {
		padding: 100px 0;
	}

	@include media-breakpoint-up(xl) {
		padding: 120px 0 112px;
	}

	@include media-breakpoint-up(xl) {
		padding: 160px 0 150px;
	}

	.logo + * {
		margin-top: 25px;
	}

	a {
		@include link( inherit, $primary );
	}

	[href*=tel] {
		@include link( $primary, $gray-800 )
	}

	[href*=mailto] {
		@include link( $primary, $gray-800 )
	}

	.row + .row {
		margin-top: 25px;
	}
}

.footer-contacts {
	* + & {
		margin-top: 40px;
	}

	& + & {
		margin-top: 38px;
	}
}

.footer-nav-list {
	font-weight: 500;

	* + & {
		margin-top: 10px;
	}

	li + li {
		margin-top: 11px;
	}
}

.footer-heading {
	color: $primary;
	font-weight: 700;
}

.footer-bottom-box {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include media-breakpoint-up(md) {
		padding-top: 12px;
	}
}
