// Border
@each $breakpoint in map-keys( $grid-breakpoints ) {
	$infix: breakpoint-infix( $breakpoint, $grid-breakpoints );
	@include media-breakpoint-up( $breakpoint, $grid-breakpoints ) {
		@each $prop in ( top, left, right, bottom ) {
			.border#{$infix}-#{$prop} {
				border-#{$prop}: $border-width solid $border-color !important;
			}
		}
	}
}
.circle-img {
  border-radius: 50%;
}

.decor {
  &:after {
    display: block;
    margin: 45px auto 0;
    content: '';
    width: 2px;
    height: 200px;
    background-color: $primary;
  }
}