<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rally Hoops Basketball</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.min.js"></script>
    <script src="components/base/script.js"></script>
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-rd-navbar='{"responsive":{"1200":{"autoHeight":false}}}'>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main position-relative">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                          <!-- Logo-->
                          <div class="logo"><a class="logo-link" href="../rally hoops/index.html"><img class="logo-image-default" src="images/logo-default-137x51.svg" alt="Rally Hoops" width="137" height="51"/><img class="logo-image-inverse" src="images/logo-inverse-137x51.svg" alt="Rally Hoops" width="137" height="51"/></a></div>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <button class="rd-navbar-nav-toggle" data-multitoggle=".rd-navbar-nav-wrap">
                    <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="11.4285" width="8.57143" height="8.57143" rx="4.28571" fill="#222222"></rect>
                      <rect width="8.57143" height="8.57143" rx="4.28571" fill="#222222"></rect>
                      <rect x="11.4286" y="11.4285" width="8.57143" height="8.57143" rx="4.28571" fill="#FFB72B"></rect>
                      <rect x="11.4286" width="8.57143" height="8.57143" rx="4.28571" fill="#222222"></rect>
                    </svg>
                  </button>
                  <div class="rd-navbar-nav-wrap">
                          <ul class="rd-navbar-nav">
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#about">About</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#why-us">Why us</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#staff">Coaching staff</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#facts">Facts &amp; numbers</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#gallery">Gallery</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#testimonials">Testimonials</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="#contacts">Contacts</a>
                            </li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-into bg-image-1" id="about" style="background-image: url(images/bg-image-01.png);">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-6">
              <h1 class="fw-normal">welcome to<span class="d-block fw-bold">rally hoops</span><span class="d-block fw-bold text-primary text-stroke">basketball<br>academy</span></h1>
              <div class="block block-lg">
                <p>We are an international sports organization providing services to athletes from all around the world, with a firm mission to help them achieve their goals.</p>
              </div><a class="btn btn-dot" href="#">Learn more</a>
            </div>
            <div class="col-md-6 position-relative">
              <div class="box box-img-1"><img src="images/home-01-765x820.png" alt="" width="765" height="820"/>
              </div>
            </div>
          </div>
        </div>
        <section class="section section-inner section-into bg-transparent" id="why-us">
          <div class="container">
            <div class="row row-10">
              <div class="col-xl-2 offset-bottom-sm-20 offset-bottom-md-30">
                <h6>Why us?</h6>
              </div>
              <div class="col-md-6 col-xl-5">
                      <!-- Counter default-->
                      <article class="advantage">
                        <figure><img src="images/training-70x70.svg" alt="" width="70" height="70"/>
                        </figure>
                        <h4 class="advantage-title"><a href="#">Training</a></h4>
                        <p class="advantage-text">Effective training from our professional coaches.</p>
                        <div class="advantage-shape"><img src="images/ball-140x140.svg" alt="" width="140" height="140"/>
                        </div>
                      </article>
              </div>
              <div class="col-md-6 col-xl-5">
                      <!-- Counter default-->
                      <article class="advantage">
                        <figure><img src="images/authority-70x70.svg" alt="" width="70" height="70"/>
                        </figure>
                        <h4 class="advantage-title"><a href="#">Authority</a></h4>
                        <p class="advantage-text">We invite an independent referee to every game we organize.</p>
                        <div class="advantage-shape"><img src="images/ball-140x140.svg" alt="" width="140" height="140"/>
                        </div>
                      </article>
              </div>
              <div class="col-md-6 col-xl-5 offset-xl-2">
                      <!-- Counter default-->
                      <article class="advantage">
                        <figure><img src="images/stopwatch-70x70.svg" alt="" width="70" height="70"/>
                        </figure>
                        <h4 class="advantage-title"><a href="#">Precision &amp; timing</a></h4>
                        <p class="advantage-text">The players of our club learn to grasp the game faster.</p>
                        <div class="advantage-shape"><img src="images/ball-140x140.svg" alt="" width="140" height="140"/>
                        </div>
                      </article>
              </div>
              <div class="col-md-6 col-xl-5">
                      <!-- Counter default-->
                      <article class="advantage">
                        <figure><img src="images/heart-70x70.svg" alt="" width="70" height="70"/>
                        </figure>
                        <h4 class="advantage-title"><a href="#">Team unity</a></h4>
                        <p class="advantage-text">Being a team player has a deeper sense in basketball.</p>
                        <div class="advantage-shape"><img src="images/ball-140x140.svg" alt="" width="140" height="140"/>
                        </div>
                      </article>
              </div>
              <div class="col-md-6 col-xl-5 offset-xl-2">
                      <!-- Counter default-->
                      <article class="advantage">
                        <figure><img src="images/presentation-70x70.svg" alt="" width="70" height="70"/>
                        </figure>
                        <h4 class="advantage-title"><a href="#">Youth academy</a></h4>
                        <p class="advantage-text">A great training program for the younger players.</p>
                        <div class="advantage-shape"><img src="images/ball-140x140.svg" alt="" width="140" height="140"/>
                        </div>
                      </article>
              </div>
              <div class="col-md-6 col-xl-5">
                      <!-- Counter default-->
                      <article class="advantage">
                        <figure><img src="images/trophy-70x70.svg" alt="" width="70" height="70"/>
                        </figure>
                        <h4 class="advantage-title"><a href="#">Championship</a></h4>
                        <p class="advantage-text">All our players get to take part in various major championships.</p>
                        <div class="advantage-shape"><img src="images/ball-140x140.svg" alt="" width="140" height="140"/>
                        </div>
                      </article>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!-- Team-->
      <section class="section section-xl bg-gray" id="staff">
        <div class="container">
          <h6>Meet our COACHING STAFF</h6>
          <div class="row row-xl row-50">
            <div class="col-md-4">
                    <article class="person">
                      <figure class="figure"><a href="#"><img class="person-figure-img" src="images/person-01-390x485.jpg" alt="" width="390" height="485"/></a></figure>
                      <h4 class="person-name"><a href="#">Tyrone Wilson</a></h4>
                      <p class="person-position">Adult Coach, Club Founder</p>
                      <ul class="list list-inline list-social">
                        <li><a class="icon icon-black icon-xxs icomoon-facebook" href="#"></a></li>
                        <li><a class="icon icon-black icon-xxs icomoon-twitter" href="#"></a></li>
                        <li><a class="icon icon-black icon-xxs icomoon-linkedin" href="#"></a></li>
                      </ul>
                    </article>
            </div>
            <div class="col-md-4">
                    <article class="person">
                      <figure class="figure"><a href="#"><img class="person-figure-img" src="images/person-02-390x575.jpg" alt="" width="390" height="575"/></a></figure>
                      <h4 class="person-name"><a href="#">Marvin McKinney</a></h4>
                      <p class="person-position">Teen Coach</p>
                      <ul class="list list-inline list-social">
                        <li><a class="icon icon-black icon-xxs icomoon-facebook" href="#"></a></li>
                        <li><a class="icon icon-black icon-xxs icomoon-twitter" href="#"></a></li>
                        <li><a class="icon icon-black icon-xxs icomoon-linkedin" href="#"></a></li>
                      </ul>
                    </article>
            </div>
            <div class="col-md-4">
                    <article class="person">
                      <figure class="figure"><a href="#"><img class="person-figure-img" src="images/person-03-390x390.jpg" alt="" width="390" height="390"/></a></figure>
                      <h4 class="person-name"><a href="#">Edward Bell</a></h4>
                      <p class="person-position">Kids’ Coach</p>
                      <ul class="list list-inline list-social">
                        <li><a class="icon icon-black icon-xxs icomoon-facebook" href="#"></a></li>
                        <li><a class="icon icon-black icon-xxs icomoon-twitter" href="#"></a></li>
                        <li><a class="icon icon-black icon-xxs icomoon-linkedin" href="#"></a></li>
                      </ul>
                    </article>
            </div>
          </div>
        </div>
      </section>
      <!-- FACTS ABOUT-->
      <section class="section section-inset-1 bg-transparent bg-image" id="facts">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-6 col-xl-7 order-1 order-md-0 position-relative">
              <div class="box box-img"><img src="images/home-06-900x850.png" alt="" width="900" height="850"/>
              </div>
            </div>
            <div class="col-md-6 col-xl-5 order-0 order-md-1">
              <div class="row">
                <div class="col">
                  <h3>Grow your skill and<br>rise with us</h3>
                  <p>Join our club and find out why Rally Hoops is chosen by many basketball players throughout the US.</p>
                </div>
              </div>
              <div class="row row-50">
                <div class="col-md-6">
                        <!-- Counter default-->
                        <article class="counter-default">
                          <div class="h2 h2-big counter-default-main text-stroke"><span class="counter" data-counter="">350</span><span class="counter-postfix">+</span>
                          </div>
                          <h4 class="counter-default-title">Active members</h4>
                        </article>
                </div>
                <div class="col-md-6">
                        <!-- Counter default-->
                        <article class="counter-default ms-md-5">
                          <div class="h2 h2-big counter-default-main text-stroke"><span class="counter" data-counter="">12</span>
                          </div>
                          <h4 class="counter-default-title">Coaches</h4>
                        </article>
                </div>
                <div class="col-md-6">
                        <!-- Counter default-->
                        <article class="counter-default">
                          <div class="h2 h2-big counter-default-main text-stroke"><span class="counter" data-counter="">25</span>
                          </div>
                          <h4 class="counter-default-title">Awards</h4>
                        </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Gallery-->
      <section class="section section-xxl bg-transparent bg-image-2" id="gallery" style="background-image: url(images/bg-image-02.png);">
        <div class="container">
          <h6>Gallery</h6>
          <div class="row row-xl row-30 row-xl-150" data-lightgallery>
            <div class="col-md-6 col-xl-4"><a class="thumbnail thumbnail-1 lightgallery-item" href="images/originals/home-02-original.jpg"><img src="images/home-02-390x485.jpg" alt="" width="390" height="485"/></a></div>
            <div class="col-md-6 col-xl-7 offset-xl-1"><a class="thumbnail thumbnail-1 lightgallery-item" href="images/originals/home-03-original.jpg"><img src="images/home-03-720x575.jpg" alt="" width="720" height="575"/></a></div>
            <div class="col-md-6 col-xl-5 offset-xl-1"><a class="thumbnail thumbnail-1 lightgallery-item" href="images/originals/home-04-original.jpg"><img src="images/home-04-500x675.jpg" alt="" width="500" height="675"/></a></div>
            <div class="col-md-6 col-xl-5 offset-xl-1 align-self-center"><a class="thumbnail thumbnail-1 thumbnail-circle lightgallery-item" href="images/originals/home-05-original.jpg"><img src="images/home-05-500x500.png" alt="" width="500" height="500"/></a></div>
          </div>
        </div>
        <!-- Testimonials-->
        <section class="section section-inner section-xxl bg-transparent" id="testimonials">
          <div class="container">
            <div class="row row-30">
              <div class="col-xl-3">
                <h6>testimonials</h6>
              </div>
              <div class="col-xl-7 col-md-8">
                      <!-- Quote-->
                      <div class="quote">
                        <div class="quote-icon">
                          <svg width="30" height="22" viewBox="0 0 30 22" fill="none">
                            <path d="M0 21.408L8.64 0H14.4L9.024 21.408H0ZM14.976 21.408L23.712 0H29.472L24 21.408H14.976Z" fill="#FFB72B"></path>
                          </svg>
                        </div>
                        <div class="quote-body">
                          <q class="quote-text">What an amazing week it was for my daughter! Truly sore from all the workout but in her words it really has had a huge motivational impact on her training and am sure it will carry through to her games.</q>
                          <div class="quote-author">Lisa Williams</div>
                        </div>
                      </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!-- Partners-->
      <section class="section section-lg bg-gray" id="partners">
        <div class="container">
          <h6>Our friends & partners</h6>
          <div class="owl-carousel owl-style-1" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-xl-items="5" data-xxl-items="6" data-owl="{&quot;dots&quot;:true,&quot;autoplayTimeout&quot;:3500}">
            <div class="brand"><a class="figure" href="#"><img src="images/brand-01-150x150.png" alt="" width="150" height="150"/></a></div>
            <div class="brand"><a class="figure" href="#"><img src="images/brand-02-177x142.png" alt="" width="177" height="142"/></a></div>
            <div class="brand"><a class="figure" href="#"><img src="images/brand-03-132x150.png" alt="" width="132" height="150"/></a></div>
            <div class="brand"><a class="figure" href="#"><img src="images/brand-04-150x150.png" alt="" width="150" height="150"/></a></div>
            <div class="brand"><a class="figure" href="#"><img src="images/brand-05-203x136.png" alt="" width="203" height="136"/></a></div>
            <div class="brand"><a class="figure" href="#"><img src="images/brand-06-150x150.png" alt="" width="150" height="150"/></a></div>
          </div>
        </div>
      </section>
      <!-- Get in touch-->
      <section class="section section-xxl bg-transparent" id="contacts">
        <div class="container">
          <div class="row row-30 justify-content-between">
            <div class="col-xl-3">
              <h6>Get in touch</h6>
            </div>
            <div class="col-xl-8">
              <h2 class="text-uppercase">Join our club</h2>
              <p class="text-uppercase offset-top-15">Feel free to contact us directly using the form below or call us <br class="d-none d-xl-block"> at any time. we are always happy to help you.</p>
              <form class="rd-form rd-mailform" data-form-output="contact-form" data-form-type="contact" method="post" action="components/rd-mailform/rd-mailform.php" data-animate='{"class":"fadeInUp"}'>
                <div class="row row-30 row-xl-45 align-items-center row-fix">
                  <div class="col-12">
                    <div class="form-control-wrap">
                      <input class="form-control" type="text" name="name" placeholder="Your name" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-control-wrap">
                        <input class="form-control" type="text" name="phone" placeholder="Your phone" data-constraints="@Numeric @Required">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-control-wrap">
                        <input class="form-control" type="email" name="email" placeholder="Your email" data-constraints="@Email @Required">
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-dot" type="submit">Send message</button>
              </form>
            </div>
          </div>
        </div>
        <div class="form-output snackbar snackbar-primary" id="contact-form"></div>
      </section>
      <div class="container">
        <hr class="divider">
      </div>
      <!-- Footer-->
      <footer class="section section-lg footer bg-transparent">
        <div class="container">
          <div class="row row-40">
            <div class="col-md-4">
                    <!-- Logo-->
                    <div class="logo"><a class="logo-link" href="../rally hoops/index.html"><img class="logo-image-default" src="images/logo-default-137x51.svg" alt="Rally Hoops" width="137" height="51"/><img class="logo-image-inverse" src="images/logo-inverse-137x51.svg" alt="Rally Hoops" width="137" height="51"/></a></div>
            </div>
            <div class="col-md-3 col-xs-6">
              <h6>menu</h6>
              <ul class="footer-nav-list">
                <li><a href="#about">About</a></li>
                <li><a href="#why-us">Why us</a></li>
                <li><a href="#staff">COACHING STAFF</a></li>
                <li><a href="#facts">facts & numbers</a></li>
                <li><a href="#gallery">gallery</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contacts">Contacts</a></li>
              </ul>
            </div>
            <div class="col-md-5 col-xs-6">
              <h6>contacts</h6>
              <div class="contacts">
                <div class="contacts-address"><a href="#">72 Laurel Court <br> San Francisco, CA <br> 94122</a></div>
                <div class="contacts-phone"><span>P:</span><span>&nbsp;&nbsp;</span><a href="tel:#">+1 (256) 10 87 000</a></div>
              </div>
                    <!-- Copyright-->
                    <p class="rights"><span>&copy; 2021&nbsp;</span><span>Rally Hoops</span><span>. All Rights Reserved</span></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="to-top fa-angle-up"></div>
  </body>
</html>