// Border
@each $breakpoint in map-keys( $grid-breakpoints ) {
	$infix: breakpoint-infix( $breakpoint, $grid-breakpoints );
	@include media-breakpoint-up( $breakpoint, $grid-breakpoints ) {
		@each $prop in ( top, left, right, bottom ) {
			.border#{$infix}-#{$prop} {
				border-#{$prop}: $border-width solid $border-color !important;
			}
		}
	}
}

.rounded-right-xl {
	border-top-right-radius: px-to-rem( 60px );
	border-bottom-right-radius: px-to-rem( 60px );
}

.rounded-left-xl {
	border-top-left-radius: px-to-rem( 60px );
	border-bottom-left-radius: px-to-rem( 60px );
}
