// Base
.separate-owl-nav {
	position: relative;
	display: inline-block;
	@include group( px-to-rem( 20px ) );

	.owl-prev,
	.owl-next {
		position: relative;
		z-index: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: px-to-rem( 45px );
		height: px-to-rem( 45px );
		font-size: px-to-rem( 24px );
		line-height: 1;
		color: $dark;
		border-radius: 50%;
		cursor: pointer;
		pointer-events: auto;
		transition: $transition-base;

		&::before {
			display: block;
		}

		&:hover {
			color: $primary;
			background-color: $white;
			box-shadow: $box-shadow;
		}

		&.disabled {
			color: $dark;
			opacity: .3;
			cursor: default;
			pointer-events: none;
		}
	}

	&.disabled {
		display: none;
	}
}


// Media
@include media-breakpoint-up( sm ) {
	.owl-carousel-separate {
		.owl-stage-outer {
			overflow: visible;
		}
	}

	.separate-owl-nav {
		&::before {
			position: absolute;
			left: px-to-rem( 75px );
			top: 50%;
			height: 300vh;
			width: 100vw;
			content: '';
			background-color: $secondary;
			transform: translateY( -50% );
		}
	}
}

@include media-breakpoint-up( xxl ) {
	.owl-carousel-separate {
		margin-right: px-to-rem( -140px );
		width: auto;
	}
}