<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Blog post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  <body>
    <div class="preloader">
      <div><a class="brand brand-md" href="index.html"><img src="images/logo-inverse-166x40.svg" alt="" width="166" height="40"/></a>
        <div class="page-loader-body">
          <div id="spinningSquaresG">
            <div class="spinningSquaresG" id="spinningSquaresG_1"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_2"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_3"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_4"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_5"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_6"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_7"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_8"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="60px" data-xl-stick-up-offset="60px" data-xxl-stick-up-offset="60px">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-default-166x40.svg" alt="" width="166" height="40"/></a>
              </div>
              <div class="rd-navbar-group rd-navbar-search-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Pages</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">About us</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Components</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="accordion.html">Accordion</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs.html">Tabs</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="grid-gallery.html">Portfolio</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="masonry-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-blog.html">Masonry blog</a>
                          </li>
                          <li class="rd-dropdown-item active"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-30 section-xxl-40 section-xxl-66 section-xxl-bottom-90 novi-background bg-gray-dark page-title-wrap" style="background-image: url(images/bg-blog.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>Blog</h2>
          </div>
        </div>
      </section>
      <section class="section section-60 section-md-75 section-xl-90">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-8 col-xl-9">
              <article class="post post-single">
                <div class="post-image">
                  <figure><img src="images/post-1-870x412.jpg" alt="" width="870" height="412"/>
                  </figure>
                </div>
                <div class="post-header">
                  <h4>Improving Your Coworking Space</h4>
                </div>
                <div class="post-meta">
                  <ul class="list-bordered-horizontal">
                    <li>
                      <dl class="list-terms-inline">
                        <dt>Date</dt>
                        <dd>
                          <time datetime="2021-01-22">January 22, 2021</time>
                        </dd>
                      </dl>
                    </li>
                    <li>
                      <dl class="list-terms-inline">
                        <dt>Posted by</dt>
                        <dd>Amelia Lee</dd>
                      </dl>
                    </li>
                    <li>
                      <dl class="list-terms-inline">
                        <dt>Comments</dt>
                        <dd>3</dd>
                      </dl>
                    </li>
                    <li>
                      <dl class="list-terms-inline">
                        <dt>Category</dt>
                        <dd>News</dd>
                      </dl>
                    </li>
                  </ul>
                </div>
                <div class="divider-fullwidth bg-gray-light"></div>
                <div class="post-body">
                  <p>Blanditiis dolorem, libero. Atque ducimus facere fugit, itaque nesciunt optio provident quidem rem repellat veniam? Aliquam, cum cumque delectus dicta doloremque eaque, eum fugiat iusto labore laboriosam neque nulla perferendis perspiciatis quisquam quod, reprehenderit sunt tenetur veritatis vitae voluptatem. Libero nam, temporibus!</p>
                  <p>Aliquid animi hic modi nobis sit! A accusamus adipisci aspernatur aut autem culpa enim eveniet fuga harum id in labore laborum libero minima, nemo neque nesciunt obcaecati optio perspiciatis placeat qui quis rem reprehenderit rerum, temporibus ut vero voluptate! Accusamus consequatur ducimus, enim labore nobis unde vel. Amet assumenda cupiditate dolores incidunt veniam? Adipisci ducimus eligendi esse facilis illo in ipsa laudantium nobis? Dolores magni placeat saepe, veritatis voluptatibus voluptatum? Autem beatae consequatur delectus est exercitationem fugiat, ipsa magnam molestias officia quasi qui recusandae suscipit totam, vel voluptate. Maiores non vel velit?</p>
                  <div class="quote-wrap-1">
                    <blockquote class="quote-minimal-bordered">
                      <p>
                        <q>Zoning is a very important concept in space planning. You should try to provide as many areas as possible.</q>
                      </p>
                    </blockquote>
                  </div>
                  <p>Blanditiis consectetur obcaecati quod voluptas! Aliquam autem commodi delectus deserunt distinctio, dolore dolorem, doloremque dolorum error est facere ipsum laboriosam minus nulla officiis perferendis perspiciatis placeat quaerat quasi quo rem rerum sint sunt suscipit ullam, velit voluptate voluptatum. Id incidunt ipsam nesciunt similique voluptatum! Et excepturi fugit laudantium temporibus tenetur, veniam voluptatum!</p>
                </div>
                <div class="post-footer">
                  <h5>Share this post:</h5>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="novi-icon icon icon-xxs-small link-tundora fa-facebook" href="#"></a></li>
                    <li><a class="novi-icon icon icon-xxs-small link-tundora fa-x-twitter" href="#"></a></li>
                    <li><a class="novi-icon icon icon-xxs-small link-tundora fa-google-plus" href="#"></a></li>
                    <li><a class="novi-icon icon icon-xxs-small link-tundora fa-pinterest-p" href="#"></a></li>
                  </ul>
                </div>
              </article>
              <div class="divider-fullwidth bg-gray-lighter"></div>
              <div class="comment-list-wrap">
                <h4>3 Comments</h4>
                <div class="comment-list inset-md-right-60 inset-lg-right-30 inset-xl-right-100">
                  <div class="comment-group">
                    <article class="comment">
                      <div class="unit unit-spacing-md flex-column flex-sm-row">
                        <div class="unit-left">
                          <figure><img src="images/post-2-70x71.jpg" alt="" width="70" height="71"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <div class="comment-body">
                            <div class="comment-body-header">
                              <div class="comment-meta">
                                <p class="user">Julia Smith</p>
                                <ul class="list-inline list-icon-meta">
                                  <li><a class="link-group link-group-baseline" href="#"><span class="novi-icon icon icon-xxs-smaller icon-dusty-gray mdi mdi-thumb-up-outline"></span><span>Like</span></a></li>
                                  <li><a class="link-group" href="#"><span class="novi-icon icon icon-xxs-smaller icon-dusty-gray mdi mdi-comment-outline"></span><span>Reply</span></a></li>
                                </ul>
                              </div>
                              <div class="comment-time">
                                <div class="object-inline">
                                  <time datetime="2021-02-16">Feb 16, 7:42 PM</time><span class="novi-icon icon icon-xxs-smaller icon-dusty-gray mdi mdi-clock"></span>
                                </div>
                              </div>
                            </div>
                            <div class="comment-body-text">
                              <p>Aperiam cupiditate deleniti dolorem dolorum est facilis fugiat minima natus officiis omnis, quae quia quis quo recusandae rem sint suscipit ut voluptatibus.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                    <div class="comment-group-reply">
                      <article class="comment">
                        <div class="unit unit-spacing-md flex-column flex-sm-row">
                          <div class="unit-left">
                            <figure><img src="images/post-3-70x71.jpg" alt="" width="70" height="71"/>
                            </figure>
                          </div>
                          <div class="unit-body">
                            <div class="comment-body">
                              <div class="comment-body-header">
                                <div class="comment-meta">
                                  <p class="user">John doe</p>
                                  <ul class="list-inline list-icon-meta">
                                    <li><a class="link-group link-group-baseline" href="#"><span class="novi-icon icon icon-xxs-smaller icon-dusty-gray mdi mdi-thumb-up-outline"></span><span>Like</span></a></li>
                                    <li><a class="link-group" href="#"><span class="novi-icon icon icon-xxs-smaller icon-dusty-gray mdi mdi-comment-outline"></span><span>Reply</span></a></li>
                                  </ul>
                                </div>
                                <div class="comment-time">
                                  <div class="object-inline">
                                    <time datetime="2021-02-16">Feb 16, 7:42 PM</time><span class="novi-icon icon icon-xxs-smaller icon-dusty-gray mdi mdi-clock"></span>
                                  </div>
                                </div>
                              </div>
                              <div class="comment-body-text">
                                <p>Consectetur cumque laborum, libero, minima minus mollitia nihil nostrum officia perspiciatis, praesentium quas quo recusandae similique sit.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                  <div class="comment-group">
                    <article class="comment">
                      <div class="unit unit-spacing-md flex-column flex-sm-row">
                        <div class="unit-left">
                          <figure><img src="images/post-4-70x71.jpg" alt="" width="70" height="71"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <div class="comment-body">
                            <div class="comment-body-header">
                              <div class="comment-meta">
                                <p class="user">Ann Peters</p>
                                <ul class="list-inline list-icon-meta">
                                  <li><a class="link-group link-group-baseline" href="#"><span class="novi-icon icon icon-xxs-smaller icon-dusty-gray mdi mdi-thumb-up-outline"></span><span>Like</span></a></li>
                                  <li><a class="link-group" href="#"><span class="novi-icon icon icon-xxs-smaller icon-dusty-gray mdi mdi-comment-outline"></span><span>Reply</span></a></li>
                                </ul>
                              </div>
                              <div class="comment-time">
                                <div class="object-inline">
                                  <time datetime="2021-02-16">Feb 16, 7:42 PM</time><span class="novi-icon icon icon-xxs-smaller icon-dusty-gray mdi mdi-clock"></span>
                                </div>
                              </div>
                            </div>
                            <div class="comment-body-text">
                              <p>Error esse explicabo minus molestiae molestias natus odio placeat quas temporibus unde.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <div class="offset-top-1">
                <h4>Leave a comment</h4>
                <div class="form-classic-wrap">
                  <form class="rd-mailform form-classic form-classic-bordered label-outside">
                    <div class="form-wrap">
                      <label class="form-label-outside" for="comment-message">Message:</label>
                      <textarea class="form-input" id="comment-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" style="min-width: 200px;">Submit</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-3">
              <div class="blog-aside">
                <div class="blog-aside-item">
                  <form class="rd-search rd-search-classic" action="search-results.html" method="GET">
                    <div class="form-wrap">
                      <label class="form-label" for="rd-search-form-input-1">Search...</label>
                      <input class="form-input" id="rd-search-form-input-1" type="text" name="s" autocomplete="off">
                    </div>
                    <button class="rd-search-submit" type="submit"></button>
                  </form>
                </div>
                <div class="blog-aside-item">
                  <h6>Categories</h6>
                  <ul class="list-marked-bordered">
                    <li><a href="#"><span>News</span><span class="list-counter">(4)</span></a></li>
                    <li><a href="#"><span>Tips</span><span class="list-counter">(4)</span></a></li>
                    <li><a href="#"><span>Other</span><span class="list-counter">(4)</span></a></li>
                  </ul>
                </div>
                <div class="blog-aside-item">
                  <h6>Popular posts</h6>
                  <div class="post-preview-wrap">
                    <article class="post post-preview"><a href="blog-post.html">
                        <div class="unit unit-spacing-sm">
                          <div class="unit-left">
                            <figure class="post-image"><img src="images/post-preview-1-70x70.jpg" alt="" width="70" height="70"/>
                            </figure>
                          </div>
                          <div class="unit-body">
                            <div class="post-header">
                              <p>The History of Internet Cafes</p>
                            </div>
                            <div class="post-meta">
                              <ul class="list-meta">
                                <li>
                                  <time datetime="2021-02-04">Feb 4, 2021</time>
                                </li>
                                <li>3 Comments</li>
                              </ul>
                            </div>
                          </div>
                        </div></a></article>
                    <article class="post post-preview"><a href="blog-post.html">
                        <div class="unit unit-spacing-sm">
                          <div class="unit-left">
                            <figure class="post-image"><img src="images/post-preview-2-70x70.jpg" alt="" width="70" height="70"/>
                            </figure>
                          </div>
                          <div class="unit-body">
                            <div class="post-header">
                              <p>Top 5 Games to Play at Internet Cafes</p>
                            </div>
                            <div class="post-meta">
                              <ul class="list-meta">
                                <li>
                                  <time datetime="2021-02-04">Feb 4, 2021</time>
                                </li>
                                <li>3 Comments</li>
                              </ul>
                            </div>
                          </div>
                        </div></a></article>
                    <article class="post post-preview"><a href="blog-post.html">
                        <div class="unit unit-spacing-sm">
                          <div class="unit-left">
                            <figure class="post-image"><img src="images/post-preview-3-70x70.jpg" alt="" width="70" height="70"/>
                            </figure>
                          </div>
                          <div class="unit-body">
                            <div class="post-header">
                              <p>Creating a Productive Space</p>
                            </div>
                            <div class="post-meta">
                              <ul class="list-meta">
                                <li>
                                  <time datetime="2021-02-04">Feb 4, 2021</time>
                                </li>
                                <li>3 Comments</li>
                              </ul>
                            </div>
                          </div>
                        </div></a></article>
                  </div>
                </div>
                <div class="blog-aside-item">
                  <h6>Tags</h6>
                  <ul class="list-tag-blocks">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Coworking</a></li>
                    <li><a href="#">Gaming</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Other</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer default-->
      <footer class="section footer-default bg-secondary">
        <div class="container">
          <h2>Get in touch</h2>
          <div class="row row-30">
            <div class="col-xl-3 col-md-4">
              <h4 class="footer-title">Address</h4><a href="#">3891 Ranchview Dr. Richardson, <br> California 62639</a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <h4 class="footer-title">Contact</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="mailto:#">mail@demolink.org</a></li>
                <li class="footer-list-item"><a href="tel:#">+1 234 567 88 99</a></li>
              </ul>
            </div>
            <div class="col-xl-2 col-md-4 col-6">
              <h4 class="footer-title">Socials</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="#">Instagram</a></li>
                <li class="footer-list-item"><a href="#">Twitter</a></li>
              </ul>
            </div>
            <div class="col-xl-4">
              <div class="rights-wrapper">
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>