<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Buttons</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  <body>
    <div class="preloader">
      <div><a class="brand brand-md" href="index.html"><img src="images/logo-inverse-166x40.svg" alt="" width="166" height="40"/></a>
        <div class="page-loader-body">
          <div id="spinningSquaresG">
            <div class="spinningSquaresG" id="spinningSquaresG_1"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_2"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_3"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_4"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_5"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_6"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_7"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_8"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="60px" data-xl-stick-up-offset="60px" data-xxl-stick-up-offset="60px">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-default-166x40.svg" alt="" width="166" height="40"/></a>
              </div>
              <div class="rd-navbar-group rd-navbar-search-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Pages</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">About us</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Components</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="accordion.html">Accordion</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs.html">Tabs</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="grid-gallery.html">Portfolio</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="masonry-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-blog.html">Masonry blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-30 section-xxl-40 section-xxl-66 section-xxl-bottom-90 novi-background bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>Buttons</h2>
          </div>
        </div>
      </section>
      <section class="section section-60 section-md-top-90 section-md-bottom-100">
        <div class="container">
          <div class="row row-50 row-lg-90">
            <div class="col-sm-12">
              <h3>Button Size</h3>
              <p class="text-primary">4 different sizes: super, large, default and small.</p>
              <div class="group-lg group-middle">
                <div class="btn btn-xl btn-primary">super size</div>
                <div class="btn btn-lg btn-primary">Large size</div>
                <div class="btn btn-primary">Default size</div>
                <div class="btn btn-sm btn-primary">Small size</div>
              </div>
            </div>
            <div class="col-sm-12">
              <h3>Button Size</h3>
              <p class="text-primary">4 different shapes: default, round, square and circle.</p>
              <div class="group-lg group-middle">
                <div class="btn btn-primary">Default</div>
                <div class="btn btn-primary btn-round">round</div>
                <div class="btn btn-primary btn-rect">square</div>
                <div class="btn btn-primary btn-circle">Circle</div>
              </div>
            </div>
            <div class="col-sm-12">
              <h3>Buttons with Icons</h3>
              <p class="text-primary">Buttons are fully integrated with 900+ icons.</p>
              <div class="group-lg group-middle">
                <div class="btn btn-icon btn-icon-left btn-primary"><span class="novi-icon icon icon-xs-smaller material-icons-shopping_cart"></span>Icon Left</div>
                <div class="btn btn-icon btn-icon-right btn-primary"><span class="novi-icon icon icon-xs-smaller material-icons-shopping_cart"></span>Icon Right</div>
                <div class="btn btn-icon btn-icon-left btn-primary-outline"><span class="novi-icon icon icon-xs-smaller material-icons-shopping_cart"></span>Icon Left</div>
                <div class="btn btn-icon btn-icon-right btn-primary-outline"><span class="novi-icon icon icon-xs-smaller material-icons-shopping_cart"></span>Icon Right</div>
              </div>
            </div>
            <div class="col-sm-12">
              <h3>Buttons with Shadow</h3>
              <p class="text-primary">Enhance your button with a shadow effect.</p>
              <div class="group-lg group-middle">
                <div class="btn btn-primary btn-shadow">shadow</div>
                <div class="btn btn-primary-outline btn-shadow">shadow</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer default-->
      <footer class="section footer-default bg-secondary">
        <div class="container">
          <h2>Get in touch</h2>
          <div class="row row-30">
            <div class="col-xl-3 col-md-4">
              <h4 class="footer-title">Address</h4><a href="#">3891 Ranchview Dr. Richardson, <br> California 62639</a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <h4 class="footer-title">Contact</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="mailto:#">mail@demolink.org</a></li>
                <li class="footer-list-item"><a href="tel:#">+1 234 567 88 99</a></li>
              </ul>
            </div>
            <div class="col-xl-2 col-md-4 col-6">
              <h4 class="footer-title">Socials</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="#">Instagram</a></li>
                <li class="footer-list-item"><a href="#">Twitter</a></li>
              </ul>
            </div>
            <div class="col-xl-4">
              <div class="rights-wrapper">
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>