<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Masonry blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  <body>
    <div class="preloader">
      <div><a class="brand brand-md" href="index.html"><img src="images/logo-inverse-166x40.svg" alt="" width="166" height="40"/></a>
        <div class="page-loader-body">
          <div id="spinningSquaresG">
            <div class="spinningSquaresG" id="spinningSquaresG_1"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_2"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_3"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_4"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_5"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_6"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_7"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_8"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="60px" data-xl-stick-up-offset="60px" data-xxl-stick-up-offset="60px">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-default-166x40.svg" alt="" width="166" height="40"/></a>
              </div>
              <div class="rd-navbar-group rd-navbar-search-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Pages</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">About us</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Components</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="accordion.html">Accordion</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs.html">Tabs</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="grid-gallery.html">Portfolio</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="masonry-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item active"><a class="rd-dropdown-link" href="masonry-blog.html">Masonry blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-30 section-xxl-40 section-xxl-66 section-xxl-bottom-90 novi-background bg-gray-dark page-title-wrap" style="background-image: url(images/bg-blog.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>Blog</h2>
          </div>
        </div>
      </section>
      <section class="section section-50 section-md-75 section-xl-100 bg-whisper novi-background">
        <div class="container">
          <div class="row row-30 justify-content-md-center justify-content-lg-start">
            <div class="col-md-9 col-lg-6">
              <article class="post-modern">
                <div class="post-header">
                  <h5><a href="blog-post.html">Improving Your Coworking Space</a></h5>
                </div>
                <div class="post-body">
                  <div class="ratio ratio-16x9"><iframe width="560" height="315" src="https://www.youtube.com/embed/VrLSBsOkP6k" allowfullscreen></iframe>
                  </div>
                  <div class="post-inset">
                    <p>Alias aliquid atque, consequuntur culpa dolor dolorem doloremque dolorum ea eaque id in incidunt laborum, laudantium magnam maiores molestiae nobis omnis perspiciatis quisquam temporibus velit veniam vero voluptas? Porro sequi sit tempore.</p>
                  </div>
                </div>
                <div class="post-footer">
                  <div class="post-meta">
                    <ul class="post-list">
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-query_builder"></span>
                        <time datetime="2021-01-01">2 days ago</time>
                      </li>
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-loyalty"></span>
                        <ul class="list-tags-inline">
                          <li><a href="#">News</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-videocam"></span></div>
                </div>
              </article>
              <article class="post-modern">
                <div class="post-header">
                  <h5><a href="blog-post.html">Creating a Productive Space</a></h5>
                </div>
                <div class="post-body">
                  <figure><img src="images/blog-masonry-1-570x321.jpg" alt="" width="570" height="321"/>
                  </figure>
                </div>
                <div class="post-footer">
                  <div class="post-meta">
                    <ul class="post-list">
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-query_builder"></span>
                        <time datetime="2021-01-01">7 days ago</time>
                      </li>
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-loyalty"></span>
                        <ul class="list-tags-inline">
                          <li><a href="#">News</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-local_see"></span></div>
                </div>
              </article>
            </div>
            <div class="col-md-9 col-lg-6">
              <article class="post-modern">
                <div class="post-header">
                  <h5><a href="blog-post.html">The History of Internet Cafes</a></h5>
                </div>
                <div class="post-body">
                  <div class="post-inset">
                    <p>Ad aliquid aspernatur error eum, eveniet, ex ipsum maiores mollitia nam natus pariatur soluta! Animi consequuntur dolorem, dolorum eum fugiat id iusto maxime minima natus, nemo, nobis possimus quia sapiente sed tenetur.</p>
                  </div>
                </div>
                <div class="post-footer">
                  <div class="post-meta">
                    <ul class="post-list">
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-query_builder"></span>
                        <time datetime="2021-01-01">3 days ago</time>
                      </li>
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-loyalty"></span>
                        <ul class="list-tags-inline">
                          <li><a href="#">News</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-library_books"></span></div>
                </div>
              </article>
              <article class="post-modern">
                <div class="post-header">
                  <h5><a href="blog-post.html">Top 5 Games to Play at Internet Cafes</a></h5>
                </div>
                <div class="post-body">
                  <div class="post-inset">
                    <div class="soundcloud-player-classic"><iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    </div>
                  </div>
                </div>
                <div class="post-footer">
                  <div class="post-meta">
                    <ul class="post-list">
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-query_builder"></span>
                        <time datetime="2021-01-01">4 days ago</time>
                      </li>
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-loyalty"></span>
                        <ul class="list-tags-inline">
                          <li><a href="#">News</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-audiotrack"></span></div>
                </div>
              </article>
              <article class="post-modern">
                <div class="post-header">
                  <h5><a href="blog-post.html">10 Benefits of Remote Work</a></h5>
                </div>
                <div class="post-body">
                  <figure><img src="images/blog-masonry-2-570x321.jpg" alt="" width="570" height="321"/>
                  </figure>
                  <div class="post-inset">
                    <p>Aliquid, deleniti dicta dolorem doloremque dolores ea facere modi molestias quam repudiandae saepe sed. Debitis doloribus officiis possimus quia quo! Accusamus autem blanditiis, consequatur explicabo illum iusto libero magnam pariatur perferendis quas!</p>
                  </div>
                </div>
                <div class="post-footer">
                  <div class="post-meta">
                    <ul class="post-list">
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-query_builder"></span>
                        <time datetime="2021-01-01">2 days ago</time>
                      </li>
                      <li class="object-inline"><span class="novi-icon icon icon-xxs icon-gray-base material-icons-loyalty"></span>
                        <ul class="list-tags-inline">
                          <li><a href="#">News</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-videocam"></span></div>
                </div>
              </article>
            </div>
          </div>
          <div class="pagination-custom-wrap text-center">
            <ul class="pagination-custom">
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li class="active"><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Footer default-->
      <footer class="section footer-default bg-secondary">
        <div class="container">
          <h2>Get in touch</h2>
          <div class="row row-30">
            <div class="col-xl-3 col-md-4">
              <h4 class="footer-title">Address</h4><a href="#">3891 Ranchview Dr. Richardson, <br> California 62639</a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <h4 class="footer-title">Contact</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="mailto:#">mail@demolink.org</a></li>
                <li class="footer-list-item"><a href="tel:#">+1 234 567 88 99</a></li>
              </ul>
            </div>
            <div class="col-xl-2 col-md-4 col-6">
              <h4 class="footer-title">Socials</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="#">Instagram</a></li>
                <li class="footer-list-item"><a href="#">Twitter</a></li>
              </ul>
            </div>
            <div class="col-xl-4">
              <div class="rights-wrapper">
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>