<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Typography</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  <body>
    <div class="preloader">
      <div><a class="brand brand-md" href="index.html"><img src="images/logo-inverse-166x40.svg" alt="" width="166" height="40"/></a>
        <div class="page-loader-body">
          <div id="spinningSquaresG">
            <div class="spinningSquaresG" id="spinningSquaresG_1"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_2"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_3"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_4"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_5"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_6"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_7"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_8"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="60px" data-xl-stick-up-offset="60px" data-xxl-stick-up-offset="60px">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-default-166x40.svg" alt="" width="166" height="40"/></a>
              </div>
              <div class="rd-navbar-group rd-navbar-search-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Pages</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">About us</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Components</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="accordion.html">Accordion</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs.html">Tabs</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="grid-gallery.html">Portfolio</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="masonry-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-blog.html">Masonry blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-30 section-xxl-40 section-xxl-66 section-xxl-bottom-90 novi-background bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>Typography</h2>
          </div>
        </div>
      </section>
      <section class="section section-60 section-md-top-75 section-md-bottom-50">
        <div class="container">
          <div class="row row-30 row-md-40">
            <div class="col-md-6">
              <h1>Heading 1</h1>
              <div class="inset-lg-right-40 inset-xl-right-70">
                <p>Ducimus ipsam itaque iure obcaecati! A accusamus commodi consequatur cum cupiditate deleniti deserunt dignissimos, distinctio dolor dolorum esse et in iusto laudantium magni minima nobis numquam quia quo sed tempore vel voluptate.</p>
              </div>
            </div>
            <div class="col-md-6">
              <h2>Heading 2</h2>
              <div class="inset-lg-right-40 inset-xl-right-70">
                <p>Ducimus ipsam itaque iure obcaecati! A accusamus commodi consequatur cum cupiditate deleniti deserunt dignissimos, distinctio dolor dolorum esse et in iusto laudantium magni minima nobis numquam quia quo sed tempore vel voluptate.</p>
              </div>
            </div>
            <div class="col-md-6">
              <h3>Heading 3</h3>
              <div class="inset-lg-right-40 inset-xl-right-70">
                <p>Ducimus ipsam itaque iure obcaecati! A accusamus commodi consequatur cum cupiditate deleniti deserunt dignissimos, distinctio dolor dolorum esse et in iusto laudantium magni minima nobis numquam quia quo sed tempore vel voluptate.</p>
              </div>
            </div>
            <div class="col-md-6">
              <h4>Heading 4</h4>
              <div class="inset-lg-right-40 inset-xl-right-70">
                <p>Ducimus ipsam itaque iure obcaecati! A accusamus commodi consequatur cum cupiditate deleniti deserunt dignissimos, distinctio dolor dolorum esse et in iusto laudantium magni minima nobis numquam quia quo sed tempore vel voluptate.</p>
              </div>
            </div>
            <div class="col-md-6">
              <h5>Heading 5</h5>
              <div class="inset-lg-right-40 inset-xl-right-70">
                <p>Ducimus ipsam itaque iure obcaecati! A accusamus commodi consequatur cum cupiditate deleniti deserunt dignissimos, distinctio dolor dolorum esse et in iusto laudantium magni minima nobis numquam quia quo sed tempore vel voluptate.</p>
              </div>
            </div>
            <div class="col-md-6">
              <h6>Heading 6</h6>
              <div class="inset-lg-right-40 inset-xl-right-70">
                <p>Ducimus ipsam itaque iure obcaecati! A accusamus commodi consequatur cum cupiditate deleniti deserunt dignissimos, distinctio dolor dolorum esse et in iusto laudantium magni minima nobis numquam quia quo sed tempore vel voluptate.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-35">
        <div class="container">
          <h3>Blockquote</h3>
          <blockquote class="quote-default">
            <div class="quote-open">
              <svg version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="21px" height="15px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve">
                <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316            c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37            C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316            c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37            C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
              </svg>
            </div>
            <div class="quote-body">
              <p>
                <q>Dolorem exercitationem fugiat natus non perferendis quaerat quisquam repellendus sequi sit tempora?</q>
              </p>
            </div>
            <div class="quote-close">
              <svg version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="21px" height="15px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve">
                <path d="M11.39,4.593c0-1.306,0.473-2.399,1.418-3.277C13.752,0.44,14.869,0,16.157,0c1.287,0,2.414,0.44,3.382,1.316            c0.966,0.879,1.448,1.931,1.448,3.154c0,1.226-0.58,2.716-1.739,4.473l-3.865,6.062h-3.737l2.384-6.37            C12.271,7.86,11.39,6.512,11.39,4.593z M0,4.593c0-1.306,0.473-2.399,1.418-3.277C2.362,0.44,3.478,0,4.768,0            c1.288,0,2.415,0.44,3.381,1.316c0.966,0.879,1.45,1.931,1.45,3.154c0,1.226-0.582,2.716-1.74,4.473l-3.865,6.062H0.259l2.382-6.37            C0.881,7.86,0,6.512,0,4.593z"></path>
              </svg>
            </div>
          </blockquote>
        </div>
      </section>
      <section class="section section-md-50">
        <div class="container">
          <h3>Text Formatting</h3>
          <div class="box-text"><a class="link link-primary-inline" href="#">Link text</a><a class="link link-primary-inline hover" href="#">Hover link text</a><a class="link link-primary-inline active" href="#">Press link</a><span class="mark">highlighted text</span><span class="text-strike">strickethrough text</span><span class="text-underline">underlined text.</span></div>
        </div>
      </section>
      <section class="section section-35">
        <div class="container">
          <h3>Image Centered</h3>
          <figure><img src="images/typography-1-1169x610.jpg" alt="" width="1169" height="610"/>
          </figure>
          <p>Cozy internet cafe</p>
        </div>
      </section>
      <section class="section section-35 section-md-50">
        <div class="container">
          <h3>Image Right</h3>
          <div class="row row-30 flex-row-md-reverse justify-content-end-md-justify">
            <div class="col-md-6">
              <figure><img src="images/typography-2-570x386.jpg" alt="" width="570" height="386"/>
              </figure>
            </div>
            <div class="col-md-6">
              <div class="inset-lg-right-40 inset-xl-right-85">
                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company.</p>
                <p>Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-40 section-md-bottom-100 section-xl-bottom-165">
        <div class="container">
          <h3>Image Left</h3>
          <div class="row row-30 justify-content-end-md-justify">
            <div class="col-md-6">
              <figure><img src="images/typography-3-570x386.jpg" alt="" width="570" height="386"/>
              </figure>
            </div>
            <div class="col-md-6">
              <div class="inset-lg-left-40 inset-xl-left-70">
                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company.</p>
                <p>Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer default-->
      <footer class="section footer-default bg-secondary">
        <div class="container">
          <h2>Get in touch</h2>
          <div class="row row-30">
            <div class="col-xl-3 col-md-4">
              <h4 class="footer-title">Address</h4><a href="#">3891 Ranchview Dr. Richardson, <br> California 62639</a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <h4 class="footer-title">Contact</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="mailto:#">mail@demolink.org</a></li>
                <li class="footer-list-item"><a href="tel:#">+1 234 567 88 99</a></li>
              </ul>
            </div>
            <div class="col-xl-2 col-md-4 col-6">
              <h4 class="footer-title">Socials</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="#">Instagram</a></li>
                <li class="footer-list-item"><a href="#">Twitter</a></li>
              </ul>
            </div>
            <div class="col-xl-4">
              <div class="rights-wrapper">
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>