@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Base
.snackbar {
	margin-bottom: 0;
	padding: 15px;
	font-size: $font-size-sm;
	border-radius: $border-radius;
}

.snackbar-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	@include group( 10px, 10px );
}

.snackbar-title {
	font-weight: $headings-font-weight;
}

.snackbar-icon {
	margin-right: .7em;
	line-height: inherit;
}


// Theming
.snackbar-primary {
	background-color: $primary-light;
	.snackbar-title {
		color: $primary;
	}
}


// Spacing
.snackbar + .snackbar { margin-top: 30px; }


// Media
@include media-breakpoint-up( lg ) {
	.snackbar {
		padding: 17px 20px 17px 30px;
	}
}
