<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>About us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  <body>
    <div class="preloader">
      <div><a class="brand brand-md" href="index.html"><img src="images/logo-inverse-166x40.svg" alt="" width="166" height="40"/></a>
        <div class="page-loader-body">
          <div id="spinningSquaresG">
            <div class="spinningSquaresG" id="spinningSquaresG_1"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_2"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_3"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_4"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_5"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_6"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_7"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_8"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="60px" data-xl-stick-up-offset="60px" data-xxl-stick-up-offset="60px">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-default-166x40.svg" alt="" width="166" height="40"/></a>
              </div>
              <div class="rd-navbar-group rd-navbar-search-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Pages</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">About us</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Components</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="accordion.html">Accordion</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs.html">Tabs</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="grid-gallery.html">Portfolio</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="masonry-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-blog.html">Masonry blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-30 section-xxl-40 section-xxl-66 section-xxl-bottom-90 novi-background bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>About us</h2>
          </div>
        </div>
      </section>
      <section class="section section-66 section-md-90 section-xl-bottom-120 novi-background">
        <div class="container">
          <h3>Who we are</h3>
          <div class="row row-40 justify-content-lg-between">
            <div class="col-md-6 col-xl-5 text-primary">
              <div class="inset-md-right-15 inset-xl-right-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem cumque cupiditate deleniti dolor dolore eaque eligendi eum explicabo fuga in ipsam ipsum iure labore.</p>
                <p>libero molestiae necessitatibus nisi nostrum quam quas quasi, quidem ratione recusandae rerum sapiente sit veritatis voluptatum. Autem consequatur dignissimos distinctio dolore dolorum ea eius eum ex harum minima modi molestias nemo odit, officiis ullam! Sed!</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="shift-sm-top-1">
                <!--Linear progress bar-->
                <div class="progress-linear progress-linear-red">
                  <div class="progress-linear-header">
                    <p class="progress-linear-title">Experience</p><span class="progress-linear-counter">70</span>
                  </div>
                  <div class="progress-linear-body">
                    <div class="progress-linear-bar"></div>
                  </div>
                </div>
                <!--Linear progress bar-->
                <div class="progress-linear progress-linear-blue">
                  <div class="progress-linear-header">
                    <p class="progress-linear-title">Professionalism</p><span class="progress-linear-counter">54</span>
                  </div>
                  <div class="progress-linear-body">
                    <div class="progress-linear-bar"></div>
                  </div>
                </div>
                <!--Linear progress bar-->
                <div class="progress-linear progress-linear-yellow">
                  <div class="progress-linear-header">
                    <p class="progress-linear-title">Reliability</p><span class="progress-linear-counter">87</span>
                  </div>
                  <div class="progress-linear-body">
                    <div class="progress-linear-bar"></div>
                  </div>
                </div>
                <!--Linear progress bar-->
                <div class="progress-linear progress-linear-green">
                  <div class="progress-linear-header">
                    <p class="progress-linear-title">Resilience</p><span class="progress-linear-counter">90</span>
                  </div>
                  <div class="progress-linear-body">
                    <div class="progress-linear-bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-60 section-md-90 bg-gray-lighter novi-background">
        <div class="container">
          <div class="row row-40 row-lg-60">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail thumbnail-variant-1">
                <div class="thumbnail-image"><img src="images/team-6-189x189.png" alt="" width="189" height="189"/>
                  <div class="thumbnail-image-inner"><a class="novi-icon icon icon-md material-icons-local_phone link-primary-inverse-v2" href="tel:#"></a><a class="novi-icon icon icon-md-smaller fa-envelope-o link-white" href="mailto:#"></a></div>
                </div>
                <div class="thumbnail-caption">
                  <h5 class="header"><a href="team-member-profile.html">Sam Adams</a></h5>
                  <p>Founder</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail thumbnail-variant-1">
                <div class="thumbnail-image"><img src="images/team-2-189x189.png" alt="" width="189" height="189"/>
                  <div class="thumbnail-image-inner"><a class="novi-icon icon icon-md material-icons-local_phone link-primary-inverse-v2" href="tel:#"></a><a class="novi-icon icon icon-md-smaller fa-envelope-o link-white" href="mailto:#"></a></div>
                </div>
                <div class="thumbnail-caption">
                  <h5 class="header"><a href="team-member-profile.html">Joan Williams</a></h5>
                  <p>Customer Service Manager</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail thumbnail-variant-1">
                <div class="thumbnail-image"><img src="images/team-7-189x189.png" alt="" width="189" height="189"/>
                  <div class="thumbnail-image-inner"><a class="novi-icon icon icon-md material-icons-local_phone link-primary-inverse-v2" href="tel:#"></a><a class="novi-icon icon icon-md-smaller fa-envelope-o link-white" href="mailto:#"></a></div>
                </div>
                <div class="thumbnail-caption">
                  <h5 class="header"><a href="team-member-profile.html">Benedict Smith</a></h5>
                  <p>System Administrator</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail thumbnail-variant-1">
                <div class="thumbnail-image"><img src="images/team-5-189x189.png" alt="" width="189" height="189"/>
                  <div class="thumbnail-image-inner"><a class="novi-icon icon icon-md material-icons-local_phone link-primary-inverse-v2" href="tel:#"></a><a class="novi-icon icon icon-md-smaller fa-envelope-o link-white" href="mailto:#"></a></div>
                </div>
                <div class="thumbnail-caption">
                  <h5 class="header"><a href="team-member-profile.html">Jane Green</a></h5>
                  <p>HR Manager</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-60 section-md-100 novi-background bg-secondary">
        <div class="container">
          <div class="row row-40">
            <div class="col-sm-6 col-md-3">
              <div class="box-counter"><span class="novi-icon icon icon-md icon-primary material-icons-content_copy"></span>
                <div class="text-large counter">582</div>
                <h5 class="box-header">Regular visitors</h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box-counter"><span class="novi-icon icon icon-md icon-primary material-icons-mood"></span>
                <div class="text-large counter counter-k">246</div>
                <h5 class="box-header">Annual clients</h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box-counter"><span class="novi-icon icon icon-md icon-primary material-icons-access_time"></span>
                <div class="text-large counter">1200</div>
                <h5 class="box-header">Websites visited</h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box-counter"><span class="novi-icon icon icon-md icon-primary material-icons-code"></span>
                <div class="text-large counter counter-k">834</div>
                <h5 class="box-header">Positive reviews</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-60 section-md-90 bg-athens-gray bg-image bg-image-1 novi-background" style="background-image: url(images/about-1.jpg);">
        <div class="container">
          <div class="row">
            <div class="offset-md-4 col-md-8 offset-lg-5 col-lg-7 offset-xl-6 col-xl-5">
              <div class="inset-md-left-100">
                <h3>Why Choose Us</h3>
              </div>
              <div class="inset-md-left-30 inset-md-right-30">
                <ul class="list-xl">
                  <li>
                    <article class="icon-box-horizontal">
                      <div class="unit unit-spacing-md">
                        <div class="unit-left"><span class="novi-icon icon icon-primary icon-md material-icons-phonelink"></span></div>
                        <div class="unit-body">
                          <h5><a href="#">High-speed internet connection</a></h5>
                          <p>Our team of professional analysts is constantly roaming the web in search of promising techniques.</p>
                        </div>
                      </div>
                    </article>
                  </li>
                  <li>
                    <article class="icon-box-horizontal">
                      <div class="unit unit-spacing-md">
                        <div class="unit-left"><span class="novi-icon icon icon-primary icon-md material-icons-av_timer"></span></div>
                        <div class="unit-body">
                          <h5><a href="#">Space for work and entertainment</a></h5>
                          <p>We know how important it is for you to maintain your schedule, that’s why we do everything to fit it. </p>
                        </div>
                      </div>
                    </article>
                  </li>
                  <li>
                    <article class="icon-box-horizontal">
                      <div class="unit unit-spacing-md">
                        <div class="unit-left"><span class="novi-icon icon icon-primary icon-md material-icons-headset_mic"></span></div>
                        <div class="unit-body">
                          <h5><a href="#">Friendly support</a></h5>
                          <p>Our support team is online 24/7, and is ready to help you with any design - related issue.</p>
                        </div>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-60 section-md-90 section-lg-bottom-120 bg-primary novi-background text-center">
        <div class="container">
          <h3>What Clients Say</h3>
          <div class="row row-40 row-xl-60 justify-content-sm-center justify-content-md-start offset-xl-top-60">
            <div class="col-md-4"> 
                    <blockquote class="quote-vertical">
                      <div class="quote-body">
                        <div class="quote-open">
                          <svg version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="12px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                            <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316                  c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37                  C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316                  c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37                  C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
                          </svg>
                        </div>
                        <p class="quote-text">
                          <q>Dicta ea expedita iure magni nesciunt optio. Ad animi consectetur corporis, doloremque ducimus exercitationem.</q>
                        </p>
                      </div>
                      <div class="quote-meta">
                        <figure class="quote-image"><img src="images/clients-testimonials-7-113x113.png" alt="" width="113" height="113"/>
                        </figure>
                        <cite>Alex Murphy</cite>
                        <p class="caption">Client</p>
                      </div>
                    </blockquote>
            </div>
            <div class="col-md-4">
                    <blockquote class="quote-vertical">
                      <div class="quote-body">
                        <div class="quote-open">
                          <svg version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="12px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                            <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316                  c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37                  C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316                  c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37                  C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
                          </svg>
                        </div>
                        <p class="quote-text">
                          <q>Inventore laudantium libero maxime natus necessitatibus possimus quasi, quis tempora veritatis vero.</q>
                        </p>
                      </div>
                      <div class="quote-meta">
                        <figure class="quote-image"><img src="images/clients-testimonials-8-113x113.png" alt="" width="113" height="113"/>
                        </figure>
                        <cite>Amelia Lee</cite>
                        <p class="caption">Client</p>
                      </div>
                    </blockquote>
            </div>
            <div class="col-md-4">
                    <blockquote class="quote-vertical">
                      <div class="quote-body">
                        <div class="quote-open">
                          <svg version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="12px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                            <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316                  c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37                  C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316                  c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37                  C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
                          </svg>
                        </div>
                        <p class="quote-text">
                          <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eius nihil perferendis quibusdam quo similique!</q>
                        </p>
                      </div>
                      <div class="quote-meta">
                        <figure class="quote-image"><img src="images/clients-testimonials-9-113x113.png" alt="" width="113" height="113"/>
                        </figure>
                        <cite>Jack McGee</cite>
                        <p class="caption">Client</p>
                      </div>
                    </blockquote>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <!-- Footer default-->
      <footer class="section footer-default bg-secondary">
        <div class="container">
          <h2>Get in touch</h2>
          <div class="row row-30">
            <div class="col-xl-3 col-md-4">
              <h4 class="footer-title">Address</h4><a href="#">3891 Ranchview Dr. Richardson, <br> California 62639</a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <h4 class="footer-title">Contact</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="mailto:#">mail@demolink.org</a></li>
                <li class="footer-list-item"><a href="tel:#">+1 234 567 88 99</a></li>
              </ul>
            </div>
            <div class="col-xl-2 col-md-4 col-6">
              <h4 class="footer-title">Socials</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="#">Instagram</a></li>
                <li class="footer-list-item"><a href="#">Twitter</a></li>
              </ul>
            </div>
            <div class="col-xl-4">
              <div class="rights-wrapper">
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>