<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  <body>
    <div class="preloader">
      <div><a class="brand brand-md" href="index.html"><img src="images/logo-inverse-166x40.svg" alt="" width="166" height="40"/></a>
        <div class="page-loader-body">
          <div id="spinningSquaresG">
            <div class="spinningSquaresG" id="spinningSquaresG_1"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_2"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_3"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_4"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_5"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_6"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_7"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_8"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="60px" data-xl-stick-up-offset="60px" data-xxl-stick-up-offset="60px">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-default-166x40.svg" alt="" width="166" height="40"/></a>
              </div>
              <div class="rd-navbar-group rd-navbar-search-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Pages</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">About us</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Components</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="accordion.html">Accordion</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs.html">Tabs</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="grid-gallery.html">Portfolio</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="masonry-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-blog.html">Masonry blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-30 section-xxl-40 section-xxl-66 section-xxl-bottom-90 novi-background bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-8.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>Services</h2>
          </div>
        </div>
      </section>
      <section class="bg-primary">
        <div class="section-66 section-md-90">
          <div class="container">
            <h3 class="text-center">What We Offer</h3>
            <p class="block-centered text-center" style="max-width: 540px;">We will take care of your web design project regardless of its level of complexity. We are not afraid of difficult tasks – hundreds of our satisfied clients can prove that.</p>
            <div class="row row-50 row-xl-60">
              <div class="col-sm-6 col-lg-4">
                <article class="icon-box-vertical icon-box-vertical-sm"><span class="novi-icon icon icon-secondary icon-md material-icons-phonelink"></span>
                  <h5 class="icon-box-header"><a href="#">Internet Access</a></h5>
                  <p>Eveniet illum laborum molestiae mollitia necessitatibus nesciunt repellendus sunt.</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="icon-box-vertical icon-box-vertical-sm"><span class="novi-icon icon icon-secondary icon-md material-icons-thumb_up"></span>
                  <h5 class="icon-box-header"><a href="#">Photocopying</a></h5>
                  <p>Numquam odio optio quaerat quam quibusdam reiciendis sed sunt unde velit voluptas? Commodi dignissimos eligendi.</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="icon-box-vertical icon-box-vertical-sm"><span class="novi-icon icon icon-secondary icon-md material-icons-collections"></span>
                  <h5 class="icon-box-header"><a href="#">Coffee Shop</a></h5>
                  <p>Eveniet explicabo fugit harum impedit ipsa ipsum minima minus molestiae nobis non nulla.</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="icon-box-vertical icon-box-vertical-sm"><span class="novi-icon icon icon-secondary icon-md material-icons-loop"></span>
                  <h5 class="icon-box-header"><a href="#">Coworking Space</a></h5>
                  <p>A accusamus aliquam at blanditiis commodi corporis cumque, dicta distinctio dolorem dolores eligendi enim et</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="icon-box-vertical icon-box-vertical-sm"><span class="novi-icon icon icon-secondary icon-md material-icons-layers"></span>
                  <h5 class="icon-box-header"><a href="#">Regular Events</a></h5>
                  <p>Aliquam aliquid blanditiis, eaque eius omnis pariatur quae ratione rerum tempora.</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="icon-box-vertical icon-box-vertical-sm"><span class="novi-icon icon icon-secondary icon-md material-icons-note_add"></span>
                  <h5 class="icon-box-header"><a href="#">Gaming Tournaments</a></h5>
                  <p>Consectetur adipisicing elit. Ducimus officiis repellat sit temporibus voluptatem!</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-60 section-md-90 bg-white bg-image bg-image-1 novi-background" style="background-image: url(images/services-1.jpg);">
        <div class="container">
          <div class="row justify-content-lg-start">
            <div class="offset-md-4 col-md-8 offset-lg-5 col-lg-6 offset-xl-6 col-xl-5">
              <h3>Why Choose Us</h3>
              <div class="offset-top-4">
                <p>Amet dignissimos iure reiciendis sequi voluptatum! Accusantium aspernatur, expedita fuga fugit id impedit incidunt ipsum mollitia, officiis qui ratione repellendus voluptates voluptatibus.</p>
                <p>Accusantium fugit magni necessitatibus sint! Ea fugit molestias, non quod tempore voluptas!</p><a class="btn btn-silver-outline" href="our-team.html">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-60 section-md-90 section-xl-bottom-120 bg-primary novi-background">
        <div class="container">
          <h3>Our Clients</h3>
          <div class="row row-40 offset-top-2">
            <div class="col-md-7 col-lg-5 col-xl-4">
              <div class="owl-carousel-wrap">
                <div class="owl-carousel owl-nav-bottom-left" data-autoplay="true" data-items="1" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-nav="true">
                  <div class="item">
                    <p>Assumenda aut dolor doloribus esse excepturi molestiae officiis quis sit ut vel! At culpa deleniti dolorum ipsam.</p>
                  </div>
                  <div class="item">
                    <p>Maxime modi perferendis ratione reiciendis repudiandae tempora velit veritatis voluptas voluptate.</p>
                  </div>
                  <div class="item">
                    <p>Mollitia nisi totam voluptates voluptatibus. Aperiam aspernatur deleniti, dolorem esse illum incidunt.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-xl-8">
              <div class="row row-30 shift-md-top-1">
                <div class="col-sm-6 col-md-3">
                  <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-2-132x83.png" alt="" width="132" height="83"/></a></div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-3-169x68.png" alt="" width="169" height="68"/></a></div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-4-141x88.png" alt="" width="141" height="88"/></a></div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-5-138x55.png" alt="" width="138" height="55"/></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section bg-decoration-wrap bg-decoration-bottom bg-decoration-bottom-mod section-60 section-md-100 bg-whisper">
        <div class="container bg-decoration-content">
          <div class="row row-40 justify-content-md-center">
            <div class="col-lg-10 col-xl-12">
              <h3>Choose Your Plan</h3>
            </div>
            <div class="col-lg-10 col-xl-12">
              <div class="row row-40 align-items-md-end">
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">free</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">0</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li><span class="text-ubold">1 hour</span>of internet access</li>
                        <li><span class="text-ubold">2GB</span>Bandwidth</li>
                        <li><span class="text-ubold">1 free</span>coffee cup</li>
                        <li>Scanning</li>
                        <li><span class="text-ubold">B&W</span>Photocopying</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-round-bottom btn-default btn-block" href="registration.html">Sign up</a></div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Starter</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">59</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li><span class="text-ubold">2 hours</span>of internet access</li>
                        <li><span class="text-ubold">4GB</span>Bandwidth</li>
                        <li><span class="text-ubold">3 free</span>coffee cups</li>
                        <li>Wi-Fi Access</li>
                        <li><span class="text-ubold">Color</span>Photocopying</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-round-bottom btn-default btn-block" href="registration.html">Sign up</a></div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table pricing-table-preferred">
                    <div class="pricing-table-badge">
                      <p>Most popular</p>
                    </div>
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Business</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">99</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li><span class="text-ubold">3 hours</span>of internet access</li>
                        <li><span class="text-ubold">6GB</span>Bandwidth</li>
                        <li><span class="text-ubold">6 free</span>coffee cups</li>
                        <li>Coworking Access</li>
                        <li><span class="text-ubold">Faxing</span></li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-round-bottom btn-default btn-block" href="registration.html">Sign up</a></div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <div class="pricing-table">
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Ultimate</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">199</span><span class="small small-bottom">/mo</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li><span class="text-ubold">4 hours</span>of internet access</li>
                        <li><span class="text-ubold">10GB</span>Bandwidth</li>
                        <li><span class="text-ubold">8 free</span>coffee cups</li>
                        <li>Online Conferences</li>
                        <li><span class="text-ubold">International</span>Calls</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="btn btn-round-bottom btn-default btn-block" href="registration.html">Sign up</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-decoration-object bg-iron"></div>
      </section>
      <section class="section section-60 section-md-100 bg-accent novi-background">
        <div class="container text-center text-lg-start">
          <div class="row row-30 align-items-md-center justify-content-lg-center">
            <div class="col-lg-8 col-xl-7">
              <h3>Talnet is exactly what you need</h3>
            </div>
            <div class="col-lg-4 col-xl-3"><a class="btn btn-xl btn-black-outline" href="https://www.templatemonster.com/website-templates/starbis.html" target="_blank">Learn More</a></div>
          </div>
        </div>
      </section>
      <!-- Footer default-->
      <footer class="section footer-default bg-secondary">
        <div class="container">
          <h2>Get in touch</h2>
          <div class="row row-30">
            <div class="col-xl-3 col-md-4">
              <h4 class="footer-title">Address</h4><a href="#">3891 Ranchview Dr. Richardson, <br> California 62639</a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <h4 class="footer-title">Contact</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="mailto:#">mail@demolink.org</a></li>
                <li class="footer-list-item"><a href="tel:#">+1 234 567 88 99</a></li>
              </ul>
            </div>
            <div class="col-xl-2 col-md-4 col-6">
              <h4 class="footer-title">Socials</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="#">Instagram</a></li>
                <li class="footer-list-item"><a href="#">Twitter</a></li>
              </ul>
            </div>
            <div class="col-xl-4">
              <div class="rights-wrapper">
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>