<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Tabs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  <body>
    <div class="preloader">
      <div><a class="brand brand-md" href="index.html"><img src="images/logo-inverse-166x40.svg" alt="" width="166" height="40"/></a>
        <div class="page-loader-body">
          <div id="spinningSquaresG">
            <div class="spinningSquaresG" id="spinningSquaresG_1"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_2"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_3"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_4"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_5"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_6"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_7"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_8"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="60px" data-xl-stick-up-offset="60px" data-xxl-stick-up-offset="60px">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-default-166x40.svg" alt="" width="166" height="40"/></a>
              </div>
              <div class="rd-navbar-group rd-navbar-search-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Pages</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">About us</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h5 class="rd-megamenu-title">Components</h5>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="accordion.html">Accordion</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs.html">Tabs</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="grid-gallery.html">Portfolio</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="masonry-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-blog.html">Masonry blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-30 section-xxl-40 section-xxl-66 section-xxl-bottom-90 novi-background bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>Tabs</h2>
          </div>
        </div>
      </section>
      <section class="section section-bottom-30 section-top-60 section-md-bottom-40 section-md-top-90">
        <div class="container">
          <h3 class="text-center">Horizontal Tabs</h3>
          <div class="row justify-content-md-center">
            <div class="col-xl-10">
              <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
                <ul class="nav nav-tabs">
                  <li><a class="nav-link active" href="#tabs-1-1" data-bs-toggle="tab">Tab 1</a></li>
                  <li><a class="nav-link" href="#tabs-1-2" data-bs-toggle="tab">Tab 2</a></li>
                  <li><a class="nav-link" href="#tabs-1-3" data-bs-toggle="tab">Tab 3</a></li>
                  <li><a class="nav-link" href="#tabs-1-4" data-bs-toggle="tab">Tab 4</a></li>
                  <li><a class="nav-link" href="#tabs-1-5" data-bs-toggle="tab">Tab 5</a></li>
                </ul>
                <div class="tab-content text-primary">
                  <div class="tab-pane fade show active" id="tabs-1-1">
                    <p>Consectetur culpa cum cumque delectus ducimus earum est eveniet ex fugiat harum impedit in iste iure laudantium maxime modi non odit officiis omnis possimus quaerat recusandae, repellat similique unde ut vel veniam voluptates? At ex illo illum minus molestiae recusandae!</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-2">
                    <p>Amet consequuntur, eligendi eum fuga laboriosam libero, magni odio pariatur quae quia ratione rem reprehenderit sit temporibus veritatis voluptatem voluptatibus. Aut eos excepturi ipsum numquam provident sequi sunt. Dolor ea harum laudantium quas. Minima non possimus quam voluptates.</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-3">
                    <p>Assumenda autem beatae doloremque earum enim illo magnam quod reprehenderit totam. Aut doloribus ea exercitationem incidunt, minima mollitia numquam porro quo, rerum suscipit, ullam velit?</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-4">
                    <p>Aperiam aspernatur at aut beatae blanditiis expedita in incidunt, ipsum iusto nobis nostrum obcaecati optio, praesentium quas quidem quis quisquam quo ratione reprehenderit similique tempore velit voluptatum!</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-5">
                    <p>A ab at corporis culpa, doloribus ducimus eius eligendi esse facere harum illo iusto modi nesciunt omnis, placeat possimus quas ratione sequi sint vel vero vitae voluptas.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-30 section-md-top-50">
        <div class="container">
          <h3 class="text-center">Vertical Tabs</h3>
          <div class="row justify-content-md-center">
            <div class="col-xl-10">
              <div class="tabs-custom tabs-vertical tabs-corporate" id="tabs-2">
                <ul class="nav nav-tabs">
                  <li><a class="nav-link active" href="#tabs-2-1" data-bs-toggle="tab">Tab 1</a></li>
                  <li><a class="nav-link" href="#tabs-2-2" data-bs-toggle="tab">Tab 2</a></li>
                  <li><a class="nav-link" href="#tabs-2-3" data-bs-toggle="tab">Tab 3</a></li>
                  <li><a class="nav-link" href="#tabs-2-4" data-bs-toggle="tab">Tab 4</a></li>
                </ul>
                <div class="tab-content text-primary">
                  <div class="tab-pane fade show active" id="tabs-2-1">
                    <p>A at cupiditate ducimus eius fuga, laborum neque nobis perspiciatis quae quasi repellat reprehenderit saepe similique sint ullam unde ut!</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-2-2">
                    <p>Adipisci amet at atque autem consequatur cum delectus deleniti distinctio dolore dolorum ducimus, ea eaque eos esse et eum eveniet exercitationem explicabo impedit ipsum iusto laboriosam, magnam nihil non omnis perferendis placeat porro quam reiciendis soluta temporibus ut vero voluptatum.</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-2-3">
                    <p>At perspiciatis sint veritatis? Debitis distinctio eius, iusto nihil nulla perferendis praesentium reprehenderit veritatis? Aperiam aspernatur cupiditate, distinctio eius eligendi et eveniet, expedita facilis iure laudantium libero modi nam nihil nisi obcaecati, odit reprehenderit tenetur vel veniam voluptates!</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-2-4">
                    <p>Consequatur in ipsa natus necessitatibus non odit perferendis recusandae repellendus sed, veniam veritatis voluptate voluptatem? Beatae blanditiis corporis debitis deserunt illum nemo, sit. Consequatur id illo iste nemo, officia quidem quis rerum unde vero. Consectetur error, rerum!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-30 section-md-40">
        <div class="container">
          <h3 class="text-center">Tabs Line</h3>
          <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
              <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-3">
                <ul class="nav nav-tabs">
                  <li><a class="nav-link active" href="#tabs-3-1" data-bs-toggle="tab">Tab 1</a></li>
                  <li><a class="nav-link" href="#tabs-3-2" data-bs-toggle="tab">Tab 2</a></li>
                  <li><a class="nav-link" href="#tabs-3-3" data-bs-toggle="tab">Tab 3</a></li>
                  <li><a class="nav-link" href="#tabs-3-4" data-bs-toggle="tab">Tab 4</a></li>
                </ul>
                <div class="tab-content text-primary">
                  <div class="tab-pane fade show active" id="tabs-3-1">
                    <p>A ab at corporis culpa, doloribus ducimus eius eligendi esse facere harum illo iusto modi nesciunt omnis, placeat possimus quas ratione sequi sint vel vero vitae voluptas.</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-3-2">
                    <p>Aperiam aspernatur at aut beatae blanditiis expedita in incidunt, ipsum iusto nobis nostrum obcaecati optio, praesentium quas quidem quis quisquam quo ratione reprehenderit similique tempore velit voluptatum!</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-3-3">
                    <p>Assumenda autem beatae doloremque earum enim illo magnam quod reprehenderit totam. Aut doloribus ea exercitationem incidunt, minima mollitia numquam porro quo, rerum suscipit, ullam velit?</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-3-4">
                    <p>Amet consequuntur, eligendi eum fuga laboriosam libero, magni odio pariatur quae quia ratione rem reprehenderit sit temporibus veritatis voluptatem voluptatibus. Aut eos excepturi ipsum numquam provident sequi sunt. Dolor ea harum laudantium quas. Minima non possimus quam voluptates.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-30 section-bottom-60 section-md-top-50 section-md-bottom-90 section-xl-bottom-120">
        <div class="container">
          <h3 class="text-center">Tabs Gallery</h3>
          <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
              <div class="tabs-custom tabs-horizontal tabs-minimal" id="tabs-4">
                <ul class="nav nav-tabs text-center">
                  <li><a class="nav-link active" href="#tabs-4-1" data-bs-toggle="tab">Tab 1</a></li>
                  <li><a class="nav-link" href="#tabs-4-2" data-bs-toggle="tab">Tab 2</a></li>
                  <li><a class="nav-link" href="#tabs-4-3" data-bs-toggle="tab">Tab 3</a></li>
                  <li><a class="nav-link" href="#tabs-4-4" data-bs-toggle="tab">Tab 4</a></li>
                </ul>
                <div class="tab-content text-primary">
                  <div class="tab-pane fade show active" id="tabs-4-1">
                    <p>Consequatur in ipsa natus necessitatibus non odit perferendis recusandae repellendus sed, veniam veritatis voluptate voluptatem? Beatae blanditiis corporis debitis deserunt illum nemo, sit. Consequatur id illo iste nemo, officia quidem quis rerum unde vero. Consectetur error, rerum!</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-4-2">
                    <p>At perspiciatis sint veritatis? Debitis distinctio eius, iusto nihil nulla perferendis praesentium reprehenderit veritatis? Aperiam aspernatur cupiditate, distinctio eius eligendi et eveniet, expedita facilis iure laudantium libero modi nam nihil nisi obcaecati, odit reprehenderit tenetur vel veniam voluptates!</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-4-3">
                    <p>Adipisci amet at atque autem consequatur cum delectus deleniti distinctio dolore dolorum ducimus, ea eaque eos esse et eum eveniet exercitationem explicabo impedit ipsum iusto laboriosam, magnam nihil non omnis perferendis placeat porro quam reiciendis soluta temporibus ut vero voluptatum.</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-4-4">
                    <p>Consectetur culpa cum cumque delectus ducimus earum est eveniet ex fugiat harum impedit in iste iure laudantium maxime modi non odit officiis omnis possimus quaerat recusandae, repellat similique unde ut vel veniam voluptates? At ex illo illum minus molestiae recusandae!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer default-->
      <footer class="section footer-default bg-secondary">
        <div class="container">
          <h2>Get in touch</h2>
          <div class="row row-30">
            <div class="col-xl-3 col-md-4">
              <h4 class="footer-title">Address</h4><a href="#">3891 Ranchview Dr. Richardson, <br> California 62639</a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <h4 class="footer-title">Contact</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="mailto:#">mail@demolink.org</a></li>
                <li class="footer-list-item"><a href="tel:#">+1 234 567 88 99</a></li>
              </ul>
            </div>
            <div class="col-xl-2 col-md-4 col-6">
              <h4 class="footer-title">Socials</h4>
              <ul class="footer-list">
                <li class="footer-list-item"><a href="#">Instagram</a></li>
                <li class="footer-list-item"><a href="#">Twitter</a></li>
              </ul>
            </div>
            <div class="col-xl-4">
              <div class="rights-wrapper">
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>