@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";


// Base
.link-arrow {
	font-size: 16px;
	font-weight: 700;

	svg {
		margin-left: 6px;
		fill: currentColor;
	}

	@include link($gray-700, $primary);
}

.link-img {
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: $primary;

	img {
		transition: $transition-base;
	}

	&:hover {
		img {
			transform: scale(1.05);
			opacity: .9;
		}
	}
}
