@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.footer {
	padding: px-to-rem( 60px, 0 );
}

.footer-list {
	font-weight: 400;
	@include group( px-to-rem( 20px ), px-to-rem( 10px ) );

	> * {
		display: inline-block;
	}
}


// Spacing
* + .footer-divider {
	margin-top: px-to-rem( 60px );
}

.footer-title + * {
	margin-top: px-to-rem( 10px );
}

.footer-divider + .footer-panel {
	margin-top: px-to-rem( 40px );
}


// Media
@include media-breakpoint-up(sm) {
	.footer {
		padding: px-to-rem( 200px, 0, 60px );
	}

}
@include media-breakpoint-up(md) {
	.footer {
		padding: px-to-rem( 200px, 0, 80px );
	}

	.footer-contact-list {
		> .list-item + .list-item {
			margin-top: 1.25em;
		}
	}

	* + .footer-divider {
		margin-top: px-to-rem( 80px );
	}
}

@include media-breakpoint-up(lg) {
	.footer {
		padding: px-to-rem( 220px, 0, 90px );
	}

	* + .footer-divider {
		margin-top: px-to-rem( 100px );
	}
}

@include media-breakpoint-up(xl) {
	* + .footer-divider {
		margin-top: px-to-rem( 120px );
	}
}

@include media-breakpoint-up(xxl) {
	.footer {
		padding: px-to-rem( 280px, 0, 140px );
	}

	* + .footer-divider {
		margin-top: px-to-rem( 140px );
	}
}
