/** @section Backgrounds */

%context-dark {
	color: rgba($white, .5);

	#{headings()} {
		color: $white;
	}

	a {
		&, &:active, &:focus {
			color: $white;
		}

		&:hover {
			color: $link-hover-color;
		}
	}

	.big,
	.text-bigger,
	.text-extra-large-bordered {
		color: $white;
	}


	.rights {
		color: $white;

		a {
			&:hover {
				color: $silver-chalice;
			}
		}
	}

	.text-light-03 {
		color: rgba($white, .3);
	}

	.btn-default-outline {
		&:hover {
			color: $gray-darker;
			background: $white;
			border-color: $white;
		}
	}
}

.context-dark {
	@extend %context-dark;
}

// Colors
.bg-black {
	@extend %context-dark;
	@include bg-variant-custom(#{$black});
}

.bg-gray-darker {
	@extend %context-dark;
	@include bg-variant-custom(#{$gray-darker});
}

.bg-gray-dark {
	@extend %context-dark;
	@include bg-variant-custom(#{$gray-dark});
}

.bg-mine-shaft {
	@extend %context-dark;
	@include bg-variant-custom(#{$mine-shaft});
}

.bg-cod-gray {
	@extend %context-dark;
	@include bg-variant-custom(#{$cod-gray});
}

.bg-gray {
	@include bg-variant-custom(#{$gray});
}

.bg-accent {
	@extend %context-dark;
	@include bg-variant-custom(#{$primary});
}

.bg-gray-light {
	@include bg-variant-custom(#{$gray-light});
}

.bg-gray-lighter {
	@include bg-variant-custom(#{$gray-lighter});
}

.bg-whisper {
	@include bg-variant-custom(#{$whisper});
}

.bg-athens-gray {
	@include bg-variant-custom(#{$athens-gray});
}

.bg-iron {
	@include bg-variant-custom(#{$iron});
}

.novi-background {
	background-size: cover;
}

.script-link {
}

.script-image {
}

// Bg image
.bg-image {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

.bg-image-centered {
	-webkit-background-size: auto;
	background-size: auto;
}

.bg-fixed {
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.bg-image-1 {
	-webkit-background-size: auto 100%;
	background-size: auto 100%;

	@include media-breakpoint-down(md) {
		background-image: none !important;
	}
}
