@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Brand
.brand {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	height: 150px;
	transition: $transition-base;
	padding: 15px;
	border-radius: 15px;
	.figure {
		overflow: visible;
	}
	img {
		width: auto;
		height: auto;
		max-height: 100%;
	}
}
