@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Modifying
.mobile .section-one-screen {
	min-height: calc(100vh - 56px);
}

.desktop .section-one-screen {
	min-height: calc(100vh - 80px);
}

.section-one-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 60px 0;
}


// Sizing
.section-sm,
.section-md,
.section-lg {
	padding: 70px 0;
}


// Media
@include media-breakpoint-up(md) {
	.section-md,
	.section-lg {
		padding: 80px 0;
	}
}

@include media-breakpoint-up(lg) {
	.section-lg {
		padding: 100px 0;
	}
}

@include media-breakpoint-up(xl) {
	.section-md {
		padding: 120px 0;
	}

	.section-lg {
		padding: 150px 0;
	}
}


.section-into {
	position: relative;
	padding: 70px 0;

	@include media-breakpoint-up(lg) {
		padding-bottom: 30px;
	}

	@include media-breakpoint-up(xl) {
		padding-top: 150px;
	}

	@include media-breakpoint-up(xxl) {
		padding-top: 175px;
	}
}

.intro-bg {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 95%;
}

.intro-image {
	@include media-breakpoint-up(xxl) {
		max-width: none;
		margin-left: 25%;
	}
}

.cta-bg {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 95%;
}

.cta-image {
	position: absolute;
	bottom: 0;
	max-width: 90%;

	@include media-breakpoint-up(xl) {
		right: 114px;
		bottom: 26px;
	}

	@include media-breakpoint-up(xxl) {
		max-width: none;
	}
}

.section-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	box-shadow: 10px 0px 20px 20px rgba(0, 0, 0, 0.05);
	background: $gradient-2;
	@include media-breakpoint-up(xl) {
		width: 50%;
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
		background: $gradient-3;
	}
}