//
// Responsive unit
// --------------------------------------------------

@include unit-responsive($grid-breakpoints, 20px, 30px);

// Unit Spacing
//

.unit-spacing-xs {
  @include unit-spacing($grid-breakpoints, 8px);
}

.unit-spacing-sm {
  @include unit-spacing($grid-breakpoints, 15px);
}

.unit-spacing-md {
  @include unit-spacing($grid-breakpoints, 22px);
}

.unit-spacing-lg {
  @include unit-spacing($grid-breakpoints, 30px);
}

.unit-middle {
  .unit-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.unit-left-icon {
  font-size: 0;
  line-height: 0;
}