//
// Custom utilities
// --------------------------------------------------

// Helpers
// -------------------------
.relative {
  position: relative;
}

.static {
  position: static;
}

.block-top-level {
  position: relative;
  z-index: 3;
}

.height-fill {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(stretch);

  > * {
    @include flex-grow(1);
  }
}

.centered {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}

.align-bottom {
  @include align-self(flex-end);
}

.block-centered {
  margin-left: auto;
  margin-right: auto;
}

.responsive-centered {
  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: auto;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.page .white-space-normal {
  white-space: normal;
}

// Misc
// -------------------------
.contact-info {
  color: $black;
  vertical-align: baseline;

  a {
    display: inline-block;
  }

  dl {
    dt, dd {
      display: inline-block;
    }

    dt:after {
      content: ':';
      display: inline-block;
      text-align: center;
    }
  }

  .dl-inline {
    dt {
      padding-right: 0;
    }
  }
}

.grid-system {
  p {
    color: $black; 
  }
  @include media-breakpoint-down(xl) {
    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.object-inline,
.object-inline-baseline {
  white-space: nowrap;
  > * + * {
    margin-top: 0;
    margin-left: 5px;
  }
}

.object-inline {
  vertical-align: middle;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.object-inline-baseline {
  vertical-align: baseline;

  > * {
    display: inline-block;
    vertical-align: baseline;
  }
}

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;

  [class*='col'] {
    padding: 0;
  }
}

.text-width-1 {
  max-width: 400px;
  @include media-breakpoint-up(lg) {
    max-width: 310px;
  }
}

.min-width-1 {
  min-width: 100%;
  @include media-breakpoint-up(sm) {
    min-width: 270px;
  }
}

.img-shadow {
  box-shadow: -3px 2px 4px 0px rgba($black, 0.58);
  @include media-breakpoint-up(md) {
    box-shadow: -5px 4px 8px 0px rgba($black, 0.58);
  }
}

// Boxes
.box {
  box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.3);
  padding: 50px 30px;

  @include media-breakpoint-up(lg) {
    padding: 55px 30px 65px 44px;
  }
  @include media-breakpoint-up(xl) {
    padding: 75px 40px 85px 54px;
  }
}

.box-xs {
  padding: 38px 20px;
}

.page .box-list-xs {
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);

  .box-xs + .box-xs {
    border-top: 1px solid $san-juan;
  }

  @include media-breakpoint-up(md) {
    max-width: 170px;
  }
}