<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PeakForm Fitness</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.min.js"></script>
    <script src="components/base/script.js"></script>
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-absolute" data-rd-navbar="{&quot;responsive&quot;:{&quot;1200&quot;:{&quot;autoHeight&quot;:false}}}">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                          <!-- Logo-->
                          <div class="logo"><a class="logo-link" href="../peakform/index.html"><img class="logo-image-default" src="images/logo-default-134x53.svg" alt="PeakForm Fitness" width="134" height="53"/><img class="logo-image-inverse" src="images/logo-inverse-134x53.svg" alt="PeakForm Fitness" width="134" height="53"/></a></div>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#about-us">About Us</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#our-classes">Our Classes</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#team">Team</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#pricing">Pricing</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#schedule">Schedule</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#gallery">Gallery</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#contacts">Contacts</a>
                          </li>
                        </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Intro-->
      <section class="section section-into bg-image bg-image-1 bg-overlay-dark" style="background-image: url(images/bg-01.jpg)">
        <div class="container">
          <div class="row row-30 align-items-center">
            <div class="col-md-10 col-xl-6">
              <h1>WORK HARD. <br> FEEL PROUD.</h1>
              <p class="text-white lead" style="max-width: 500px;">Join PeakForm Fitness today to improve your well-being and transform your body and mind through guided workouts.</p><a class="btn btn-isi" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </section>
      <!-- About us-->
      <section class="section section-lg bg-default" id="about-us">
        <div class="container">
          <h2>About us</h2>
          <div class="row row-30">
            <div class="col-md-6">
              <p class="lead">PeakForm Fitness provides a relaxing, open atmosphere for exercise and wellness activities for everyone who cares about their well-being.</p>
              <p>Our center gives a warm welcome to all abilities and all age groups and we believe that our friendly atmosphere sets us apart as something special in the world of fitness training. Whether you are old or young, we hope to have something to excite you.</p>
            </div>
            <div class="col-md-6 col-xl-5 offset-xl-1">
              <div class="form-box">
                <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="components/rd-mailform/rd-mailform.php">
                  <div class="form-group">
                    <input class="form-control" id="contact-name" type="text" name="name" data-constraints="@Required">
                    <label class="form-label" for="contact-name"><span class="icon fa-user"></span>Your name *</label>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="contact-phone" type="text" name="phone" data-constraints="@PhoneNumber @Required">
                    <label class="form-label" for="contact-phone"><span class="icon fa-phone"></span>Your phone *</label>
                  </div>
                  <button class="btn btn-isi" type="submit">Book a workout</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Classes-->
      <section class="section section-lg bg-default" id="our-classes">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8 col-xxl-7 text-center">
              <h2>Our classes</h2>
              <p class="lead">At PeakForm Fitness, we offer a wide range of workouts and classes for everyone. Whatever your goal is, rest assured that our coaches have what you prefer.</p>
            </div>
          </div>
          <div class="row row-30 row-xxl-50 row-reset">
            <div class="col-md-6 col-lg-4">
                    <article class="service"><img src="images/service-02-390x260.jpg" alt="" width="390" height="260"/>
                      <div class="service-body">
                        <h4 class="service-title">Weight training </h4>
                        <p class="advatage-text">Make your muscles stronger with weight training at PeakForm.</p>
                      </div>
                    </article>
            </div>
            <div class="col-md-6 col-lg-4">
                    <article class="service"><img src="images/service-01-390x260.jpg" alt="" width="390" height="260"/>
                      <div class="service-body">
                        <h4 class="service-title">Crossfit</h4>
                        <p class="advatage-text">CrossFit is a conditioning workout made up of high-intensity functional exercises.</p>
                      </div>
                    </article>
            </div>
            <div class="col-md-6 col-lg-4">
                    <article class="service"><img src="images/service-03-390x260.jpg" alt="" width="390" height="260"/>
                      <div class="service-body">
                        <h4 class="service-title">Pilates</h4>
                        <p class="advatage-text">Pilates exercises develop the body through constant muscular effort.</p>
                      </div>
                    </article>
            </div>
            <div class="col-md-6 col-lg-4">
                    <article class="service"><img src="images/service-04-390x260.jpg" alt="" width="390" height="260"/>
                      <div class="service-body">
                        <h4 class="service-title">Yoga</h4>
                        <p class="advatage-text">Modern yoga helps you boost physical and mental well-being through exercises.</p>
                      </div>
                    </article>
            </div>
            <div class="col-md-6 col-lg-4">
                    <article class="service"><img src="images/service-05-390x260.jpg" alt="" width="390" height="260"/>
                      <div class="service-body">
                        <h4 class="service-title">Boxing</h4>
                        <p class="advatage-text">Boxing workouts include intense exercises aimed at strengthening your whole body.</p>
                      </div>
                    </article>
            </div>
            <div class="col-md-6 col-lg-4">
                    <article class="service"><img src="images/service-06-390x260.jpg" alt="" width="390" height="260"/>
                      <div class="service-body">
                        <h4 class="service-title">Aerobics</h4>
                        <p class="advatage-text">Aerobics is a great way to build endurance through simple yet effective training.</p>
                      </div>
                    </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Team-->
      <section class="section section-lg bg-default" id="team">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8 col-xxl-7 text-center">
              <h2>Meet our team members</h2>
              <p class="lead">PeakForm is a team of qualified, friendly, and helpful coaches always ready to help you achieve your goals in various types of workouts.</p>
            </div>
          </div>
          <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="2" data-lg-items="3" data-xl-items="3" data-autoplay="false" data-owl="{&quot;dots&quot;:true,&quot;autoplayTimeout&quot;:3500}">
                  <article class="person">
                    <div class="person-figure"><img class="person-img" src="images/team-01-390x575.jpg" alt="" width="390" height="575"/>
                      <ul class="list list-social">
                        <li class="list-social-item"><a class="icon icon-sm icosocial-twitter" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-facebook" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-instagram" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-telegram" href="#"></a></li>
                      </ul>
                    </div>
                    <h4 class="person-name"><a href="#">Jenny McKinney</a></h4>
                    <p class="person-position">Pilates, coach</p>
                  </article>
                  <article class="person">
                    <div class="person-figure"><img class="person-img" src="images/team-02-390x575.jpg" alt="" width="390" height="575"/>
                      <ul class="list list-social">
                        <li class="list-social-item"><a class="icon icon-sm icosocial-twitter" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-facebook" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-instagram" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-telegram" href="#"></a></li>
                      </ul>
                    </div>
                    <h4 class="person-name"><a href="#">Liam Wilson</a></h4>
                    <p class="person-position">Fitness trainer</p>
                  </article>
                  <article class="person">
                    <div class="person-figure"><img class="person-img" src="images/team-03-390x575.jpg" alt="" width="390" height="575"/>
                      <ul class="list list-social">
                        <li class="list-social-item"><a class="icon icon-sm icosocial-twitter" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-facebook" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-instagram" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-telegram" href="#"></a></li>
                      </ul>
                    </div>
                    <h4 class="person-name"><a href="#">Michael Lee</a></h4>
                    <p class="person-position">Boxing, coach</p>
                  </article>
                  <article class="person">
                    <div class="person-figure"><img class="person-img" src="images/team-04-390x575.jpg" alt="" width="390" height="575"/>
                      <ul class="list list-social">
                        <li class="list-social-item"><a class="icon icon-sm icosocial-twitter" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-facebook" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-instagram" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-telegram" href="#"></a></li>
                      </ul>
                    </div>
                    <h4 class="person-name"><a href="#">Ethan Bell</a></h4>
                    <p class="person-position">Crossfit, coach</p>
                  </article>
                  <article class="person">
                    <div class="person-figure"><img class="person-img" src="images/team-05-390x575.jpg" alt="" width="390" height="575"/>
                      <ul class="list list-social">
                        <li class="list-social-item"><a class="icon icon-sm icosocial-twitter" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-facebook" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-instagram" href="#"></a></li>
                        <li class="list-social-item"><a class="icon icon-sm icosocial-telegram" href="#"></a></li>
                      </ul>
                    </div>
                    <h4 class="person-name"><a href="#">Annie Smith</a></h4>
                    <p class="person-position">Yoga, coach</p>
                  </article>
          </div>
        </div>
      </section>
      <!-- Pricing-->
      <section class="section section-lg bg-default" id="pricing">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8 col-xxl-7 text-center">
              <h2>Select your pricing plan</h2>
              <p class="lead">We offer three varied pricing plans to satisfy the needs of every customer. From group training to individual workouts, there’s something for everyone.</p>
            </div>
          </div>
          <div class="row row-30">
            <div class="col-md-6 col-lg-4">
              <article class="pricing">
                <div class="pricing-header">
                  <h4 class="pricing-title">Basic</h4>
                  <div class="pricing-price">$40.00</div>
                </div>
                <div class="pricing-body">
                  <ul class="list-lg">
                    <li class="list-item">Gym</li>
                    <li class="list-item">Crossfit</li>
                    <li class="list-item">Yoga</li>
                  </ul><a class="btn btn-isi" href="#">Choose</a>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <article class="pricing">
                <div class="pricing-header">
                  <h4 class="pricing-title">Standart</h4>
                  <div class="pricing-price">$60.00</div>
                </div>
                <div class="pricing-body">
                  <ul class="list-lg">
                    <li class="list-item">Gym</li>
                    <li class="list-item">Crossfit</li>
                    <li class="list-item">Yoga</li>
                    <li class="list-item">Pilates</li>
                    <li class="list-item">Boxing</li>
                  </ul><a class="btn btn-isi" href="#">Choose</a>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <article class="pricing">
                <div class="pricing-header">
                  <h4 class="pricing-title">Premium</h4>
                  <div class="pricing-price">$99.00</div>
                </div>
                <div class="pricing-body">
                  <ul class="pricing-list list-lg">
                    <li class="list-item">Gym</li>
                    <li class="list-item">Crossfit</li>
                    <li class="list-item">Yoga</li>
                    <li class="list-item">Pilates</li>
                    <li class="list-item">Boxing</li>
                    <li class="list-item">Personal Coach</li>
                  </ul><a class="btn btn-isi" href="#">Choose</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Schedule-->
      <section class="section section-lg bg-default" id="schedule">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
              <h2>Schedule</h2>
              <p class="lead">Interested in joining our classes and workouts? Consult the schedule below to find out when our workouts take place. You can also learn more about each class duration below.</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="accordion accordion-flush" id="accordion1">
                      <div class="accordion-item">
                        <h5 class="accordion-heading" id="accordion1-accordion-head-mhmpbiqn">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-accordion-body-oxrjdihx" aria-controls="accordion1-accordion-body-oxrjdihx" aria-expanded="true">Monday
                          </button><span class="accordion-arrow"></span>
                        </h5>
                        <div class="accordion-collapse collapse show" id="accordion1-accordion-body-oxrjdihx" aria-labelledby="accordion1-accordion-head-mhmpbiqn" data-bs-parent="#accordion1">
                          <div class="accordion-body">
                            <div class="row row-15 row-md-20 gutters-20">
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">10:00</div>
                                    <h6 class="event-title"> Crossfit</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>60min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Ethan Bell</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">11:00</div>
                                    <h6 class="event-title"> Pilates</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>90min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Jenny McKinney</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">12:30</div>
                                    <h6 class="event-title"> Boxing</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>120min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Michael Lee</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">14:30</div>
                                    <h6 class="event-title"> Yoga</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>90min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Annie Smith</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-heading" id="accordion1-accordion-head-snisliwy">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-accordion-body-kipbgbdw" aria-controls="accordion1-accordion-body-kipbgbdw" aria-expanded="false">Tuesday
                          </button><span class="accordion-arrow"></span>
                        </h5>
                        <div class="accordion-collapse collapse" id="accordion1-accordion-body-kipbgbdw" aria-labelledby="accordion1-accordion-head-snisliwy" data-bs-parent="#accordion1">
                          <div class="accordion-body">
                            <div class="row row-15 row-md-20 gutters-20">
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">10:00</div>
                                    <h6 class="event-title"> Crossfit</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>60min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Ethan Bell</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">11:00</div>
                                    <h6 class="event-title"> Pilates</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>90min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Jenny McKinney</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-heading" id="accordion1-accordion-head-rhhfwmxj">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-accordion-body-gkukowlf" aria-controls="accordion1-accordion-body-gkukowlf" aria-expanded="false">Wednesday
                          </button><span class="accordion-arrow"></span>
                        </h5>
                        <div class="accordion-collapse collapse" id="accordion1-accordion-body-gkukowlf" aria-labelledby="accordion1-accordion-head-rhhfwmxj" data-bs-parent="#accordion1">
                          <div class="accordion-body">
                            <div class="row row-15 row-md-20 gutters-20">
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">10:00</div>
                                    <h6 class="event-title"> Crossfit</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>60min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Ethan Bell</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-heading" id="accordion1-accordion-head-yhdslcwv">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-accordion-body-ymnpouts" aria-controls="accordion1-accordion-body-ymnpouts" aria-expanded="false">Thursday
                          </button><span class="accordion-arrow"></span>
                        </h5>
                        <div class="accordion-collapse collapse" id="accordion1-accordion-body-ymnpouts" aria-labelledby="accordion1-accordion-head-yhdslcwv" data-bs-parent="#accordion1">
                          <div class="accordion-body">
                            <div class="row row-15 row-md-20 gutters-20">
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">10:00</div>
                                    <h6 class="event-title"> Crossfit</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>60min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Ethan Bell</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">11:00</div>
                                    <h6 class="event-title"> Pilates</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>90min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Jenny McKinney</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-heading" id="accordion1-accordion-head-ymldpepn">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-accordion-body-xgrvmmvp" aria-controls="accordion1-accordion-body-xgrvmmvp" aria-expanded="false">Friday
                          </button><span class="accordion-arrow"></span>
                        </h5>
                        <div class="accordion-collapse collapse" id="accordion1-accordion-body-xgrvmmvp" aria-labelledby="accordion1-accordion-head-ymldpepn" data-bs-parent="#accordion1">
                          <div class="accordion-body">
                            <div class="row row-15 row-md-20 gutters-20">
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">10:00</div>
                                    <h6 class="event-title"> Crossfit</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>60min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Ethan Bell</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">11:00</div>
                                    <h6 class="event-title"> Pilates</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>90min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Jenny McKinney</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-heading" id="accordion1-accordion-head-lvduoune">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-accordion-body-sjunnkjp" aria-controls="accordion1-accordion-body-sjunnkjp" aria-expanded="false">Saturday
                          </button><span class="accordion-arrow"></span>
                        </h5>
                        <div class="accordion-collapse collapse" id="accordion1-accordion-body-sjunnkjp" aria-labelledby="accordion1-accordion-head-lvduoune" data-bs-parent="#accordion1">
                          <div class="accordion-body">
                            <div class="row row-15 row-md-20 gutters-20">
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">10:00</div>
                                    <h6 class="event-title"> Crossfit</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>60min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Ethan Bell</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">11:00</div>
                                    <h6 class="event-title"> Pilates</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>90min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Jenny McKinney</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-heading" id="accordion1-accordion-head-janxrluu">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-accordion-body-shwubjng" aria-controls="accordion1-accordion-body-shwubjng" aria-expanded="false">Sunday
                          </button><span class="accordion-arrow"></span>
                        </h5>
                        <div class="accordion-collapse collapse" id="accordion1-accordion-body-shwubjng" aria-labelledby="accordion1-accordion-head-janxrluu" data-bs-parent="#accordion1">
                          <div class="accordion-body">
                            <div class="row row-15 row-md-20 gutters-20">
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">10:00</div>
                                    <h6 class="event-title"> Crossfit</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>60min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Ethan Bell</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">11:00</div>
                                    <h6 class="event-title"> Pilates</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>90min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Jenny McKinney</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">12:30</div>
                                    <h6 class="event-title"> Boxing</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>120min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Michael Lee</span></div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-xl-auto col-xxl-3">
                                <div class="event">
                                  <div class="event-header">
                                    <div class="event-time">14:30</div>
                                    <h6 class="event-title"> Yoga</h6>
                                  </div>
                                  <div class="event-footer">
                                    <div class="event-duration"><span class="icon fa-clock-o"></span><span>90min</span></div>
                                    <div class="event-coach"><span class="icon fa-user"></span><span>Annie Smith</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Gallery-->
      <section class="section section-md bg-default" id="gallery">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8 col-xxl-7 text-center">
              <h2>Our gallery</h2>
              <p class="lead">Take a look at the best moments from the workouts happening at PeakForm. In our gallery, we also regularly publish photos from events held at our fitness center.</p>
            </div>
          </div>
          <div class="row row-15 row-xs-30 row-xxl-50" data-lightgallery>
            <div class="col-md-4">
              <div class="row row-15 row-xs-30 row-xxl-50">
                <div class="col-xs-6 col-md-12">
                        <!-- Thumbnail Calma-->
                        <div class="thumbnail"><a class="thumbnail-figure lightgallery-item" href="images/gallery-01-original.jpg"><img class="thumbnail-image" src="images/gallery-01-390x620.jpg" alt="" width="390" height="620"/></a></div>
                </div>
                <div class="col-xs-6 col-md-12">
                        <!-- Thumbnail Calma-->
                        <div class="thumbnail"><a class="thumbnail-figure lightgallery-item" href="images/gallery-04-original.jpg"><img class="thumbnail-image" src="images/gallery-04-390x400.jpg" alt="" width="390" height="400"/></a></div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row row-15 row-xs-30 row-xxl-50">
                <div class="col-xs-6">
                        <!-- Thumbnail Calma-->
                        <div class="thumbnail"><a class="thumbnail-figure lightgallery-item" href="images/gallery-02-original.jpg"><img class="thumbnail-image" src="images/gallery-02-390x500.jpg" alt="" width="390" height="500"/></a></div>
                </div>
                <div class="col-xs-6">
                        <!-- Thumbnail Calma-->
                        <div class="thumbnail"><a class="thumbnail-figure lightgallery-item" href="images/gallery-03-original.jpg"><img class="thumbnail-image" src="images/gallery-03-390x500.jpg" alt="" width="390" height="500"/></a></div>
                </div>
                <div class="col-12">
                        <!-- Thumbnail Calma-->
                        <div class="thumbnail"><a class="thumbnail-figure lightgallery-item" href="images/gallery-05-original.jpg"><img class="thumbnail-image" src="images/gallery-05-830x520.jpg" alt="" width="830" height="520"/></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer-->
      <footer class="section footer bg-dark" id="contacts">
        <div class="container">
          <div class="row row-50">
            <div class="col-md-12 col-xl-5">
              <h2>Find out more <br> about us</h2>
              <p class="lead">Get Your Quote or Call: +1 (800) 756-32-56</p>
              <button class="btn btn-isi" data-bs-toggle="modal" data-bs-target="#consultation"> Request consultation</button>
            </div>
            <div class="col-md-6 col-xl-4 col-xxl-3 offset-xxl-1">
              <h4 class="footer-title">Contact Us</h4><a class="d-block footer-phone-link" href="tel:#">+1 (800) 756-32-56</a><a class="d-block" href="mailto:#">mail@demolink.org</a>
              <p class="footer-address">2099 Walnut Hill Ln Lafayette, CA 55262</p>
            </div>
            <div class="col-md-6 col-xl-2 offset-xl-1 text-xl-end">
              <h4 class="footer-title">Social media</h4>
              <ul class="list list-social">
                <li class="list-social-item"><a class="icon icon-sm icosocial-twitter" href="#"></a></li>
                <li class="list-social-item"><a class="icon icon-sm icosocial-facebook" href="#"></a></li>
                <li class="list-social-item"><a class="icon icon-sm icosocial-instagram" href="#"></a></li>
                <li class="list-social-item"><a class="icon icon-sm icosocial-telegram" href="#"></a></li>
              </ul>
            </div>
          </div>
                <!-- Copyright-->
                <p class="rights"><span class="text-primary">PeakForm Fitness</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All rights reserved</span></p>
                <p class="small block block-xl footer-info">Established in 2011, PeakForm Fitness gives a warm welcome to all abilities and all age-groups.We have fully qualified, experienced coaches who are on hand to assist and work with you at all times.</p>
        </div>
      </footer>
      <!--Modal-->
      <div class="modal fade text-start" id="consultation" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Request consultation</h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="close"><span class="icon mdi mdi-close"></span></button>
            </div>
            <div class="modal-body">
              <form class="rd-mailform form-modal" data-form-output="form-output-global" data-form-type="contact" method="post" action="components/rd-mailform/rd-mailform.php">
                <div class="form-group">
                  <input class="form-control" id="contact-name-modal" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-name-modal"><span class="icon fa-user"></span>Your name *</label>
                </div>
                <div class="form-group">
                  <input class="form-control" id="contact-name-phone" type="text" name="phone" data-constraints="@PhoneNumber @Required">
                  <label class="form-label" for="contact-name-phone"><span class="icon fa-phone"></span>Your phone *</label>
                </div>
                <button class="btn btn-isi" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="form-output snackbar snackbar-primary" id="form-output-global"></div>
    </div>
    <div class="to-top fa-angle-up"></div>
  </body>
</html>