@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Tag
.tag {
	display: inline-block;
	padding: px-to-rem( 6px, 10px );
	font-size: $h6-font-size;
	line-height: 1.2;
	text-align: center;
	color: $dark;
	background-color: $white;
	border: 1px solid $white;
}

a.tag {
	transition: $transition-base;

	&:hover {
		color: $white;
		background-color: $primary;
		border-color: $primary;
	}
}
