.accordion-button {
	&:not(.collapsed) {
		color: $white;
		background-color: $primary;
		box-shadow: inset 0 ($accordion-border-width * -1) 0 $accordion-border-color;
		
		&::after {
			background-image: escape-svg($accordion-button-active-icon);
			transform: $accordion-icon-transform;
		}
	}
}