// Mixins

@mixin bg-adjacent() {
	&:not([style*='background-']) + &:not([style*='background-']) {
		padding-top: 0;
	}
}

.bg-default {
	@include bg-adjacent();
	background-color: $body-bg;
}

.bg-white {
	background-color: $white;
}

.bg-transparent {
	background-color: transparent;
}

.bg-primary {
	background-color: $primary;
}

.bg-secondary {
	background-color: $secondary;
}

.bg-dark {
	background-color: $dark;
}


// Transparent background
.bg-transparent {
	@include bg-adjacent();
}


// Image background
.bg-image {
	background-position: center center;
	background-size: cover;
}

.bg-image-1 {
  background-position: 70% 0;
}


// Colored overlay
[class*='overlay-'] {
	&,
	.container {
		position: relative;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		pointer-events: none;
		opacity: .5;
	}
}

.overlay {
	&-08 {
		&::before {
			opacity: .8;
		}
	}

	&-09 {
		&::before {
			opacity: .9;
		}
	}
}

@each $name, $color in $theme-colors {
	[class*='overlay-#{$name}'] {
		&::before {
			background-color: $color;
		}
	}
}


// Background layer
.bg-layer {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 50%;
}

.desktop [class*='overlay-']::before {
  opacity: 0;
}