@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";
@import "default";

.owl-prev,
.owl-next {
	color: $black;
	transition: $transition-base;

	&:hover {
		color: $primary;
	}

	&.disabled {
		opacity: .5;
		pointer-events: none;
	}
}
