//
// Sections
//

$insets: (15px, 30px, 35px, 40px, 50px, 60px, 66px, 75px, 90px, 100px, 120px, 145px, 150px, 165px);

@include indent-responsive(section, '', (padding-top, padding-bottom), $grid-breakpoints, $insets);
@include indent-responsive(section, top, padding-top, $grid-breakpoints, $insets);
@include indent-responsive(section, bottom, padding-bottom, $grid-breakpoints, $insets);

.section-only-child {
	flex-grow: 1;
}

.section-md {
	padding: 70px 0;

	@include media-breakpoint-up(md) {
		padding: 100px 0;
	}

	@include media-breakpoint-up(lg) {
		padding: 120px 0;
	}

	@include media-breakpoint-up(xl) {
		padding: 150px 0;
	}
}

.section-intro {
	padding: 70px 0;

	@include media-breakpoint-up(md) {
		padding: 150px 0 100px;
	}

	@include media-breakpoint-up(xl) {
		padding: 290px 0 180px;
	}
}
