@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Modifying
.desktop .section-one-screen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


// Sizing
.section-sm,
.section-md,
.section-lg,
.section-xl {
	padding: 70px 0;
}


// Media
@include media-breakpoint-up(md) {
	.section-md {
		padding: 90px 0;
	}
}

@include media-breakpoint-up(lg) {
	.section-md {
		padding: 120px 0;
	}
}

@include media-breakpoint-up(xl) {
	.section-md {
		padding: 150px 0;
	}
}


.section-into {
	position: relative;
	background-position: 50% 0;
	background-size: contain;
	background-image: url(../../images/bg-01.jpg);
	background-repeat: repeat-x;

	@include media-breakpoint-up(xl) {
		padding-top: 190px;
	}
}
